Repository PrairieLearn/PrairieLearn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, element, python, github_actions, autograder-python

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'mkdocs.yml']
docker:
  - changed-files:
      - any-glob-to-any-file: ['**/Dockerfile', 'docker-compose.yml']
element:
  - changed-files:
      - any-glob-to-any-file: ['apps/prairielearn/elements/**']
python:
  - changed-files:
      - any-glob-to-any-file: ['apps/prairielearn/python/**']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']
autograder-python:
  - changed-files:
      - any-glob-to-any-file: ['graders/python/**']

fixing some issues with testing
  apps/prairielearn/src/lib/question-render.ts
Labels: none

bump version
  docs/requirements.txt
Labels: documentation

fix nullable in db types
  apps/prairielearn/src/lib/db-types.ts
Labels: none

Update .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/1-bug.yml
Labels: github_actions

Update .github/ISSUE_TEMPLATE/2-enhancement.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: github_actions

Simplify submission file query
  apps/prairielearn/src/pages/submissionFile/submissionFile.sql
  apps/prairielearn/src/pages/submissionFile/submissionFile.ts
Labels: none

Fix issues from code review
  apps/prairielearn/src/tests/zoneGradingHomework.test.ts
  testCourse/questions/variantAccess/question.html
Labels: none

Remove unused code from homework and exam tests
  apps/prairielearn/src/tests/homework.test.ts
  apps/prairielearn/src/tests/zoneGradingExam.test.ts
  apps/prairielearn/src/tests/zoneGradingHomework.test.ts
Labels: none

Fix failing tests
  apps/prairielearn/src/tests/homework.test.ts
  apps/prairielearn/src/tests/zoneGradingExam.test.ts
  apps/prairielearn/src/tests/zoneGradingHomework.test.ts
Labels: none

Remove supported browsers list from workspace docs
  docs/workspaces/index.md
Labels: documentation

Remove placeholder
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.html.ts
Labels: none

Set type and reduce complexity
  apps/prairielearn/src/sync/course-db.ts
Labels: none

make format
  apps/prairielearn/src/sync/course-db.ts
Labels: none

Remove terminal auto-open from VS Code workspaces
  workspaces/vscode-base/Dockerfile
  workspaces/vscode-base/tasks.json
Labels: docker

Update apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/course-db.ts
Labels: none

Remove unused code from homework and exam tests (#11631)
  apps/prairielearn/src/tests/homework.test.ts
  apps/prairielearn/src/tests/zoneGradingExam.test.ts
  apps/prairielearn/src/tests/zoneGradingHomework.test.ts
Labels: none

Add quotes to QIDs in sync errors to highlight whitespace (#11604)
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: none

Remove supported browsers list from workspace docs (#11632)
  docs/workspaces/index.md
Labels: documentation

fixing formating
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/question-render.ts
  apps/prairielearn/src/lib/question-testing.ts
  apps/prairielearn/src/models/question.sql
  apps/prairielearn/src/pages/generatedFilesQuestion/generatedFilesQuestion.ts
  apps/prairielearn/src/question-servers/freeform.js
  apps/prairielearn/src/sync/fromDisk/questions.ts
  docs/question.md
Labels: documentation

fix ruff and pyright
  apps/prairielearn/elements/pl-checkbox/pl-checkbox.py
  pyproject.toml
Labels: element

Add editorconfig to extension recs
  .vscode/extensions.json
Labels: none

Add newline
  docs/requirements.txt
Labels: documentation

Updated linter rules to sort import groups
  .eslintrc.cjs
Labels: none

Remove accidental import
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.html.ts
Labels: none

Undo format errors
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.html.ts
Labels: none

Add issue templates that set the issue type (#11629)
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: github_actions

Reorder
  .vscode/extensions.json
Labels: none

Remove outdated markdown files about syncing and sync tests
  apps/prairielearn/src/sync/process.md
  apps/prairielearn/src/sync/tests.md
Labels: none

Update settings, format pyproject
  .vscode/settings.json
  pyproject.toml
Labels: none

Add editorconfig to extension recs (#11634)
  .vscode/extensions.json
Labels: none

Change caps
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: github_actions

Add even-better-toml
  .vscode/extensions.json
Labels: none

Update .github/ISSUE_TEMPLATE/2-enhancement.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: github_actions

Add makefile / ci step
  .github/workflows/main.yml
  Makefile
Labels: github_actions

Change caps in issue template (#11638)
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: github_actions
