Repository PrairieLearn/PrairieLearn, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, element, SQL, python, javascript, github_actions, autograder-python

Revert back to pull_request_target now that changes are working.
  .github/workflows/label-prs.yml
Labels: none

Label some PRs by title, change workflow for testing
  .github/release-drafter.yml
  .github/workflows/label-prs.yml
Labels: github_actions

Change to PR
  .github/workflows/label-prs.yml
Labels: none

Pin release-drafter and add GITHUB_TOKEN
  .github/workflows/label-prs.yml
Labels: none

works for student view
  apps/prairielearn/src/lib/question-render.ts
  apps/prairielearn/src/pages/instructorQuestionPreview/instructorQuestionPreview.ts
  testCourse/courseInstances/Sp15/assessments/hw13-params/infoAssessment.json
Labels: javascript

Try a different labeler
  .github/release-drafter.yml
  .github/title-labeler.yml
  .github/workflows/label-prs.yml
Labels: github_actions

Fix bad title regex
  .github/title-labeler.yml
Labels: github_actions

Work around missing case insensitivity
  .github/title-labeler.yml
Labels: github_actions

Change to pull_request_target
  .github/workflows/label-prs.yml
Labels: none

Fix memory leak caused by flash middleware
  .changeset/neat-experts-look.md
  packages/flash/src/index.ts
Labels: javascript

.github/labeler.yml:

documentation:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['docs/*', 'mkdocs.yml']
          - all-globs-to-all-files: '!docs/requirements.txt'
docker:
  - changed-files:
      - any-glob-to-any-file: ['**/Dockerfile', 'docker-compose.yml']
element:
  - changed-files:
      - any-glob-to-any-file: ['apps/prairielearn/elements/*']
SQL:
  - changed-files:
      - any-glob-to-any-file: ['**/*.sql']
python:
  - changed-files:
      - any-glob-to-any-file: ['apps/prairielearn/elements/*']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['**/*.js', '**/*.ts']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/*']
autograder-python:
  - changed-files:
      - any-glob-to-any-file: ['graders/python/*']

# Mark any PRs not targeting master with 'do not merge'.
# This can be used to easily identify PRs that are dependent on another PR.
'do not merge':
  - base-branch: '!master'
