Repository PrairieLearn/PrairieLearn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, element, python, tooling, github_actions, autograder-python, preact, schema

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'mkdocs.yml'
docker:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Dockerfile'
          - 'docker-compose.yml'
element:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/elements/**'
python:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/python/**'
          - 'apps/prairielearn/elements/**/*.py'
          - 'requirements.txt'
          - 'pyproject.toml'
          - 'docs/requirements.txt'

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - 'Makefile'
github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
autograder-python:
  - changed-files:
      - any-glob-to-any-file:
          - 'graders/python/**'
preact:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/assets/scripts/esm-bundles/react-fragments/*.ts'
schema:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/src/schemas/**'

Add 'this is bad' note
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

wip
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.ts
Labels: none

fix SQL
  apps/prairielearn/src/lib/question-render.sql
Labels: none

Revert
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftsSampleQuestions.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/SampleQuestionDemo.tsx
Labels: none

Revert
  apps/prairielearn/src/lib/client/nuqs.tsx
Labels: none

Fix empty groups in LTI grade syncing (#12421)
  apps/prairielearn/src/ee/lib/lti13.sql
Labels: none

cleanup
  apps/prairielearn/src/lib/db-types.ts
Labels: none

revert
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftsSampleQuestions.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/SampleQuestionDemo.tsx
  apps/prairielearn/src/lib/client/nuqs.tsx
Labels: none

PR comments
  apps/prairielearn/src/lib/editorUtil.ts
  packages/eslint-plugin-prairielearn/src/rules/no-unused-sql-blocks.ts
Labels: none

Rename all files
  apps/prairielearn/src/components/AiGradingHtmlPreview.html.tsx
  apps/prairielearn/src/components/AssessmentBadge.html.tsx
  apps/prairielearn/src/components/AssessmentModuleHeading.html.tsx
  apps/prairielearn/src/components/AssessmentNavigation.html.tsx
  apps/prairielearn/src/components/AssessmentOpenInstancesAlert.html.tsx
  apps/prairielearn/src/components/AssessmentQuestions.html.tsx
  apps/prairielearn/src/components/AssessmentRegenerate.html.tsx
  apps/prairielearn/src/components/AssessmentScorePanel.html.tsx
  apps/prairielearn/src/components/AssessmentSetHeading.html.tsx
  apps/prairielearn/src/components/CommentPopover.html.tsx
  apps/prairielearn/src/components/CourseRequestsTable.html.tsx
  apps/prairielearn/src/components/EditQuestionPointsScore.html.tsx
  apps/prairielearn/src/components/GroupWorkInfoContainer.html.tsx
  apps/prairielearn/src/components/HeadContents.html.tsx
  apps/prairielearn/src/components/InstructorInfoPanel.html.tsx
  apps/prairielearn/src/components/IssueBadge.html.tsx
  apps/prairielearn/src/components/JobSequenceResults.html.tsx
  apps/prairielearn/src/components/JobStatus.html.tsx
  apps/prairielearn/src/components/Modal.html.tsx
  apps/prairielearn/src/components/Navbar.html.tsx
  apps/prairielearn/src/components/NavbarContext.html.tsx
  apps/prairielearn/src/components/Pager.html.tsx
  apps/prairielearn/src/components/PersonalNotesPanel.html.tsx
  apps/prairielearn/src/components/ProgressCircle.html.tsx
  apps/prairielearn/src/components/QRCodeModal.html.tsx
  apps/prairielearn/src/components/QuestionContainer.html.tsx
  apps/prairielearn/src/components/QuestionNavigation.html.tsx
  apps/prairielearn/src/components/QuestionScore.html.tsx
  apps/prairielearn/src/components/QuestionsTable.html.tsx
  apps/prairielearn/src/components/SideNav.html.tsx
  apps/prairielearn/src/components/StudentAccessRulesPopover.html.tsx
  apps/prairielearn/src/components/SubmissionPanel.html.tsx
  apps/prairielearn/src/components/SyncProblemButton.html.tsx
  apps/prairielearn/src/components/TagBadge.html.tsx
  apps/prairielearn/src/components/TagDescription.html.tsx
  apps/prairielearn/src/components/TimeLimitExpiredModal.html.tsx
Labels: none

oops
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
Labels: none

Update docs
  docs/dev-guide/guide.md
Labels: documentation

temp ui
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingRubricEditingV2.js
  apps/prairielearn/src/lib/manualGrading.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestionRubricTableV2.html.tsx
Labels: none

Add Zod schema for AI Grading, parse on page (#12420)
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/src/ee/lib/ai-grading/types.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.types.ts
Labels: none

Update apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

Update apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

temp post handler
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingRubricEditingV2.js
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
Labels: none

Update packages/formatter/src/date.ts
  packages/formatter/src/date.ts
Labels: none

Update packages/formatter/src/date.ts
  packages/formatter/src/date.ts
Labels: none

Update packages/formatter/src/date.ts
  packages/formatter/src/date.ts
Labels: none

Update guide.md
  docs/dev-guide/guide.md
Labels: documentation

Update db-types.test.ts
  apps/prairielearn/src/lib/db-types.test.ts
Labels: none

Rename all component files to tsx (#12426)
  apps/prairielearn/src/components/AiGradingHtmlPreview.html.tsx
  apps/prairielearn/src/components/AssessmentBadge.html.tsx
  apps/prairielearn/src/components/AssessmentModuleHeading.html.tsx
  apps/prairielearn/src/components/AssessmentNavigation.html.tsx
  apps/prairielearn/src/components/AssessmentOpenInstancesAlert.html.tsx
  apps/prairielearn/src/components/AssessmentQuestions.html.tsx
  apps/prairielearn/src/components/AssessmentRegenerate.html.tsx
  apps/prairielearn/src/components/AssessmentScorePanel.html.tsx
  apps/prairielearn/src/components/AssessmentSetHeading.html.tsx
  apps/prairielearn/src/components/CommentPopover.html.tsx
  apps/prairielearn/src/components/CourseRequestsTable.html.tsx
  apps/prairielearn/src/components/EditQuestionPointsScore.html.tsx
  apps/prairielearn/src/components/GroupWorkInfoContainer.html.tsx
  apps/prairielearn/src/components/HeadContents.html.tsx
  apps/prairielearn/src/components/InstructorInfoPanel.html.tsx
  apps/prairielearn/src/components/IssueBadge.html.tsx
  apps/prairielearn/src/components/JobSequenceResults.html.tsx
  apps/prairielearn/src/components/JobStatus.html.tsx
  apps/prairielearn/src/components/Modal.html.tsx
  apps/prairielearn/src/components/Navbar.html.tsx
  apps/prairielearn/src/components/NavbarContext.html.tsx
  apps/prairielearn/src/components/Pager.html.tsx
  apps/prairielearn/src/components/PersonalNotesPanel.html.tsx
  apps/prairielearn/src/components/ProgressCircle.html.tsx
  apps/prairielearn/src/components/QRCodeModal.html.tsx
  apps/prairielearn/src/components/QuestionContainer.html.tsx
  apps/prairielearn/src/components/QuestionNavigation.html.tsx
  apps/prairielearn/src/components/QuestionScore.html.tsx
  apps/prairielearn/src/components/QuestionsTable.html.tsx
  apps/prairielearn/src/components/SideNav.html.tsx
  apps/prairielearn/src/components/StudentAccessRulesPopover.html.tsx
  apps/prairielearn/src/components/SubmissionPanel.html.tsx
  apps/prairielearn/src/components/SyncProblemButton.html.tsx
  apps/prairielearn/src/components/TagBadge.html.tsx
  apps/prairielearn/src/components/TagDescription.html.tsx
  apps/prairielearn/src/components/TimeLimitExpiredModal.html.tsx
  docs/dev-guide/guide.md
Labels: documentation

Add GITHUB_TOKEN to check.yml
  .github/workflows/check.yml
Labels: tooling, github_actions

Ignore
  apps/prairielearn/src/lib/db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
Labels: none

Ensure all schemas list all columns in db-types (#12404)
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.html.ts
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.ts
  apps/prairielearn/src/lib/db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/pages/authCallbackLti/authCallbackLti.ts
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.html.tsx
  apps/prairielearn/src/tests/database.test.sql
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: none

Remove unused SQL queries (#12424)
  .changeset/slow-parts-jam.md
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.sql
  apps/prairielearn/src/ee/pages/administratorInstitutionSaml/administratorInstitutionSaml.sql
  apps/prairielearn/src/ee/pages/instructorInstanceAdminBilling/instructorInstanceAdminBilling.sql
  apps/prairielearn/src/lib/editorUtil.ts
  apps/prairielearn/src/lib/features/manager.sql
  apps/prairielearn/src/lib/github.sql
  apps/prairielearn/src/tests/groupExamRolePermissions.test.sql
  apps/prairielearn/src/tests/groupGenerateAndDelete.test.sql
  apps/prairielearn/src/tests/groupRolePermissions.test.sql
  apps/prairielearn/src/tests/groupStudent.test.sql
  apps/prairielearn/src/tests/helperQuestion.sql
  apps/prairielearn/src/tests/instructorQuestions.test.sql
  apps/prairielearn/src/tests/newsItems.test.sql
  apps/prairielearn/src/tests/sprocs/check_course_instance_access.test.sql
  apps/workspace-host/src/interface.sql
  eslint.config.mjs
  packages/eslint-plugin-prairielearn/src/index.ts
  packages/eslint-plugin-prairielearn/src/rules/no-unused-sql-blocks.ts
  packages/migrations/src/migrations/migrations.sql
Labels: none

unused
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.tsx
Labels: none

Add explanation
  apps/prairielearn/src/components/EditQuestionPointsScore.html.tsx
Labels: none

Throw loud error
  apps/prairielearn/src/components/EditQuestionPointsScore.html.tsx
Labels: none

nit
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.ts
Labels: none

Add disclaimer
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

Prepare for Zod 4
  apps/grader-host/src/lib/receiveFromQueue.ts
  apps/prairielearn/src/admin_queries/util.ts
  apps/prairielearn/src/api/trpc/routers/course-files/createQuestion.ts
  apps/prairielearn/src/api/trpc/routers/course-files/updateQuestionFiles.ts
  apps/prairielearn/src/ee/auth/lti13/lti13Auth.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.ts
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.html.ts
  apps/prairielearn/src/lib/assessment.ts
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/manualGrading.ts
  apps/prairielearn/src/lib/submissions-upload.ts
  apps/prairielearn/src/models/variant.ts
  apps/prairielearn/src/pages/administratorQueries/administratorQueries.html.ts
  apps/prairielearn/src/pages/administratorQuery/administratorQuery.html.ts
  apps/prairielearn/src/pages/instructorAssessmentDownloads/instructorAssessmentDownloads.ts
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.types.ts
Labels: none

Use full row returns for Gradebook (#12396)
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.html.tsx
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.sql
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

bump jsonschema2md
  docs/requirements.txt
Labels: documentation, python

wip
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

Split out gradebook stuff
  apps/prairielearn/src/lib/gradebook.shared.ts
  apps/prairielearn/src/lib/gradebook.sql
  apps/prairielearn/src/lib/gradebook.ts
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.html.tsx
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

Cookie and URL utils
  apps/prairielearn/assets/scripts/navbarClient.ts
  apps/prairielearn/src/lib/client/cookie.ts
  apps/prairielearn/src/lib/url.ts
Labels: none

Fixup
  apps/prairielearn/src/lib/gradebook.shared.ts
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.html.tsx
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.sql
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
Labels: none

zod
  apps/prairielearn/src/lib/gradebook.shared.ts
  apps/prairielearn/src/models/question.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
Labels: none
