Repository PrairieLearn/PrairieLearn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, element, python, tooling, github_actions, autograder-python, preact, schema

wip
  apps/prairielearn/src/lib/gradebook.ts
Labels: none

patch autograder linecache for ipynb
  graders/python/python_autograder/pl_execute.py
Labels: autograder-python

coderabbit suggestion
  apps/prairielearn/src/lib/url.ts
Labels: none

.
  apps/prairielearn/src/lib/url.ts
Labels: none

types
  apps/prairielearn/src/lib/client/cookie.ts
Labels: none

Update Zod schema
  apps/prairielearn/src/lib/db-types.ts
Labels: none

Add AuditEventSchema
  apps/prairielearn/src/lib/db-types.ts
Labels: none

sqlfluff fix
  apps/prairielearn/src/lib/assessment.sql
Labels: none

Add format target
  Makefile
Labels: tooling

fmt
  docs/assessment/index.md
Labels: documentation

wip
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingInstanceQuestion.js
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.html.ts
Labels: none

bump
  docs/requirements.txt
Labels: documentation, python

Revert coderabbit suggestion
  apps/prairielearn/src/lib/url.ts
Labels: none

Refactor navbarClient
  apps/prairielearn/assets/scripts/navbarClient.ts
Labels: none

update URL
  apps/prairielearn/src/lib/url.ts
Labels: none

Fix remove all time limits bug (#12401)
  apps/prairielearn/src/pages/instructorAssessmentInstances/instructorAssessmentInstances.ts
  apps/prairielearn/src/tests/manualGrading.test.ts
Labels: none

rework
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-stats.ts
  apps/prairielearn/src/lib/client/safe-db-types.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/models/assessment-question.ts
  apps/prairielearn/src/models/assessment.sql
  apps/prairielearn/src/models/assessment.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.types.ts
  apps/prairielearn/src/pages/instructorAssessmentQuestionStatistics/instructorAssessmentQuestionStatistics.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentQuestionStatistics/instructorAssessmentQuestionStatistics.sql
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.html.tsx
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.sql
Labels: none

wip
  apps/prairielearn/src/models/assessment.sql
  apps/prairielearn/src/models/assessment.ts
Labels: none

jsx-a11y plugin (#12336)
  eslint.config.mjs
  package.json
  yarn.lock
Labels: none

Parse as dates; add TODO
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
Labels: none

comment
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.ts
Labels: none

Implemented encoded/decoded data suggestion
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingInstanceQuestion.js
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.html.ts
Labels: none

fixup types
  apps/prairielearn/src/components/FriendlyDate.tsx
Labels: none

Fied rubric_items sorting issue.
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingInstanceQuestion.js
Labels: none

Fixup comments
  packages/formatter/src/date.ts
Labels: none

PR comments
  apps/prairielearn/src/lib/client/cookie.ts
  apps/prairielearn/src/lib/client/url.ts
  apps/prairielearn/src/lib/url.ts
Labels: none

Ran linter; patched import rubric functionality
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingInstanceQuestion.js
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.html.ts
Labels: none

Server-side cookie and URL utils (#12431)
  apps/prairielearn/assets/scripts/navbarClient.ts
  apps/prairielearn/src/lib/client/cookie.ts
  apps/prairielearn/src/lib/client/url.ts
Labels: none

unneeded rate limit bypass
  .github/workflows/check.yml
Labels: tooling, github_actions

nit
  .github/workflows/check.yml
Labels: tooling, github_actions

fixup components
  apps/prairielearn/src/components/AssessmentNavigation.tsx
  apps/prairielearn/src/components/AssessmentRegenerate.tsx
  apps/prairielearn/src/components/CourseRequestsTable.tsx
  apps/prairielearn/src/components/FileBrowser.tsx
  apps/prairielearn/src/components/GroupWorkInfoContainer.tsx
  apps/prairielearn/src/components/InsufficientCoursePermissionsCard.ts
  apps/prairielearn/src/components/JobSequenceResults.tsx
  apps/prairielearn/src/components/Navbar.tsx
  apps/prairielearn/src/components/PageLayout.tsx
  apps/prairielearn/src/components/QRCodeModal.tsx
  apps/prairielearn/src/components/QuestionContainer.tsx
  apps/prairielearn/src/components/QuestionsTable.tsx
  apps/prairielearn/src/components/SideNav.tsx
  apps/prairielearn/src/components/SubmissionPanel.tsx
  apps/prairielearn/src/components/TimeLimitExpiredModal.tsx
  apps/prairielearn/src/ee/lib/billing/components/PlanGrantsEditor.tsx
  apps/prairielearn/src/ee/lib/billing/components/UserSettingsPurchasesCard.tsx
Labels: none

Add GITHUB_TOKEN to check.yml (#12427)
  .github/workflows/check.yml
Labels: tooling, github_actions

Lint links
  docs/dev-guide/guide.md
Labels: documentation

wip
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.ts
  apps/prairielearn/src/pages/instructorAssessmentQuestionStatistics/instructorAssessmentQuestionStatistics.ts
  apps/prairielearn/src/pages/instructorAssessments/instructorAssessments.ts
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.ts
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.html.tsx
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.sql
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.ts
Labels: none

wip
  apps/prairielearn/src/models/assessment.sql
  apps/prairielearn/src/models/assessment.ts
  apps/prairielearn/src/pages/instructorAssessmentQuestionStatistics/instructorAssessmentQuestionStatistics.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentQuestionStatistics/instructorAssessmentQuestionStatistics.ts
  apps/prairielearn/src/pages/instructorAssessments/instructorAssessments.ts
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.html.tsx
Labels: none

wip
  apps/prairielearn/src/pages/instructorAssessments/instructorAssessments.ts
Labels: none

Duplicate comments
  packages/postgres/src/default-pool.ts
  packages/postgres/src/pool.ts
Labels: none

Add semgrep rule
  .sg_rules/untyped-sql.yml
  sgconfig.yml
Labels: none

In a working state added more tests.
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
  apps/prairielearn/elements/pl-order-blocks/pl_order_blocks_test.py
Labels: element, python

Match untyped queryCursor
  .sg_rules/untyped-sql.yml
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'mkdocs.yml'
docker:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Dockerfile'
          - 'docker-compose.yml'
element:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/elements/**'
python:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/python/**'
          - 'apps/prairielearn/elements/**/*.py'
          - 'requirements.txt'
          - 'pyproject.toml'
          - 'docs/requirements.txt'

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - 'Makefile'
github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
autograder-python:
  - changed-files:
      - any-glob-to-any-file:
          - 'graders/python/**'
preact:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/assets/scripts/esm-bundles/react-fragments/*.ts'
schema:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/src/schemas/**'
