Repository PrairieLearn/PrairieLearn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, element, python, tooling, github_actions, autograder-python, preact, schema

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'mkdocs.yml'
docker:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Dockerfile'
          - 'docker-compose.yml'
element:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/elements/**'
python:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/python/**'
          - 'apps/prairielearn/elements/**/*.py'
          - 'requirements.txt'
          - 'pyproject.toml'
          - 'docs/requirements.txt'

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - 'Makefile'
github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
autograder-python:
  - changed-files:
      - any-glob-to-any-file:
          - 'graders/python/**'
preact:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/assets/scripts/esm-bundles/react-fragments/*.ts'
schema:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/prairielearn/src/schemas/**'

Update usages
  apps/prairielearn/src/ee/pages/administratorInstitutionLti13/administratorInstitutionLti13.ts
  apps/prairielearn/src/middlewares/workspaceProxy.ts
  apps/prairielearn/src/pages/enroll/enroll.ts
  apps/prairielearn/src/tests/groupExam.test.ts
  apps/prairielearn/src/tests/groupExamRolePermissions.test.ts
  apps/prairielearn/src/tests/groupRolePermissions.test.ts
Labels: none

Fixup rule
  .sg_rules/untyped-sql.yml
Labels: none

fixup
  .sg_rules/untyped-sql.yml
Labels: none

make filename and naming convention changes
  graders/python/python_autograder/pl_execute.py
Labels: autograder-python

Add comment
  graders/python/python_autograder/pl_execute.py
Labels: autograder-python

Patch Python Autograder linecaching for ipynb files (#12432)
  graders/python/python_autograder/pl_execute.py
Labels: autograder-python

Remove remaining references to queryValidated/callValidated functions
  .changeset/hip-goats-taste.md
  apps/prairielearn/src/ee/pages/institutionAdminAdmins/institutionAdminAdmins.ts
  apps/prairielearn/src/tests/groupExamRolePermissions.test.ts
  apps/prairielearn/src/tests/permissions/effectiveUser.test.ts
  packages/postgres/README.md
  packages/postgres/src/default-pool.ts
  packages/postgres/src/pool.ts
Labels: none

wip
  apps/prairielearn/package.json
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-util.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.ts
  yarn.lock
Labels: none

Use existing helper function for inserting user
  apps/prairielearn/src/tests/permissions/effectiveUser.test.ts
Labels: none

Remove unnecessary assertion
  apps/prairielearn/src/tests/groupExamRolePermissions.test.ts
Labels: none

Lint
  apps/prairielearn/src/tests/permissions/effectiveUser.test.ts
Labels: none

Adjusted test name; adjusted maxIndex/minIndex nit
  packages/formatter/src/date.test.ts
  packages/formatter/src/date.ts
Labels: none

Consistent capitalization, switch term for default
  apps/prairielearn/src/components/QuestionsTable.html.tsx
Labels: none

Add friendly date component (#12360)
  .changeset/bright-ghosts-march.md
  apps/prairielearn/src/components/FriendlyDate.tsx
  packages/formatter/src/date.test.ts
  packages/formatter/src/date.ts
Labels: none

Rename template_start_from
  apps/prairielearn/src/api/trpc/routers/course-files/createQuestion.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/pages/instructorQuestions/instructorQuestions.ts
Labels: none

Improve documentation for shuffleQuestions default
  docs/assessment/index.md
Labels: documentation
