Repository PrairieLearn/PrairieLearn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, element, python, github_actions, autograder-python

Update .github/workflows/main.yml
  .github/workflows/main.yml
Labels: github_actions

Update .github/workflows/main.yml
  .github/workflows/main.yml
Labels: github_actions

Update Makefile
  Makefile
Labels: none

Update comment
  Makefile
Labels: none

Add comment
  .github/workflows/main.yml
Labels: github_actions

Do not sync labels
  .github/workflows/label-prs.yml
Labels: github_actions

Update .github/workflows/main.yml
  .github/workflows/main.yml
Labels: github_actions

Resolve comment nit.
  Makefile
Labels: none

Cache ESLint and Prettier results (#11544)
  .github/workflows/main.yml
  .gitignore
  .yarnrc.yml
  Makefile
Labels: github_actions

better README note
  apps/prairielearn/python/README.md
Labels: python

improve README text for link
  apps/prairielearn/python/README.md
Labels: python

cleanup dirs; add README note
  apps/prairielearn/python/README.md
  apps/prairielearn/python/colors.py
  apps/prairielearn/python/python_helper_sympy.py
  apps/prairielearn/python/to_precision.py
Labels: python

Add docstrings to library files
  apps/prairielearn/python/prairielearn/attribute_utils.py
  apps/prairielearn/python/prairielearn/conversion_utils.py
  apps/prairielearn/python/prairielearn/grading_utils.py
  apps/prairielearn/python/prairielearn/misc_utils.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  pyproject.toml
Labels: python

Fix typo
  docs/python-reference/index.md
Labels: documentation

Add docstrings to auxilliary files
  contrib/question_converters/canvas/quiz2pl.py
  docs/scripts/d2-svg-file.py
  docs/scripts/gen_python_nav.py
  pyproject.toml
Labels: documentation

Remove docstrings
  apps/prairielearn/python/prairielearn/grading_utils.py
Labels: python

Remove overrides
  docs/python-reference/prairielearn/conversion_utils.md
  docs/python-reference/prairielearn/sympy_utils.md
Labels: documentation

Update README
  docs/python-reference/index.md
Labels: documentation

Make quoting a function using map and apply to all qids
  apps/prairielearn/src/sync/course-db.ts
Labels: none

Fix test
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: none

Update second test
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: none

Add issue templates that set the issue type
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: github_actions

deleting console logs
  apps/prairielearn/src/question-servers/calculation-subprocess.js
Labels: none

cleaning infoAssessment processing
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
Labels: none

cleaning cleaning cleaning
  apps/prairielearn/src/models/question.ts
  apps/prairielearn/src/question-servers/freeform.js
  apps/prairielearn/src/sync/fromDisk/assessments.ts
Labels: none

cleaning
  apps/prairielearn/src/lib/question-render.ts
Labels: none

Ensure UTC is included as canonical
  apps/prairielearn/src/lib/timezones.ts
Labels: none

cleaning and merging
  exampleCourse/questions/template/symbolic-input/random/server.py
  testCourse/courseInstances/Sp15/assessments/hw11-params/infoAssessment.json
  testCourse/courseInstances/Sp15/assessments/hw11-questionParams/infoAssessment.json
  testCourse/questions/addNumbersParameterized/1/info.json
  testCourse/questions/addNumbersParameterized/1/question.html
  testCourse/questions/addNumbersParameterized/1/server.py
  testCourse/questions/addNumbersParameterized/2/server.py
  testCourse/questions/addNumbersParameterized/3/info.json
  testCourse/questions/addNumbersParameterized/3/question.html
  testCourse/questions/addNumbersParameterized/3/server.py
  testCourse/questions/addNumbersParameterized/4/info.json
  testCourse/questions/addNumbersParameterized/4/question.html
  testCourse/questions/addNumbersParameterized/4/server.py
Labels: none

fix
  exampleCourse/questions/template/symbolic-input/random/server.py
Labels: none

fizes
  exampleCourse/questions/demo/questionParamsRandomSymbolic/server.py
Labels: none

cleaning
  apps/prairielearn/src/lib/db-types.ts
Labels: none

cleaning cleanung
  apps/prairielearn/src/lib/question-render.ts
Labels: none

cleaning console logs
  apps/prairielearn/src/lib/question-variant.ts
Labels: none

cleaning more
  apps/prairielearn/src/models/question.ts
Labels: none

cleaning more
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.ts
  apps/prairielearn/src/pages/studentAssessmentInstance/studentAssessmentInstance.ts
  apps/prairielearn/src/pages/studentInstanceQuestion/studentInstanceQuestion.ts
  apps/prairielearn/src/question-servers/calculation-subprocess.js
Labels: none

removing console logs
  apps/prairielearn/src/question-servers/freeform.js
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/sync/fromDisk/questions.ts
Labels: none

update
  exampleCourse/questions/demo/questionParamsCalculation/question.html
Labels: none

cleaning more
  testCourse/questions/addNumbersParameterized/2/question.html
Labels: none

fixing some issues
  apps/prairielearn/src/api/trpc/routers/course-files/createQuestion.ts
  apps/prairielearn/src/models/question.ts
  testCourse/courseInstances/Sp15/assessments/hw11-params/infoAssessment.json
Labels: none

fixing some issues with checkout
  apps/prairielearn/src/api/trpc/routers/course-files/createQuestion.ts
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'mkdocs.yml']
docker:
  - changed-files:
      - any-glob-to-any-file: ['**/Dockerfile', 'docker-compose.yml']
element:
  - changed-files:
      - any-glob-to-any-file: ['apps/prairielearn/elements/**']
python:
  - changed-files:
      - any-glob-to-any-file: ['apps/prairielearn/python/**']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']
autograder-python:
  - changed-files:
      - any-glob-to-any-file: ['graders/python/**']
