Repository PrairieLearn/PrairieLearn, pull requests merged in 2019-09, with the labels that each got.

#1669 Add python libraries sklearn and nltk
  ChangeLog.md
  environments/centos7-plbase/python-requirements.txt
  lib/python-caller-trampoline.py
Labels: under development

#1668 Add docs for singleVariant question option
  ChangeLog.md
  doc/question.md
  schemas/schemas/infoQuestion.json
Labels: documentation, review wanted

#1663 Surface current element defaults
  ChangeLog.md
  elements/pl-checkbox/pl-checkbox.py
  elements/pl-code/pl-code.py
  elements/pl-figure/pl-figure.py
  elements/pl-file-download/pl-file-download.py
  elements/pl-file-editor/pl-file-editor.py
  elements/pl-graphviz-render/pl-graphviz-render.py
  elements/pl-integer-input/pl-integer-input.py
  elements/pl-matrix-component-input/pl-matrix-component-input.py
  elements/pl-matrix-input/pl-matrix-input.py
  elements/pl-matrix-latex/pl-matrix-latex.py
  elements/pl-matrix-output/pl-matrix-output.py
  elements/pl-multiple-choice/pl-multiple-choice.py
  elements/pl-prairiedraw-figure/pl-prairiedraw-figure.py
  elements/pl-string-input/pl-string-input.py
  elements/pl-symbolic-input/pl-symbolic-input.py
  elements/pl-threejs/pl-threejs.py
  elements/pl-variable-output/pl-variable-output.py
Labels: review wanted

#1712 Fix KeyboardInterrupt errors when Ctrl-C'ing
  ChangeLog.md
  lib/python-caller-trampoline.py
Labels: review wanted

#1722 Add student gradebook page
  ChangeLog.md
  pages/partials/navbarStudent.ejs
  pages/studentGradebook/studentGradebook.ejs
  pages/studentGradebook/studentGradebook.js
  pages/studentGradebook/studentGradebook.sql
  server.js
  tests/testHomework.js
Labels: review wanted

#1726 Add tzlocal as a python library under core
  ChangeLog.md
  environments/centos7-plbase/python-requirements.txt
Labels: review wanted
