Repository PrairieLearn/PrairieLearn, pull requests merged in 2021-07, with the labels that each got.

#4224 Add mustache comment note to FAQ
  docs/faq.md
  docs/question.md
Labels: documentation

#3837 Various enhancements made to pl-order-blocks
  elements/pl-order-blocks/pl-order-blocks.css
  elements/pl-order-blocks/pl-order-blocks.js
  elements/pl-order-blocks/pl-order-blocks.mustache
  elements/pl-order-blocks/pl-order-blocks.py
  exampleCourse/questions/element/orderBlocks/question.html
Labels: enhancement

#4218 A few minor api fixes
  api/v1/endpoints/courseInstanceGradebook/index.js
  api/v1/endpoints/queries.sql
Labels: enhancement

#4081 Added api call for course_instance_access_rules
  api/v1/endpoints/courseInstanceAccessRules/index.js
  api/v1/endpoints/queries.sql
  api/v1/index.js
  docs/api.md
  tests/testApi.js
  tools/api_download.py
Labels: enhancement

#4587 fix broken links in faq.md
  docs/faq.md
Labels: bug, documentation
