Repository PrairieLearn/PrairieLearn, pull requests merged in 2023-01, with the labels that each got.

#6798 docs: Fix error in element writing docs
  docs/devElements.md
Labels: documentation

#6931 Enable lint checks for files in /python directory
  pyproject.toml
  python/python_helper_sympy.py
  python/zygote.py
Labels: python

#6896 Admin query: list instructors by institution
  admin_queries/instructors_by_institution.json
  admin_queries/instructors_by_institution.sql
Labels: enhancement

#6794 docs: Update Python style in documentation
  docs/c-grader/index.md
  docs/elementExtensions.md
  docs/elements.md
  docs/getStarted.md
  docs/pl-drawing/index.md
  docs/python-grader/index.md
Labels: documentation

#6796 docs: Improve documentation for question writing
  docs/question.md
  python/prairielearn.py
Labels: documentation

#6641 Introduce pl-big-o-input element
  CODEOWNERS
  docs/elements.md
  elements/pl-big-o-input/big_o_utils.py
  elements/pl-big-o-input/big_o_utils_test.py
  elements/pl-big-o-input/info.json
  elements/pl-big-o-input/pl-big-o-input.css
  elements/pl-big-o-input/pl-big-o-input.mustache
  elements/pl-big-o-input/pl-big-o-input.py
  exampleCourse/questions/element/bigOInput/info.json
  exampleCourse/questions/element/bigOInput/question.html
  pyproject.toml
  python/python_helper_sympy.py
  python/python_helper_sympy_test.py
  tests/exampleCourseQuestions.test.js
Labels: element

#6649 Periodically clean old rows from time_series table
  cron/cleanTimeSeries.js
  cron/cleanTimeSeries.sql
  cron/index.js
  lib/config.js
Labels: do not merge

#6745 Add negative weight and undirected display to `pl-graph`
  docs/elements.md
  elements/pl-graph/pl-graph.py
  exampleCourse/questions/element/graph/question.html
  exampleCourse/questions/element/graph/server.py
  pyproject.toml
Labels: python

#6800 Introduce pl-dataframe element
  CODEOWNERS
  docs/elements.md
  elements/pl-big-o-input/big_o_utils.py
  elements/pl-big-o-input/pl-big-o-input.py
  elements/pl-dataframe/info.json
  elements/pl-dataframe/pl-dataframe.css
  elements/pl-dataframe/pl-dataframe.mustache
  elements/pl-dataframe/pl-dataframe.py
  exampleCourse/questions/element/dataframe/breast-cancer-train.dat
  exampleCourse/questions/element/dataframe/info.json
  exampleCourse/questions/element/dataframe/question.html
  exampleCourse/questions/element/dataframe/server.py
  images/plbase/python-requirements.txt
  pyproject.toml
  python/conftest.py
  python/prairielearn.py
  python/prairielearn_test.py
Labels: python, element

#2674 Improve design and accessibility on the instructor file editor
  lib/instructorFiles.js
  pages/instructorFileBrowser/instructorFileBrowser.ejs
  pages/instructorFileBrowser/instructorFileBrowser.js
  pages/instructorFileEditor/instructorFileEditor.ejs
  pages/instructorFileEditor/instructorFileEditor.js
Labels: accessibility

#6955 refactor: pl-symbolic-input element code cleanup
  elements/pl-big-o-input/big_o_utils.py
  elements/pl-big-o-input/big_o_utils_test.py
  elements/pl-big-o-input/pl-big-o-input.py
  elements/pl-symbolic-input/pl-symbolic-input.mustache
  elements/pl-symbolic-input/pl-symbolic-input.py
  python/prairielearn.py
  python/prairielearn_test.py
  python/python_helper_sympy.py
  python/python_helper_sympy_test.py
Labels: element

#6973 feat: Customizable placeholder text for pl-symbolic-input and pl-big-o-input elements
  docs/elements.md
  elements/pl-big-o-input/pl-big-o-input.mustache
  elements/pl-big-o-input/pl-big-o-input.py
  elements/pl-symbolic-input/pl-symbolic-input.mustache
  elements/pl-symbolic-input/pl-symbolic-input.py
  exampleCourse/courseInstances/SectionA/assessments/gallery/elements/infoAssessment.json
  exampleCourse/questions/element/bigOInput/question.html
  exampleCourse/questions/element/symbolicInput/question.html
Labels: enhancement, element

#6972 Fix position of pl-file-preview in element docs
  docs/elements.md
Labels: documentation

#6956 feat: networkx support for pl-graph
  CODEOWNERS
  docs/elements.md
  elements/pl-graph/pl-graph.py
  exampleCourse/elementExtensions/pl-graph/edge-inc-matrix/edge-inc-matrix.py
  exampleCourse/questions/demo/annotated/graphAdjacencyMatrix/question.html
  exampleCourse/questions/element/codeDocumentation/question.html
  exampleCourse/questions/element/graph/question.html
  exampleCourse/questions/element/graph/server.py
  exampleCourse/questions/workshop/Lesson5_example2/question.html
  python/prairielearn.py
  python/prairielearn_test.py
Labels: enhancement, element

#6937 style: Enable linting for grader scripts
  graders/c/cgrader/cgrader.py
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/pl_execute.py
  graders/python/python_autograder/pl_helpers.py
  graders/python/python_autograder/pl_main.py
  graders/python/python_autograder/pl_unit_test.py
  pyproject.toml
Labels: python

#6953 feat: robust printing for `pl-python-variable`
  CODEOWNERS
  docs/elements.md
  docs/elements/pl-python-variable2.png
  elements/pl-python-variable/info.json
  elements/pl-python-variable/pl-python-variable.css
  elements/pl-python-variable/pl-python-variable.py
  exampleCourse/questions/demo/annotated/engBeamStress/question.html
  exampleCourse/questions/demo/autograder/python/pandas/question.html
  exampleCourse/questions/demo/computeNumber-fromDataFrame/question.html
  exampleCourse/questions/demo/randomDataFrame/question.html
  exampleCourse/questions/element/codeDocumentation/question.html
  exampleCourse/questions/element/pythonVariable/breast-cancer-train.dat
  exampleCourse/questions/element/pythonVariable/question.html
  exampleCourse/questions/element/pythonVariable/server.py
  exampleCourse/questions/element/pythonVariable/test.py
  pyproject.toml
Labels: python, element

#6746 feat: `pl-external-grader-variables` description hiding and inline definitions
  CODEOWNERS
  docs/elements.md
  elements/pl-external-grader-variables/pl-external-grader-variables.mustache
  elements/pl-external-grader-variables/pl-external-grader-variables.py
  exampleCourse/questions/demo/autograder/python/numpy/question.html
  exampleCourse/questions/demo/autograder/python/numpy/server.py
  exampleCourse/questions/demo/autograder/python/pandas/question.html
  exampleCourse/questions/demo/autograder/python/pandas/server.py
  pyproject.toml
Labels: enhancement

#7005 feat: pl-hidden-hints custom hint names and code cleanup
  docs/elements.md
  docs/question.md
  elements/pl-hidden-hints/pl-hidden-hints.mustache
  elements/pl-hidden-hints/pl-hidden-hints.py
  exampleCourse/courseInstances/SectionA/assessments/gallery/elements/infoAssessment.json
  exampleCourse/questions/element/hiddenHints/question.html
Labels: element

#7013 Element news item
  docs/question.md
  news_items/041_element_question_writing/index.html
  news_items/041_element_question_writing/info.json
  news_items/041_element_question_writing/pl-big-o-correct.png
  news_items/041_element_question_writing/pl-big-o-incorrect.png
  news_items/041_element_question_writing/pl-big-o-question.png
  news_items/041_element_question_writing/pl-dataframe.png
  news_items/041_element_question_writing/pl-graph.png
  news_items/041_element_question_writing/pl-hidden-hints.png
  news_items/041_element_question_writing/pl-python-variable.png
Labels: documentation
