Repository PrairieLearn/PrairieLearn, pull requests merged in 2023-05, with the labels that each got.

#6271 feat: Manual grading rubrics
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingInstanceQuestion.js
  apps/prairielearn/package.json
  apps/prairielearn/src/admin_queries/manual_grading_disable.json
  apps/prairielearn/src/admin_queries/manual_grading_disable.sql
  apps/prairielearn/src/admin_queries/manual_grading_enable.json
  apps/prairielearn/src/admin_queries/manual_grading_enable.sql
  apps/prairielearn/src/lib/assessment.sql
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/lib/features/manager.ts
  apps/prairielearn/src/lib/ltiOutcomes.js
  apps/prairielearn/src/lib/manualGrading.js
  apps/prairielearn/src/lib/manualGrading.sql
  apps/prairielearn/src/lib/markdown.js
  apps/prairielearn/src/lib/question.js
  apps/prairielearn/src/lib/question.sql
  apps/prairielearn/src/lib/score-upload.js
  apps/prairielearn/src/lib/score-upload.sql
  apps/prairielearn/src/migrations/20220905173159__rubrics__create.sql
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.js
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.js
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/autoPointsSection.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPanel.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPointsSection.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.js
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/manualPointsSection.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricInputSection.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.ejs
  apps/prairielearn/src/pages/partials/editQuestionPointsForm.ejs
  apps/prairielearn/src/pages/partials/editQuestionScorePercForm.ejs
  apps/prairielearn/src/pages/partials/instructorGradingPanel.ejs
  apps/prairielearn/src/pages/partials/pointsFormatter.ejs
  apps/prairielearn/src/pages/partials/submission.ejs
  apps/prairielearn/src/sprocs/index.js
  apps/prairielearn/src/sprocs/instance_questions_update_score.sql
  apps/prairielearn/src/tests/accessibility/index.test.js
  apps/prairielearn/src/tests/manualGrading.test.js
  apps/prairielearn/src/tests/manualGrading.test.sql
  database/tables/assessment_questions.pg
  database/tables/grading_jobs.pg
  database/tables/rubric_grading_items.pg
  database/tables/rubric_gradings.pg
  database/tables/rubric_items.pg
  database/tables/rubrics.pg
  database/tables/submissions.pg
  testCourse/questions/manualGrade/codeUpload/server.py
  yarn.lock
Labels: feature: manual grading

#7513 Backfill course_id column of variants table with batched migration
  apps/prairielearn/src/batched-migrations/.gitkeep
  apps/prairielearn/src/batched-migrations/20230418190511_variants_course_id.ts
  apps/prairielearn/src/migrations/20230418190511_variants__course_id__backfill.ts
Labels: SQL

#7698 feat: `get_uuid` always starts with an alpha
  apps/prairielearn/python/prairielearn.py
  apps/prairielearn/python/prairielearn_test.py
  images/plbase/python-requirements.txt
Labels: python

#7578 Add simplify to big O grading
  apps/prairielearn/elements/pl-big-o-input/big_o_utils.py
  apps/prairielearn/elements/pl-big-o-input/big_o_utils_test.py
Labels: python

#7517 style: pl-matrix-latex uplift
  apps/prairielearn/elements/pl-matrix-latex/pl-matrix-latex.py
  apps/prairielearn/python/prairielearn.py
  pyproject.toml
Labels: python

#7669 feat: `pl-file-download` missing file error
  apps/prairielearn/elements/pl-file-download/pl-file-download.py
  pyproject.toml
Labels: python, element

#6747 Introduce pl-template element
  CODEOWNERS
  apps/prairielearn/elements/pl-template/info.json
  apps/prairielearn/elements/pl-template/pl-template.py
  docs/elements.md
  exampleCourse/questions/element/template/info.json
  exampleCourse/questions/element/template/pre_code_prompt.html
  exampleCourse/questions/element/template/quadratic_formula_prompt.html
  exampleCourse/questions/element/template/question.html
  exampleCourse/questions/element/template/server.py
  exampleCourse/questions/element/template/statement.html
  exampleCourse/serverFilesCourse/templates/card_template.mustache
  exampleCourse/serverFilesCourse/templates/collapsible_section.mustache
  exampleCourse/serverFilesCourse/templates/problem_statement_template.mustache
  exampleCourse/serverFilesCourse/templates/prompt_in_collapsed_section.mustache
  pyproject.toml
Labels: enhancement

#7670 fix: Make `rtol` usage easier in `pl-units-input` element
  apps/prairielearn/elements/pl-units-input/pl-units-input.py
  apps/prairielearn/elements/pl-units-input/unit_utils.py
  apps/prairielearn/elements/pl-units-input/units_utils_test.py
  docs/elements.md
  exampleCourse/questions/element/unitsInput/question.html
Labels: python, element

#1867 Demo related to using survey questions within PrairieLearn
  exampleCourse/courseInstances/SectionA/assessments/questionTemplates/infoAssessment.json
  exampleCourse/questions/demo/survey/info.json
  exampleCourse/questions/demo/survey/question.html
  exampleCourse/questions/demo/survey/server.py
Labels: review wanted
