Repository PrairieLearn/PrairieLearn, pull requests merged in 2023-06, with the labels that each got.

#7897 Upgrade all JavaScript dependencies
  .changeset/proud-moose-glow.md
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/workspace-host/package.json
  package.json
  packages/aws-imds/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/logger/package.json
  packages/migrations/package.json
  packages/named-locks/package.json
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres-tools/package.json
  packages/postgres-tools/src/describe.ts
  packages/postgres/package.json
  packages/prettier-plugin-sql/package.json
  packages/sanitize/package.json
  packages/sentry/package.json
  packages/signed-token/package.json
  packages/workspace-utils/package.json
  yarn.lock
Labels: javascript

#7918 feat: More flexibility in BigO grading
  apps/prairielearn/elements/pl-big-o-input/big_o_utils.py
  apps/prairielearn/elements/pl-big-o-input/big_o_utils_test.py
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.py
  apps/prairielearn/python/python_helper_sympy.py
Labels: python, element

#7272 Join to course based on variant.course_id, not question.course_id
  apps/prairielearn/src/lib/assessment.js
  apps/prairielearn/src/lib/externalGrader.sql
  apps/prairielearn/src/lib/question.js
  apps/prairielearn/src/lib/question.sql
  apps/prairielearn/src/middlewares/authzWorkspace.sql
  apps/prairielearn/src/middlewares/selectAndAuthzInstructorQuestion.sql
  apps/prairielearn/src/pages/administratorWorkspaces/administratorWorkspaces.sql
  apps/prairielearn/src/pages/instructorFileTransfer/instructorFileTransfer.sql
  apps/prairielearn/src/pages/instructorGradingJob/instructorGradingJob.sql
  apps/prairielearn/src/pages/instructorQuestions/instructorQuestions.sql
  apps/prairielearn/src/question-servers/calculation-inprocess.js
  apps/prairielearn/src/question-servers/calculation-subprocess.js
  apps/prairielearn/src/question-servers/freeform.js
  apps/prairielearn/src/sprocs/issues_insert_for_variant.sql
  apps/prairielearn/src/sprocs/variants_select.sql
  apps/prairielearn/src/sprocs/variants_select_for_assessment_instance_grading.sql
  apps/workspace-host/src/interface.sql
Labels: SQL

#7128 Experimental processing of question HTML entirely with Python
  .gitignore
  apps/prairielearn/python/check_data.py
  apps/prairielearn/python/check_data_test.py
  apps/prairielearn/python/question_phases.py
  apps/prairielearn/python/traverse.py
  apps/prairielearn/python/traverse_test.py
  apps/prairielearn/python/zygote.py
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/lib/question.js
  apps/prairielearn/src/pages/instructorQuestionPreview/instructorQuestionPreview.js
  apps/prairielearn/src/pages/studentInstanceQuestionExam/studentInstanceQuestionExam.js
  apps/prairielearn/src/pages/studentInstanceQuestionHomework/studentInstanceQuestionHomework.js
  apps/prairielearn/src/question-servers/freeform.js
  pyproject.toml
  tools/snapshot-question-html.js
Labels: python, performance
