Repository PrairieLearn/PrairieLearn, pull requests merged in 2023-02, with the labels that each got.

#7024 `pl-symbolic-input` return type fix
  elements/pl-symbolic-input/pl-symbolic-input.py
Labels: bug, element

#5751 convert start_postgres.sh to honor PGDATA
  docker/init.sh
  docker/start_postgres.sh
Labels: enhancement

#7111 Load only rendered submissions from database
  lib/question.js
  lib/question.sql
  pages/partials/submission.ejs
Labels: performance

#7101 feat: pl-dataframe alignment and copy code
  docs/elements.md
  elements/pl-code/info.json
  elements/pl-code/pl-code.mustache
  elements/pl-code/pl-code.py
  elements/pl-dataframe/info.json
  elements/pl-dataframe/pl-dataframe.css
  elements/pl-dataframe/pl-dataframe.mustache
  elements/pl-dataframe/pl-dataframe.py
  exampleCourse/questions/element/code/question.html
  exampleCourse/questions/element/dataframe/question.html
Labels: enhancement, element

#7118 style: Migrate `pl-variable-output` to use `pl-code`
  elements/pl-variable-output/info.json
  elements/pl-variable-output/pl-variable-output.mustache
  elements/pl-variable-output/pl-variable-output.py
  pyproject.toml
Labels: python

#7104 Add demo question for RStudio workspace
  exampleCourse/courseInstances/SectionA/assessments/demo/workspaces/infoAssessment.json
  exampleCourse/questions/demo/workspace/rstudio/info.json
  exampleCourse/questions/demo/workspace/rstudio/question.html
  exampleCourse/questions/demo/workspace/rstudio/workspace/starter_file.md
Labels: enhancement

#7212 fix: Handling NaN in big-O grading function
  elements/pl-big-o-input/big_o_utils.py
  elements/pl-big-o-input/big_o_utils_test.py
Labels: bug
