Repository PrairieLearn/PrairieLearn, pull requests merged in 2024-09, with the labels that each got.

#10514 Ensure input elements have labels
  apps/prairielearn/assets/scripts/instructorAssessmentInstancesClient.ts
  apps/prairielearn/assets/scripts/instructorGradebookClient.ts
  apps/prairielearn/assets/scripts/lib/questionsTable.js
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.mustache
  apps/prairielearn/elements/pl-checkbox/pl-checkbox.mustache
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.mustache
  apps/prairielearn/elements/pl-matrix-input/pl-matrix-input.mustache
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.mustache
  apps/prairielearn/elements/pl-number-input/pl-number-input.mustache
  apps/prairielearn/elements/pl-string-input/pl-string-input.mustache
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.mustache
  apps/prairielearn/elements/pl-units-input/pl-units-input.mustache
  apps/prairielearn/src/components/EditQuestionPointsScore.html.ts
  apps/prairielearn/src/pages/administratorCourses/administratorCourses.html.ts
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.html.ts
  apps/prairielearn/src/pages/studentAssessment/studentAssessment.html.ts
Labels: accessibility

#10637 Use semantic heading for homepage institution admin card
  apps/prairielearn/src/pages/home/home.html.ts
Labels: accessibility

#10644 Remove red portion of scorebar
  apps/prairielearn/src/components/Scorebar.html.ts
Labels: accessibility

#10669 Include file name in personal notes delete button label
  apps/prairielearn/src/components/PersonalNotesPanel.html.ts
Labels: accessibility

#10670 Improve contrast of buttons in submission panel header
  apps/prairielearn/src/components/SubmissionPanel.html.ts
Labels: accessibility

#10567 Change AI generation context parser to emit text representations of attributes
  apps/prairielearn/package.json
  apps/prairielearn/src/ee/lib/context-parsers/documentation.ts
  yarn.lock
Labels: feature: AI question generation

#10433 fix: Add missing input warning to symbolic and big o input elements
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.mustache
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.py
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.py
Labels: element

#9797 Sync error if course attempts to move or delete a shared question
  apps/prairielearn/src/lib/course.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/lib/github.js
  apps/prairielearn/src/pages/instructorLoadFromDisk/instructorLoadFromDisk.ts
  apps/prairielearn/src/sync/sharing.sql
  apps/prairielearn/src/sync/sharing.ts
  apps/prairielearn/src/sync/syncFromDisk.ts
  apps/prairielearn/src/tests/helperCourse.ts
  apps/prairielearn/src/tests/questionSharing.test.sql
  apps/prairielearn/src/tests/questionSharing.test.ts
Labels: feature: question sharing

#10672 Use click as trigger for all popovers
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.mustache
  apps/prairielearn/elements/pl-checkbox/pl-checkbox.mustache
  apps/prairielearn/elements/pl-drawing/pl-drawing.mustache
  apps/prairielearn/elements/pl-dropdown/pl-dropdown.mustache
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.mustache
  apps/prairielearn/elements/pl-matching/pl-matching.mustache
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.mustache
  apps/prairielearn/elements/pl-matrix-input/pl-matrix-input.mustache
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.mustache
  apps/prairielearn/elements/pl-number-input/pl-number-input.mustache
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.mustache
  apps/prairielearn/elements/pl-string-input/pl-string-input.mustache
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.mustache
  apps/prairielearn/elements/pl-units-input/pl-units-input.mustache
  apps/prairielearn/src/components/QuestionContainer.html.ts
  apps/prairielearn/src/components/QuestionNavigation.html.ts
  apps/prairielearn/src/components/QuestionScore.html.ts
  apps/prairielearn/src/components/StudentAccessRulesPopover.html.ts
  apps/prairielearn/src/pages/courseSyncs/courseSyncs.html.ts
  apps/prairielearn/src/pages/instructorAssessmentAccess/instructorAssessmentAccess.html.ts
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.ts
  apps/prairielearn/src/pages/instructorAssessmentInstances/instructorAssessmentInstances.html.ts
  apps/prairielearn/src/pages/instructorCourseAdminInstances/instructorCourseAdminInstances.html.ts
  apps/prairielearn/src/pages/instructorInstanceAdminAccess/instructorInstanceAdminAccess.html.ts
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.html.ts
  apps/prairielearn/src/pages/instructorIssues/instructorIssues.html.ts
  apps/prairielearn/src/pages/studentAssessmentInstance/studentAssessmentInstance.html.ts
  apps/prairielearn/src/pages/workspace/workspace.html.ts
Labels: accessibility

#10623 Add automated checking of AI-generated HTML files
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/lib/context-parsers/documentation.ts
  apps/prairielearn/src/ee/lib/context-parsers/template-questions.ts
  apps/prairielearn/src/ee/lib/contextEmbeddings.sql
  apps/prairielearn/src/ee/lib/contextEmbeddings.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateJob/instructorAiGenerateJob.html.ts
Labels: feature: AI question generation

#10651 Use structured UI for AI generation; always include context for used elements
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.sql
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.ts
Labels: feature: AI question generation
