Repository PrairieLearn/PrairieLearn, pull requests merged in 2024-04, with the labels that each got.

#9672 Fix misuses of role="button"
  apps/prairielearn/src/pages/administratorJobSequence/administratorJobSequence.html.ts
  apps/prairielearn/src/pages/administratorQuery/administratorQuery.html.ts
  apps/prairielearn/src/pages/authLogin/authLogin.html.ts
  apps/prairielearn/src/pages/editError/editError.ejs
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPanel.html.ts
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.ejs
  apps/prairielearn/src/pages/instructorAssessments/instructorAssessments.ejs
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.html.ts
  apps/prairielearn/src/pages/instructorFileBrowser/instructorFileBrowser.ejs
  apps/prairielearn/src/pages/instructorFileEditor/instructorFileEditor.ejs
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.ejs
  apps/prairielearn/src/pages/instructorJobSequence/instructorJobSequence.ejs
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.ejs
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.ejs
  apps/prairielearn/src/pages/news_item/news_item.ejs
  apps/prairielearn/src/pages/partials/assessmentSyncErrorsAndWarnings.ejs
  apps/prairielearn/src/pages/partials/courseInstanceSyncErrorsAndWarnings.ejs
  apps/prairielearn/src/pages/partials/courseSyncErrorsAndWarnings.ejs
  apps/prairielearn/src/pages/partials/navbarInstructor.ejs
  apps/prairielearn/src/pages/partials/navbarPublic.ejs
  apps/prairielearn/src/pages/partials/questionSyncErrorsAndWarnings.ejs
  apps/prairielearn/src/pages/studentAssessments/studentAssessments.ejs
Labels: accessibility

#9692 Clarify how singleVariant questions work on Exam assessments
  docs/question.md
Labels: documentation

#1974 Improve check_assessment_access tests
  apps/prairielearn/src/tests/sprocs/check_assessment_access.test.sql
  apps/prairielearn/src/tests/sprocs/check_assessment_access.test.ts
Labels: review wanted
