Repository PrairieLearn/PrairieLearn, pull requests merged in 2024-12, with the labels that each got.

#10834 Add support for draft questions
  apps/prairielearn/src/api/trpc/routers/course-files/createQuestion.ts
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.sql
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.sql
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/editors.sql
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/migrations/20241007203121_draft_questions.sql
  apps/prairielearn/src/models/questions.sql
  apps/prairielearn/src/sprocs/sync_questions.sql
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/questions.ts
  apps/prairielearn/src/sync/question.ts
  apps/prairielearn/src/sync/sharing.ts
  apps/prairielearn/src/sync/syncFromDisk.ts
  apps/prairielearn/src/tests/questionSharing.test.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
  apps/prairielearn/src/tests/sync/questionsSync.test.ts
  database/enums/enum_ai_question_generation_prompt_type.pg
  database/tables/ai_question_generation_prompts.pg
  database/tables/draft_question_metadata.pg
  database/tables/job_sequences.pg
  database/tables/pl_courses.pg
  database/tables/questions.pg
  database/tables/users.pg
Labels: feature: AI question generation

#10985 Update group work documentation
  docs/assessment.md
  docs/groupwork_instructor_interface.png
Labels: documentation

#11015 Convert pages directory and schemas to TypeScript
  apps/prairielearn/src/news_items/index.ts
  apps/prairielearn/src/pages/authCallbackLti/authCallbackLti.ts
  apps/prairielearn/src/pages/legacyQuestionFile/legacyQuestionFile.ts
  apps/prairielearn/src/pages/legacyQuestionText/legacyQuestionText.ts
  apps/prairielearn/src/pages/shared/syncHelpers.ts
  apps/prairielearn/src/pages/studentAssessmentInstanceFile/studentAssessmentInstanceFile.ts
  apps/prairielearn/src/schemas/index.ts
Labels: chore

#11013 Convert middleware to TypeScript
  apps/prairielearn/package.json
  apps/prairielearn/src/lib/code-caller/index.ts
  apps/prairielearn/src/middlewares/authn.ts
  apps/prairielearn/src/middlewares/authnToken.ts
  apps/prairielearn/src/middlewares/authzAuthnHasCoursePreviewOrInstanceView.ts
  apps/prairielearn/src/middlewares/authzCourseOrInstance.ts
  apps/prairielearn/src/middlewares/authzHasCourseInstanceAccess.ts
  apps/prairielearn/src/middlewares/authzHasCoursePreview.ts
  apps/prairielearn/src/middlewares/authzHasCoursePreviewOrInstanceView.ts
  apps/prairielearn/src/middlewares/authzIsAdministrator.js
  apps/prairielearn/src/middlewares/authzIsAdministrator.ts
  apps/prairielearn/src/middlewares/authzWorkspace.ts
  apps/prairielearn/src/middlewares/authzWorkspaceCookieCheck.ts
  apps/prairielearn/src/middlewares/authzWorkspaceCookieSet.ts
  apps/prairielearn/src/middlewares/clearCookies.ts
  apps/prairielearn/src/middlewares/cors.ts
  apps/prairielearn/src/middlewares/csrfToken.ts
  apps/prairielearn/src/middlewares/date.ts
  apps/prairielearn/src/middlewares/effectiveRequestChanged.ts
  apps/prairielearn/src/middlewares/logPageView.ts
  apps/prairielearn/src/middlewares/logRequest.ts
  apps/prairielearn/src/middlewares/logResponse.ts
  apps/prairielearn/src/middlewares/notFound.ts
  apps/prairielearn/src/middlewares/redirectEffectiveAccessDenied.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessment.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentInstance.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentQuestion.ts
  apps/prairielearn/src/middlewares/selectAndAuthzInstanceQuestion.ts
  apps/prairielearn/src/middlewares/selectAndAuthzInstructorQuestion.ts
  apps/prairielearn/src/middlewares/selectAssessments.ts
  apps/prairielearn/src/middlewares/selectOpenIssueCount.ts
  apps/prairielearn/src/middlewares/staticNodeModules.ts
  apps/prairielearn/src/middlewares/studentAssessmentInstance.ts
  docs/dev-guide.md
  yarn.lock
Labels: chore

#11002 Use mkdocs-material for docs (New PR)
  docs/accessControl.md
  docs/assessment.md
  docs/assets/PL-logo-adaptive.svg
  docs/assets/PL-logo.svg
  docs/c-grader/index.md
  docs/clientServerFiles.md
  docs/configJson.md
  docs/course.md
  docs/courseInstance.md
  docs/devElements.md
  docs/elementExtensions.md
  docs/externalGrading.md
  docs/extra.css
  docs/faq.md
  docs/getStarted.md
  docs/installing.md
  docs/installingNative.md
  docs/java-grader/index.md
  docs/manualGrading/index.md
  docs/oldQuestion.md
  docs/python-grader/index.md
  docs/question.md
  docs/questionSharing.md
  docs/regrading.md
  docs/remoteExams.md
  docs/requirements.txt
  docs/running-in-production/authentication.md
  docs/running-in-production/setup.md
  docs/stylesheets/extra.css
  docs/uuid.md
  docs/workshop/lesson2.md
  docs/workspaces/index.md
  mkdocs.yml
  tools/question_converters/canvas/README.md
Labels: documentation

#11022 Convert server to TypeScript
  apps/prairielearn/src/server.ts
Labels: chore

#11011 Convert some lib/etc. files to TypeScript
  apps/prairielearn/package.json
  apps/prairielearn/src/ee/auth/azure/callback.ts
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/executor.ts
  apps/prairielearn/src/lib/authn.ts
  apps/prairielearn/src/lib/aws.ts
  apps/prairielearn/src/lib/base64-util.ts
  apps/prairielearn/src/lib/chalk.ts
  yarn.lock
Labels: chore

#11018 Convert code-caller to TS
  apps/prairielearn/src/lib/code-caller/code-caller-container.ts
  apps/prairielearn/src/lib/code-caller/code-caller-native-types.ts
  apps/prairielearn/src/lib/code-caller/code-caller-native.ts
  apps/prairielearn/src/lib/code-caller/code-caller-shared.ts
  apps/prairielearn/src/lib/code-caller/index.ts
Labels: chore

#11019 Convert some lib files to ts
  apps/prairielearn/src/lib/aws.ts
  apps/prairielearn/src/lib/deferred.js
  apps/prairielearn/src/lib/deferred.ts
  apps/prairielearn/src/lib/editorUtil.ts
  apps/prairielearn/src/lib/externalGrader.ts
  apps/prairielearn/src/lib/externalGraderCommon.ts
  apps/prairielearn/src/lib/externalGraderLocal.ts
  apps/prairielearn/src/lib/externalGraderResults.ts
  apps/prairielearn/src/lib/externalGraderSqs.ts
  apps/prairielearn/src/lib/file-paths.ts
  apps/prairielearn/src/lib/file-store.ts
  apps/prairielearn/src/lib/license.ts
  apps/prairielearn/src/lib/require-frontend.ts
  apps/prairielearn/src/lib/sanitize-name.ts
  apps/prairielearn/src/lib/socket-server.ts
Labels: chore
