Repository PrairieLearn/PrairieLearn, pull requests merged in 2024-10, with the labels that each got.

#10774 Avoid AI Gen Failure modes
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/lib/context-parsers/template-questions.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: feature: AI question generation

#10029 Sync sharing config from JSON files
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/lib/server-jobs.ts
  apps/prairielearn/src/migrations/20240927164524_sharing_sets__description__add.sql
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.html.ts
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.sql
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.ts
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.html.ts
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.sql
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.ts
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/sprocs/sync_questions.sql
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/questions.ts
  apps/prairielearn/src/sync/fromDisk/sharing.sql
  apps/prairielearn/src/sync/fromDisk/sharing.ts
  apps/prairielearn/src/sync/sharing.sql
  apps/prairielearn/src/sync/sharing.ts
  apps/prairielearn/src/sync/syncFromDisk.ts
  apps/prairielearn/src/tests/questionSharing.test.sql
  apps/prairielearn/src/tests/questionSharing.test.ts
  apps/prairielearn/src/tests/sync/util.ts
  database/tables/questions.pg
  database/tables/sharing_sets.pg
  testCourse/infoCourse.json
  testCourse/questions/addVectors/info.json
  testCourse/questions/orderBlocks/info.json
Labels: do not merge, feature: question sharing

#10817 Disallow depracated property sharedSourcePublicly in JSON files
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/questions.ts
  apps/prairielearn/src/tests/sync/util.ts
Labels: feature: question sharing

#10724 AI Question Generation UI Changes
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.html.ts
Labels: feature: AI question generation
