Repository PrairieLearn/PrairieLearn, pull requests merged in 2024-01, with the labels that each got.

#9181 Update Python dependencies
  apps/prairielearn/elements/pl-dataframe/pl-dataframe.py
  docs/requirements.txt
  graders/python/requirements.txt
  images/plbase/python-requirements.txt
  workspaces/jupyterlab-python/requirements.txt
Labels: dependencies, python

#9221 Bump follow-redirects to 1.15.4
  yarn.lock
Labels: dependencies, security

#9267 fix workspace-rstudio startup errors on new builds
  workspaces/rstudio/Dockerfile
Labels: bug

#8375 Add documentation for custom group roles
  docs/assessment.md
  docs/grouproles_assign_roles.png
  docs/grouproles_groupinfo.png
  docs/grouproles_invalid_config_errors.png
  docs/grouproles_join.png
  docs/grouproles_submit_question.png
  docs/grouproles_view_question.png
Labels: documentation
