Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-06, with the labels that each got.

#12096 Improve default handling for workspace and external grader settings
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.ts
  apps/prairielearn/src/schemas/infoQuestion.ts
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/sync/fromDisk/questions.ts
Labels: enhancement

#12097 Upgrade markdownlint
  docs/PrairieDraw.md
  docs/elements.md
  docs/externalGrading.md
  docs/faq.md
  docs/workshop/lesson2.md
  docs/workspaces/index.md
  package.json
  yarn.lock
Labels: documentation, chore

#12063 LTI 1.3 out of preview
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionLti13/administratorInstitutionLti13.ts
  apps/prairielearn/src/ee/routers/administratorInstitution.ts
  apps/prairielearn/src/ee/routers/lti13.ts
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/lib/navPageTabs.ts
  docs/lmsIntegrationInstructor.md
  docs/lti13.md
Labels: documentation

#12101 Fix handling of workspace URL rewrite checkbox
  .changeset/three-carrots-hide.md
  apps/prairielearn/assets/scripts/instructorQuestionSettingsClient.ts
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.ts
  packages/zod/src/index.test.ts
  packages/zod/src/index.ts
Labels: bug-fix

#12109 Move utilities for rendering questions for AI grading
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-render.ts
  apps/prairielearn/src/question-servers/freeform.ts
Labels: feature: AI grading

#12065 Add support for system-generated group names
  apps/prairielearn/src/lib/group-update.sql
  apps/prairielearn/src/lib/group-update.ts
  apps/prairielearn/src/lib/groups.sql
  apps/prairielearn/src/lib/groups.ts
  apps/prairielearn/src/pages/instructorAssessmentGroups/instructorAssessmentGroups.html.ts
  apps/prairielearn/src/pages/studentAssessment/studentAssessment.html.ts
Labels: enhancement

#12108 Update icon for AI question generation
  apps/prairielearn/assets/scripts/lib/questionsTable.ts
Labels: feature: AI question generation

#12114 Upgrade all JavaScript dependencies
  .changeset/swift-fans-begin.md
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/workspace-host/package.json
  package.json
  packages/actions-report-image-sizes/package.json
  packages/aws-imds/package.json
  packages/cache/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/docker-utils/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-test-utils/package.json
  packages/flash/package.json
  packages/logger/package.json
  packages/migrations/package.json
  packages/node-metrics/package.json
  packages/postgres/package.json
  packages/sentry/package.json
  packages/session/package.json
  packages/zod/package.json
  yarn.lock
Labels: chore

#12066 Add option to restrict students from choosing a group name
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250604081001_group_configs__student_authz_choose_name__add.sql
  apps/prairielearn/src/pages/studentAssessment/studentAssessment.html.ts
  apps/prairielearn/src/pages/studentAssessment/studentAssessment.ts
  apps/prairielearn/src/schemas/infoAssessment.ts
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
  apps/prairielearn/src/sprocs/sync_assessments.sql
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/tests/groupExam.test.ts
  apps/prairielearn/src/tests/groupExamRolePermissions.test.ts
  apps/prairielearn/src/tests/groupRole.test.ts
  apps/prairielearn/src/tests/groupRolePermissions.test.ts
  apps/prairielearn/src/tests/groupStudent.test.ts
  database/tables/group_configs.pg
  docs/assessment/index.md
  docs/faq.md
Labels: documentation

#12120 Add docs for course instance sharing
  docs/contentSharing.md
Labels: documentation

#12121 Update docs to include custom honor code
  docs/assessment/index.md
Labels: documentation

#12027 Add vitest extension for VSCode, improve server stack trace
  .vscode/extensions.json
  .vscode/settings.json
  apps/prairielearn/src/pages/error/error.ts
Labels: enhancement, bug-fix

#12034 Add CI that runs tests natively
  .github/workflows/main.yml
Labels: python, github_actions, tooling

#12122 More details on server.py + mustache rendering
  docs/question/server.md
  docs/question/template.md
Labels: documentation

#11989 Display AI grading accuracy in manual grading page
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-stats.sql
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-stats.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250515112008_assessment_question_ai_grading_mode.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.types.ts
  database/tables/assessment_questions.pg
Labels: feature: AI grading

#12127 Fix CodeCallerContainer stdin handling
  apps/prairielearn/src/lib/code-caller/code-caller-container.ts
Labels: bug-fix

#12129 Docs: warn about the use of boolean attributes
  apps/prairielearn/python/prairielearn/html_utils.py
  apps/prairielearn/python/test/misc_test.py
  docs/devElements.md
Labels: documentation, python

#12132 Remove legacy question processors
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/lib/question-render.ts
  apps/prairielearn/src/pages/instructorCourseAdminSettings/instructorCourseAdminSettings.ts
  apps/prairielearn/src/pages/instructorQuestionPreview/instructorQuestionPreview.ts
  apps/prairielearn/src/pages/publicQuestionPreview/publicQuestionPreview.ts
  apps/prairielearn/src/pages/studentInstanceQuestion/studentInstanceQuestion.ts
  apps/prairielearn/src/question-servers/freeform.ts
  apps/prairielearn/src/schemas/infoCourse.ts
  apps/prairielearn/src/schemas/schemas/infoCourse.json
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/tests/exampleCourseQuestions.test.ts
  apps/prairielearn/src/tests/sync/courseSync.test.ts
  contrib/snapshot-question-html.mjs
  docs/course/index.md
  exampleCourse/infoCourse.json
  templateCourse/infoCourse.json
  testCourse/infoCourse.json
Labels: documentation

#12134 Light gray enhanced navigation sidebar
  apps/prairielearn/assets/stylesheets/pageLayout.css
  apps/prairielearn/src/components/PageLayout.html.ts
Labels: enhancement

#12042 Vitest workspace
  .dockerignore
  Makefile
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/prairielearn/vitest.config.ts
  apps/workspace-host/package.json
  package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-list-endpoints/package.json
  packages/flash/package.json
  packages/formatter/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/markdown/package.json
  packages/marked-mathjax/package.json
  packages/migrations/package.json
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres/package.json
  packages/run/package.json
  packages/sanitize/package.json
  packages/session/package.json
  packages/zod/package.json
  turbo.json
  vitest.config.ts
  yarn.lock
Labels: tooling

#12164 Undo modified time workaround for prettier
  .github/workflows/main.yml
Labels: chore, github_actions, tooling

#12166 Update non-responsive images in docs
  docs/pl-drawing/index.md
Labels: documentation

#12157 Support code-split and preloaded assets
  .changeset/plenty-ears-stay.md
  packages/compiled-assets/README.md
  packages/compiled-assets/src/cli.ts
  packages/compiled-assets/src/index.ts
Labels: enhancement, tooling

#12102 Combine `ai-grading` and `ai-grading-test`
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/src/ee/lib/ai-grading.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.sql
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
Labels: feature: AI grading

#12192 Add VSCode Postgres Extension, splice in migration docs
  .vscode/extensions.json
  docs/dev-guide/guide.md
  docs/dev-guide/postgres-vscode-select-1000.png
  docs/dev-guide/postgres-vscode-setup.png
  docs/scripts/gen_additional_readmes.py
  mkdocs.yml
Labels: documentation

#12165 Question body horizontal scrolling for enhanced nav
  apps/prairielearn/src/components/QuestionContainer.html.ts
  apps/prairielearn/src/components/SubmissionPanel.html.ts
Labels: enhancement

#12183 Add config JSON schema
  .vscode/settings.json
  Makefile
  apps/grader-host/src/lib/config.ts
  apps/prairielearn/src/lib/config.ts
  apps/workspace-host/src/lib/config.ts
  docs/assets/config-grader-host.schema.json
  docs/assets/config-prairielearn.schema.json
  docs/assets/config-unified.schema.json
  docs/assets/config-workspace-host.schema.json
  scripts/gen-jsonschema.mts
Labels: documentation, tooling

#11851 AI question generation rate limiting
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.ts
  apps/prairielearn/src/lib/config.ts
  docs/assets/config-prairielearn.schema.json
  docs/assets/config-unified.schema.json
Labels: documentation

#12224 Update native install instructions for installing python
  Makefile
  docs/dev-guide/installingNative.md
Labels: documentation, tooling

#12225 Fix randint call in exampleCourse
  exampleCourse/questions/demo/drawing/simpleTutorial/server.py
Labels: bug-fix

#12170 Add sharding setup for CI
  .github/workflows/test.yml
  .gitignore
  vitest.config.ts
Labels: github_actions, tooling

#12148 Display general AI grading stats in manual grading page
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-stats.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-util.ts
  apps/prairielearn/src/ee/lib/ai-grading/types.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.types.ts
Labels: feature: AI grading

#12227 Change badge color for mismatching rubric item to red
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
Labels: feature: AI grading

#12232 Fix spacing between courses in load from disk log
  apps/prairielearn/src/pages/instructorLoadFromDisk/instructorLoadFromDisk.ts
Labels: bug-fix

#12238 Use "alpha preview" as label on AI question generation toggle
  apps/prairielearn/src/pages/instructorCourseAdminSettings/instructorCourseAdminSettings.html.ts
Labels: feature: AI question generation

#12243 Fix query to delete AI gradings
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.sql
Labels: bug-fix

#12254 Add support for debugging Preact
  .changeset/purple-baths-tell.md
  .changeset/slow-nails-try.md
  apps/prairielearn/assets/scripts/behaviors/react-fragments/debug.ts
  apps/prairielearn/assets/scripts/behaviors/react-fragments/index.tsx
  packages/compiled-assets/src/index.ts
  packages/preact-cjs/package.json
  packages/preact-cjs/src/debug.d.ts
  packages/preact-cjs/src/debug.js
  packages/preact-cjs/src/devtools.d.ts
  packages/preact-cjs/src/devtools.js
Labels: enhancement, bug-fix

#12252 Update needed packages for Latex installation in documentation
  docs/dev-guide/installingNative.md
Labels: documentation

#12242 Document that `parse` runs when real-time grading is disabled
  docs/assessment/index.md
Labels: documentation

#12248 Add page context client helpers
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/page-context.ts
Labels: preact

#12281 Use superjson for preact hydration
  apps/prairielearn/assets/scripts/behaviors/react-fragments/index.tsx
  apps/prairielearn/package.json
  apps/prairielearn/src/lib/preact.tsx
  yarn.lock
Labels: preact

#12264 Add preact/LTI/schema label, fix bug-label
  .github/labeler.yml
  .github/title-labeler.yml
Labels: tooling, bug-fix

#12289 Simplify creation of submitted files in parse function
  apps/prairielearn/python/prairielearn/question_utils.py
  apps/prairielearn/python/test/misc_test.py
  docs/question/server.md
  exampleCourse/questions/demo/autograder/python/fillBlankLastElement/info.json
  exampleCourse/questions/demo/autograder/python/fillBlankLastElement/question.html
  exampleCourse/questions/demo/autograder/python/fillBlankLastElement/server.py
  exampleCourse/questions/demo/autograder/python/fillBlankLastElement/tests/ans.py
  exampleCourse/questions/demo/autograder/python/fillBlankLastElement/tests/setup_code.py
  exampleCourse/questions/demo/autograder/python/fillBlankLastElement/tests/test.py
Labels: documentation, python

#12296 Highlight Integrations tab when it's active
  apps/prairielearn/src/components/SideNav.html.ts
Labels: feature: LTI 1.3

#12297 Fix @prairielearn/preact-cjs-compat/jsx-runtime
  packages/preact-cjs-compat/src/jsx-runtime.js
Labels: bug-fix, preact

#12290 Ignore pyright errors in test files in example course
  pyproject.toml
Labels: python

#12305 Fix malformed HTML in Python test
  apps/prairielearn/python/test/traverse_test.py
Labels: python, bug-fix

#12303 Upgrade all JavaScript dependencies
  .changeset/silent-zebras-relate.md
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/prairielearn/public/localscripts/calculationQuestion/SimpleClient.js
  apps/prairielearn/src/migrations/20230826041147_sharing_sets__create.sql
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.sql
  apps/workspace-host/package.json
  docs/api.md
  docs/contributing.md
  docs/dev-guide/guide.md
  docs/dev-guide/installingNative.md
  docs/externalGrading.md
  docs/lmsIntegrationInstructor.md
  docs/workshop/lesson4.md
  package.json
  packages/actions-report-image-sizes/package.json
  packages/aws-imds/package.json
  packages/aws/package.json
  packages/bind-mount/package.json
  packages/cache/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-list-endpoints/package.json
  packages/express-test-utils/package.json
  packages/flash/package.json
  packages/formatter/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/logger/package.json
  packages/markdown/package.json
  packages/marked-mathjax/package.json
  packages/migrations/package.json
  packages/named-locks/package.json
  packages/node-metrics/package.json
  packages/opentelemetry/CHANGELOG.md
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres-tools/package.json
  packages/postgres/package.json
  packages/prettier-plugin-sql/package.json
  packages/run/package.json
  packages/sanitize/package.json
  packages/sentry/package.json
  packages/session/package.json
  packages/signed-token/package.json
  packages/workspace-utils/package.json
  packages/zod/package.json
  pyproject.toml
  yarn.lock
Labels: documentation, python, chore
