Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-07, with the labels that each got.

#12324 Ignore OpenTelemetry package upgrades
  .github/dependabot.yml
Labels: chore, tooling

#12272 Migrate additional bootstrap 4 classes
  apps/prairielearn/assets/scripts/behaviors/bootstrap-compat.ts
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.js
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.mustache
  apps/prairielearn/elements/pl-file-upload/pl-file-upload.js
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
  apps/prairielearn/src/components/ChangeIdButton.html.ts
  apps/prairielearn/src/components/CourseRequestsTable.html.ts
  apps/prairielearn/src/components/EditQuestionPointsScore.html.ts
  apps/prairielearn/src/components/FileBrowser.html.tsx
  apps/prairielearn/src/components/GroupWorkInfoContainer.html.ts
  apps/prairielearn/src/components/PersonalNotesPanel.html.ts
  apps/prairielearn/src/components/QuestionContainer.html.ts
  apps/prairielearn/src/components/QuestionScore.html.ts
  apps/prairielearn/src/components/SideNav.html.ts
  apps/prairielearn/src/components/SubmissionPanel.html.ts
  apps/prairielearn/src/ee/pages/studentCourseInstanceUpgrade/studentCourseInstanceUpgrade.html.ts
  apps/prairielearn/src/middlewares/studentAssessmentAccess.html.ts
  apps/prairielearn/src/pages/administratorAdmins/administratorAdmins.html.ts
  apps/prairielearn/src/pages/administratorCourses/administratorCourses.html.ts
  apps/prairielearn/src/pages/administratorWorkspaces/administratorWorkspaces.html.ts
  apps/prairielearn/src/pages/assessmentsSwitcher/assessmentsSwitcher.html.ts
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPanel.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentQuestions/instructorAssessmentQuestions.html.tsx
  apps/prairielearn/src/pages/instructorCourseAdminStaff/instructorCourseAdminStaff.html.tsx
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.html.tsx
  apps/prairielearn/src/pages/newsItem/newsItem.html.ts
  apps/prairielearn/src/pages/publicAssessments/publicAssessments.html.ts
  apps/prairielearn/src/pages/userSettings/userSettings.html.ts
  apps/prairielearn/src/tests/accessibility/bootstrap4-construct-plugin.ts
Labels: python, element

#12340 Configure Dependabot to ignore React dependencies
  .github/dependabot.yml
Labels: tooling

#12342 Rework API docs
  docs/api.md
Labels: documentation

#12318 Document course sync API endpoint
  docs/api.md
Labels: documentation

#12350 Added responsive width to pl-image-capture
  apps/prairielearn/elements/pl-image-capture/info.json
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.css
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.js
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.mustache
Labels: element

#12370 Add react-you-might-not-need-an-effect ESLint rules
  eslint.config.mjs
  package.json
  yarn.lock
Labels: tooling, preact

#12394 Extend help text for GitHub username in request course page
  apps/prairielearn/src/pages/instructorRequestCourse/instructorRequestCourse.html.ts
  docs/installing.md
Labels: documentation

#12413 Enable no-duplicate-imports eslint rule
  apps/prairielearn/src/lib/externalGraderLocal.ts
  apps/prairielearn/src/lib/externalGraderSqs.ts
  apps/prairielearn/src/pages/publicAssessments/publicAssessments.ts
  apps/prairielearn/src/schemas/jsonSchemas.ts
  apps/prairielearn/src/tests/groupExamRolePermissions.test.ts
  eslint.config.mjs
Labels: schema

#12280 Add cropping and rotation to pl-image-capture
  apps/prairielearn/elements/pl-image-capture/info.json
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.css
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.js
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.mustache
  apps/prairielearn/package.json
  apps/prairielearn/src/lib/assets.ts
  apps/prairielearn/src/pages/externalImageCapture/externalImageCapture.html.ts
  yarn.lock
Labels: documentation, python, element

#12426 Rename all component files to tsx
  apps/prairielearn/src/components/AiGradingHtmlPreview.html.tsx
  apps/prairielearn/src/components/AssessmentBadge.html.tsx
  apps/prairielearn/src/components/AssessmentModuleHeading.html.tsx
  apps/prairielearn/src/components/AssessmentNavigation.html.tsx
  apps/prairielearn/src/components/AssessmentOpenInstancesAlert.html.tsx
  apps/prairielearn/src/components/AssessmentQuestions.html.tsx
  apps/prairielearn/src/components/AssessmentRegenerate.html.tsx
  apps/prairielearn/src/components/AssessmentScorePanel.html.tsx
  apps/prairielearn/src/components/AssessmentSetHeading.html.tsx
  apps/prairielearn/src/components/CommentPopover.html.tsx
  apps/prairielearn/src/components/CourseRequestsTable.html.tsx
  apps/prairielearn/src/components/EditQuestionPointsScore.html.tsx
  apps/prairielearn/src/components/GroupWorkInfoContainer.html.tsx
  apps/prairielearn/src/components/HeadContents.html.tsx
  apps/prairielearn/src/components/InstructorInfoPanel.html.tsx
  apps/prairielearn/src/components/IssueBadge.html.tsx
  apps/prairielearn/src/components/JobSequenceResults.html.tsx
  apps/prairielearn/src/components/JobStatus.html.tsx
  apps/prairielearn/src/components/Modal.html.tsx
  apps/prairielearn/src/components/Navbar.html.tsx
  apps/prairielearn/src/components/NavbarContext.html.tsx
  apps/prairielearn/src/components/Pager.html.tsx
  apps/prairielearn/src/components/PersonalNotesPanel.html.tsx
  apps/prairielearn/src/components/ProgressCircle.html.tsx
  apps/prairielearn/src/components/QRCodeModal.html.tsx
  apps/prairielearn/src/components/QuestionContainer.html.tsx
  apps/prairielearn/src/components/QuestionNavigation.html.tsx
  apps/prairielearn/src/components/QuestionScore.html.tsx
  apps/prairielearn/src/components/QuestionsTable.html.tsx
  apps/prairielearn/src/components/SideNav.html.tsx
  apps/prairielearn/src/components/StudentAccessRulesPopover.html.tsx
  apps/prairielearn/src/components/SubmissionPanel.html.tsx
  apps/prairielearn/src/components/SyncProblemButton.html.tsx
  apps/prairielearn/src/components/TagBadge.html.tsx
  apps/prairielearn/src/components/TagDescription.html.tsx
  apps/prairielearn/src/components/TimeLimitExpiredModal.html.tsx
  docs/dev-guide/guide.md
Labels: documentation

#12404 Ensure all schemas list all columns in db-types
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.html.ts
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.ts
  apps/prairielearn/src/lib/db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/pages/authCallbackLti/authCallbackLti.ts
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.html.tsx
  apps/prairielearn/src/tests/database.test.sql
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: chore

#12401 Fix remove all time limits bug
  apps/prairielearn/src/pages/instructorAssessmentInstances/instructorAssessmentInstances.ts
  apps/prairielearn/src/tests/manualGrading.test.ts
Labels: bug-fix

#12336 jsx-a11y plugin
  eslint.config.mjs
  package.json
  yarn.lock
Labels: tooling

#12427 Add GITHUB_TOKEN to check.yml
  .github/workflows/check.yml
Labels: github_actions, tooling

#12360 Add friendly date component
  .changeset/bright-ghosts-march.md
  apps/prairielearn/src/components/FriendlyDate.tsx
  packages/formatter/src/date.test.ts
  packages/formatter/src/date.ts
Labels: feature: enrollment

#12456 Fix paths for compiled asset preloads
  .changeset/neat-cougars-grow.md
  packages/compiled-assets/src/index.ts
Labels: bug-fix

#12334 Add html-eslint plugin
  apps/prairielearn/assets/scripts/instructorAssessmentInstancesClient.tsx
  apps/prairielearn/src/components/FileBrowser.tsx
  apps/prairielearn/src/components/QuestionsTable.tsx
  apps/prairielearn/src/ee/auth/lti13/lti13Auth.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionCourse/administratorInstitutionCourse.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionCourses/administratorInstitutionCourses.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionGeneral/administratorInstitutionGeneral.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionLti13/administratorInstitutionLti13.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionSaml/administratorInstitutionSaml.html.ts
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.html.ts
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.html.ts
  apps/prairielearn/src/pages/administratorInstitutions/administratorInstitutions.html.ts
  apps/prairielearn/src/pages/administratorNetworks/administratorNetworks.html.ts
  apps/prairielearn/src/pages/administratorSettings/administratorSettings.html.ts
  apps/prairielearn/src/pages/administratorWorkspaces/administratorWorkspaces.html.ts
  apps/prairielearn/src/pages/authLogin/authLogin.html.ts
  apps/prairielearn/src/pages/instructorAssessmentAccess/instructorAssessmentAccess.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentGroups/instructorAssessmentGroups.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.tsx
  apps/prairielearn/src/pages/instructorAssessments/instructorAssessments.html.tsx
  apps/prairielearn/src/pages/instructorCourseAdminInstances/instructorCourseAdminInstances.html.tsx
  apps/prairielearn/src/pages/instructorCourseAdminSettings/instructorCourseAdminSettings.html.tsx
  apps/prairielearn/src/pages/instructorFileEditor/instructorFileEditor.html.ts
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.html.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.html.tsx
  apps/prairielearn/src/pages/newsItem/newsItem.html.ts
  apps/prairielearn/src/pages/workspace/workspace.html.ts
  eslint.config.mjs
  package.json
  yarn.lock
Labels: tooling

#12371 Add eslint-stylistic rules
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftsSampleQuestions.tsx
  apps/prairielearn/elements/pl-drawing/pl-drawing.js
  apps/prairielearn/elements/pl-threejs/STLLoader.js
  apps/prairielearn/src/components/CreateQuestionModalContents.tsx
  apps/prairielearn/src/components/SyncErrorsAndWarnings.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/SampleQuestionDemo.tsx
  apps/prairielearn/src/ee/pages/instructorInstanceAdminBilling/components/InstructorInstanceAdminBillingForm.tsx
  apps/prairielearn/src/lib/preact.tsx
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.html.tsx
  apps/prairielearn/src/question-servers/freeform.ts
  apps/prairielearn/src/tests/accessibility/bootstrap4-construct-plugin.ts
  eslint.config.mjs
  package.json
  packages/cache/src/index.ts
  yarn.lock
Labels: tooling, element

#12447 Updated pl-order-blocks docs
  docs/elements.md
Labels: documentation

#12093 Add support for question README
  apps/prairielearn/assets/scripts/question.ts
  apps/prairielearn/public/stylesheets/local.css
  apps/prairielearn/src/components/SubmissionPanel.tsx
  apps/prairielearn/src/pages/instructorQuestionPreview/instructorQuestionPreview.html.tsx
  apps/prairielearn/src/pages/instructorQuestionPreview/instructorQuestionPreview.ts
  testCourse/questions/addNumbers/README.md
Labels: enhancement

#12403 Rework modified_at comparison for manual grading
  apps/prairielearn/src/components/EditQuestionPointsScore.tsx
  apps/prairielearn/src/lib/manualGrading.sql
  apps/prairielearn/src/lib/manualGrading.ts
  apps/prairielearn/src/lib/score-upload.ts
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.sql
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.types.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPanel.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.html.ts
Labels: chore

#12412 Move admin query specs to TS files
  apps/prairielearn/src/admin_queries/README.md
  apps/prairielearn/src/admin_queries/course_instance_active_enrollments.json
  apps/prairielearn/src/admin_queries/course_instance_active_enrollments.ts
  apps/prairielearn/src/admin_queries/course_instance_compute_time.json
  apps/prairielearn/src/admin_queries/course_instance_compute_time.ts
  apps/prairielearn/src/admin_queries/course_instances_usage.json
  apps/prairielearn/src/admin_queries/course_instances_usage.ts
  apps/prairielearn/src/admin_queries/courses_with_chunks.json
  apps/prairielearn/src/admin_queries/courses_with_chunks.ts
  apps/prairielearn/src/admin_queries/courses_without_chunks.json
  apps/prairielearn/src/admin_queries/courses_without_chunks.ts
  apps/prairielearn/src/admin_queries/current_active_student_exams.json
  apps/prairielearn/src/admin_queries/current_active_student_exams.ts
  apps/prairielearn/src/admin_queries/current_activity_by_assessment.json
  apps/prairielearn/src/admin_queries/current_activity_by_assessment.ts
  apps/prairielearn/src/admin_queries/current_activity_by_course_instance.json
  apps/prairielearn/src/admin_queries/current_activity_by_course_instance.ts
  apps/prairielearn/src/admin_queries/db_query_cancel.json
  apps/prairielearn/src/admin_queries/db_query_cancel.ts
  apps/prairielearn/src/admin_queries/db_query_terminate.json
  apps/prairielearn/src/admin_queries/db_query_terminate.ts
  apps/prairielearn/src/admin_queries/db_running_queries.json
  apps/prairielearn/src/admin_queries/db_running_queries.ts
  apps/prairielearn/src/admin_queries/find_courses_by_user.json
  apps/prairielearn/src/admin_queries/find_courses_by_user.ts
  apps/prairielearn/src/admin_queries/generate_and_enroll_users.json
  apps/prairielearn/src/admin_queries/generate_and_enroll_users.ts
  apps/prairielearn/src/admin_queries/generate_assessment_instances.json
  apps/prairielearn/src/admin_queries/generate_assessment_instances.ts
  apps/prairielearn/src/admin_queries/generate_uuids.json
  apps/prairielearn/src/admin_queries/generate_uuids.ts
  apps/prairielearn/src/admin_queries/institutions_usage.json
  apps/prairielearn/src/admin_queries/institutions_usage.ts
  apps/prairielearn/src/admin_queries/instructors_by_institution.json
  apps/prairielearn/src/admin_queries/instructors_by_institution.ts
  apps/prairielearn/src/admin_queries/lib/util.ts
  apps/prairielearn/src/admin_queries/select_or_insert_user.json
  apps/prairielearn/src/admin_queries/select_or_insert_user.ts
  apps/prairielearn/src/admin_queries/upcoming_exams.json
  apps/prairielearn/src/admin_queries/upcoming_exams.ts
  apps/prairielearn/src/admin_queries/util.ts
  apps/prairielearn/src/admin_queries/workspace_hosts.json
  apps/prairielearn/src/admin_queries/workspace_hosts.ts
  apps/prairielearn/src/admin_queries/workspace_hosts_update_state.json
  apps/prairielearn/src/admin_queries/workspace_hosts_update_state.ts
  apps/prairielearn/src/admin_queries/workspaces.json
  apps/prairielearn/src/admin_queries/workspaces.ts
  apps/prairielearn/src/pages/administratorQueries/administratorQueries.html.ts
  apps/prairielearn/src/pages/administratorQueries/administratorQueries.ts
  apps/prairielearn/src/pages/administratorQuery/administratorQuery.html.ts
  apps/prairielearn/src/pages/administratorQuery/administratorQuery.ts
  apps/prairielearn/src/schemas/adminQuery.ts
  apps/prairielearn/src/schemas/index.ts
  mkdocs.yml
Labels: documentation, schema

#1672 Add more documentation for assessment configuration
  docs/assessment/index.md
  docs/uuid.md
Labels: documentation

#12476 Fix flaky sync tests
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: bug-fix

#12485 Remove image capture confirmation phase
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.js
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.mustache
Labels: element

#12477 Add split points to alternatives property table in docs
  docs/assessment/index.md
Labels: documentation

#12519 Upgrade all Python dependencies
  apps/prairielearn/python/prairielearn/sympy_utils.py
  docs/requirements.txt
  graders/python/requirements.txt
  requirements.txt
  workspaces/jupyterlab-base/requirements.txt
  workspaces/jupyterlab-python/requirements.txt
  workspaces/vscode-python/requirements.txt
Labels: documentation, python, chore, autograder-python

#12526 Upgrade to Sentry 10
  packages/sentry/package.json
  yarn.lock
Labels: chore

#12467 Add docs to install packages in graders and workspaces
  docs/dockerImages.md
  docs/python-grader/index.md
  docs/questionRuntime/edit_btn.png
  docs/questionRuntime/index.md
  docs/workspaces/index.md
  mkdocs.yml
Labels: documentation

#12528 Upgrade to v2 of OpenTelemetry packages
  .changeset/wise-islands-cross.md
  packages/opentelemetry/package.json
  packages/opentelemetry/src/init.ts
  packages/opentelemetry/src/metrics.test.ts
  yarn.lock
Labels: chore
