Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-05, with the labels that each got.

#11885 Fix mamba shell init in Python VSCode workspace
  workspaces/vscode-python/Dockerfile
Labels: docker, bug-fix

#11886 Upgrade to pyarrow 20.0.0
  graders/python/requirements.txt
  images/plbase/python-requirements.txt
  workspaces/jupyterlab-python/requirements.txt
  workspaces/vscode-python/requirements.txt
Labels: python, chore, autograder-python

#11869 Improve tracebacks in the Python grader
  graders/python/python_autograder/pl_execute.py
Labels: enhancement, autograder-python

#11896 Add FAQ for grade uploads with zero-leading group names
  docs/faq.md
Labels: documentation

#11893 Upgrade to ESLint 9
  .eslintignore
  .eslintrc.cjs
  apps/grader-host/src/index.ts
  apps/grader-host/src/lib/receiveFromQueue.ts
  apps/prairielearn/.mocharc.cjs
  apps/prairielearn/elements/pl-drawing/mechanicsObjects.js
  apps/prairielearn/elements/pl-drawing/pl-drawing.js
  apps/prairielearn/elements/pl-excalidraw/pl-excalidraw.js
  apps/prairielearn/elements/pl-file-editor/pl-file-editor.js
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.js
  apps/prairielearn/elements/pl-file-upload/pl-file-upload.js
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.js
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.js
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.js
  apps/prairielearn/elements/pl-threejs/pl-threejs.js
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/lib/externalGraderResults.ts
  apps/prairielearn/src/lib/workspace.ts
  apps/prairielearn/src/tests/.eslintrc.json
  apps/prairielearn/src/tests/helperServer.ts
  eslint.config.mjs
  package.json
  yarn.lock
Labels: chore, element

#11868 add test harness for pl-drawing
  apps/prairielearn/elements/pl-drawing/elements.py
  apps/prairielearn/elements/pl-drawing/pl-drawing.py
Labels: python, element

#11867 Support aria-label on pl-drawing
  apps/prairielearn/elements/pl-drawing/defaults.py
  apps/prairielearn/elements/pl-drawing/elements.py
  apps/prairielearn/elements/pl-drawing/pl-drawing.mustache
  apps/prairielearn/elements/pl-drawing/pl-drawing.py
  docs/pl-drawing/index.md
  exampleCourse/questions/demo/drawing/liftingMechanism/question.html
  exampleCourse/questions/demo/drawing/liftingMechanism/server.py
Labels: documentation, python, element

#11901 Add mb-3 to pl-figure and pl-drawing
  apps/prairielearn/elements/pl-drawing/pl-drawing.mustache
  apps/prairielearn/elements/pl-figure/pl-figure.mustache
Labels: element

#11902 Fix handling of unexpected workspace transitions
  apps/prairielearn/assets/scripts/workspaceClient.ts
Labels: bug-fix

#11908 Improve handling of escaped characters in rich text editor options
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.js
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.mustache
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.py
Labels: enhancement, python, element

#11910 Add documentation for question testing
  docs/assets/extra.css
  docs/concepts/index.md
  docs/dev-guide/index.md
  docs/question/server.md
  docs/question/test-buttons.png
  docs/question/test-cycle.d2
  docs/sync.md
Labels: documentation

#11918 Clean up after workflow split
  .github/workflows/main.yml
Labels: github_actions, tooling

#11907 Support question level tests
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.py
  apps/prairielearn/elements/pl-drawing/pl-drawing.py
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.py
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.py
  apps/prairielearn/elements/pl-number-input/pl-number-input.py
  apps/prairielearn/elements/pl-string-input/pl-string-input.py
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.py
  apps/prairielearn/elements/pl-units-input/pl-units-input.py
  exampleCourse/elements/clickable-image/clickable-image.py
  exampleCourse/questions/demo/drawing/buttons/server.py
  exampleCourse/questions/demo/drawing/customizedButtons/server.py
  exampleCourse/questions/demo/drawing/extensions/server.py
  exampleCourse/questions/workshop/Lesson4_example2/server.py
  exampleCourse/questions/workshop/Lesson4_example3/server.py
Labels: python, element

#11922 Add instructor-facing docs for question accessibility
  docs/question/accessibility.md
  docs/question/index.md
  mkdocs.yml
Labels: documentation, accessibility

#10694 LTI 1.3 redirect page
  apps/prairielearn/src/ee/auth/lti13/lti13Auth.html.ts
  apps/prairielearn/src/ee/auth/lti13/lti13Auth.ts
Labels: feature: LTI 1.3

#11913 Add `clang` Python library to `grader-c`
  exampleCourse/courseInstances/SectionA/assessments/demo/externalGrading/infoAssessment.json
  exampleCourse/questions/demo/autograder/c/factorial/info.json
  exampleCourse/questions/demo/autograder/c/factorial/question.html
  exampleCourse/questions/demo/autograder/c/factorial/solution.c
  exampleCourse/questions/demo/autograder/c/factorial/source.c
  exampleCourse/questions/demo/autograder/c/factorial/tests/main.c
  exampleCourse/questions/demo/autograder/c/factorial/tests/test.py
  exampleCourse/questions/demo/autograder/c/linkedListDelete/info.json
  exampleCourse/questions/demo/autograder/c/squareCheck/info.json
  graders/c/Dockerfile
  graders/c/requirements.txt
Labels: docker

#11926 Cleanup native install and add LaTeX installation steps
  docs/installingNative.md
Labels: documentation

#11933 Remove outdated parts of Docker Compose config
  docker-compose-production.yml
  docker-compose.yml
Labels: docker

#11939 Swap some inline styles for classes
  apps/prairielearn/elements/pl-code/pl-code.mustache
  apps/prairielearn/elements/pl-file-upload/pl-file-upload.mustache
  apps/prairielearn/elements/pl-matching/pl-matching.mustache
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.mustache
  exampleCourse/questions/element/code/question.html
Labels: python, element

#11950 Allow pl-rich-text-editor to be used without a file name
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.py
  docs/elements.md
  exampleCourse/questions/element/richTextEditor/question.html
Labels: documentation, python, element

#11952 Refine ESLint config
  Makefile
  eslint.config.mjs
  package.json
  yarn.lock
Labels: enhancement, tooling

#11958 Fixing Typo in Docs
  docs/accessControl/index.md
Labels: documentation, bug-fix

#11961 Fix typo in comment on course instance usage
  apps/prairielearn/src/models/course-instance-usages.ts
Labels: bug-fix

#11964 Fix type for correct-answer attribute of pl-symbolic-input
  docs/elements.md
Labels: documentation, bug-fix

#11963 Enable ESLint prefer-const rule for all files
  Makefile
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingInstanceQuestion.js
  apps/prairielearn/elements/pl-drawing/mechanicsObjects.js
  apps/prairielearn/elements/pl-drawing/pl-drawing.js
  apps/prairielearn/elements/pl-excalidraw/pl-excalidraw.js
  apps/prairielearn/elements/pl-file-editor/pl-file-editor.js
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.js
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.js
  contrib/dump-anonymize.mjs
  eslint.config.mjs
Labels: tooling, element

#11966 Use consistent attribute types in element docs
  docs/elements.md
Labels: documentation

#11969 docs: Add info box about order of instances in manual grading
  docs/manualGrading/index.md
Labels: documentation

#11965 Improve validation of allow-blank attribute for AI question generation
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: enhancement, feature: AI question generation

#11962 Refactor Mustache template extraction for AI question generation
  apps/prairielearn/src/ee/lib/validateHTML.test.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: feature: AI question generation

#11942 Calculating embeddings less aggressively for AI grading
  apps/prairielearn/src/ee/lib/ai-grading.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-test.ts
Labels: feature: AI grading

#11973 Fix lint issue
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: bug-fix

#11955 Support pl-symbolic-input in AI question generation
  apps/prairielearn/src/ee/lib/context-parsers/documentation.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: feature: AI question generation

#11954 Check Mustache templates in AI question generation
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/lib/validateHTML.test.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: feature: AI question generation

#11948 Load system data for issues when validating AI generated question
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/lib/question-render.ts
Labels: feature: AI question generation

#11984 Add links to screen reader suggestions in docs
  docs/question/accessibility.md
Labels: documentation

#11985 Prevent zombie zygote processes
  apps/prairielearn/python/zygote.py
Labels: python

#11982 Add modified_at column to variants and submissions tables
  apps/prairielearn/src/lib/grading.sql
  apps/prairielearn/src/lib/manualGrading.sql
  apps/prairielearn/src/lib/question-variant.sql
  apps/prairielearn/src/lib/submissions-upload.sql
  apps/prairielearn/src/migrations/20250513234929_variants__modified_at__add.sql
  apps/prairielearn/src/migrations/20250513235033_submissions__modified_at__add.sql
  apps/prairielearn/src/models/grading-job.sql
  apps/prairielearn/src/models/variant.sql
  apps/prairielearn/src/sprocs/grading_jobs_update_after_grading.sql
  apps/prairielearn/src/sprocs/variants_update_after_grading.sql
  database/tables/submissions.pg
  database/tables/variants.pg
  docs/dev-guide/guide.md
  packages/postgres-tools/src/bin/pg-describe.ts
Labels: documentation

#11977 Fixup minor accessibility, grading, rendering bugs in questions & elements
  apps/prairielearn/elements/pl-graph/pl-graph.py
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  docs/elements.md
  exampleCourse/questions/element/graph/question.html
  exampleCourse/questions/workshop/Lesson4_example1/server.py
Labels: documentation, python, element, bug-fix

#11959 Separate AI question generation/grading OpenAI keys
  apps/prairielearn/src/ee/lib/ai-grading.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-test.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/pages/administratorSettings/administratorSettings.html.ts
  apps/prairielearn/src/pages/administratorSettings/administratorSettings.ts
Labels: feature: AI question generation

#11987 Fix MathJax when it's loaded multiple times on the same page
  apps/prairielearn/assets/scripts/lib/mathjax.ts
  apps/prairielearn/assets/scripts/question.ts
Labels: bug-fix

#11978 Merge "Graded by" and "Is AI graded" columns on manual grading page
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
Labels: feature: AI grading

#11994 Add ARIA label to matching options
  apps/prairielearn/elements/pl-matching/pl-matching.mustache
  apps/prairielearn/elements/pl-matching/pl-matching.py
  exampleCourse/questions/element/matching/question.html
Labels: python, element

#11998 Typecheck example course
  exampleCourse/questions/demo/annotated/engCircuit/server.py
  exampleCourse/questions/demo/randomDataFrame/server.py
  exampleCourse/questions/demo/randomPlot/server.py
  exampleCourse/questions/element/matrixLatex/server.py
  exampleCourse/questions/element/symbolicInput/server.py
  exampleCourse/questions/template/checkbox/random-prompt/server.py
  exampleCourse/questions/template/matrix-component-input/random-graph/server.py
  pyproject.toml
Labels: python

#11999 LTI 1.3: Document Canvas requirements for grade sync
  apps/prairielearn/src/ee/lib/lti13.ts
  docs/lmsIntegrationInstructor.md
Labels: documentation

#12003 Improve explanation of sharing assessment source publicly
  apps/prairielearn/src/schemas/infoAssessment.ts
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
Labels: enhancement

#12004 Minor improvements to UI of public sharing info in assessment settings
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.html.ts
Labels: enhancement

#12014 Improve contrast on custom button/badge colors
  apps/prairielearn/public/stylesheets/colors.css
Labels: enhancement, accessibility

#12018 Remove apt caching in GitHub Actions
  .github/workflows/main.yml
Labels: github_actions, tooling

#10570 Replace showdown with marked in all elements
  apps/prairielearn/elements/pl-file-editor/info.json
  apps/prairielearn/elements/pl-file-editor/pl-file-editor.js
  apps/prairielearn/elements/pl-file-preview/info.json
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.js
  apps/prairielearn/elements/pl-rich-text-editor/info.json
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.js
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.mustache
  apps/prairielearn/elements/pl-xss-safe/info.json
  apps/prairielearn/elements/pl-xss-safe/pl-xss-safe.mustache
  apps/prairielearn/package.json
  packages/marked-mathjax/.mocharc.cjs
  packages/marked-mathjax/package.json
  packages/marked-mathjax/src/index.test.ts
  packages/marked-mathjax/src/index.ts
  packages/marked-mathjax/tsconfig.json
  yarn.lock
Labels: element

#12002 Filter for special characters in pl-order-block tag names
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
Labels: python, element

#12028 Add github actions reporter for pytest
  images/plbase/python-requirements.txt
Labels: python, tooling

#11956 AI question generation usage tracking
  apps/prairielearn/src/admin_queries/course_instances_usage.sql
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.sql
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/lib/ai.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/migrations/20250508234914_course_instance_usages__cost_ai_question_generation__add.sql
  apps/prairielearn/src/migrations/20250510130225_enum_course_instance_usages_type__ai_question_generation__add.sql
  apps/prairielearn/src/models/course-instance-usages.sql
  apps/prairielearn/src/models/course-instance-usages.ts
  database/enums/enum_course_instance_usages_type.pg
  database/tables/course_instance_usages.pg
Labels: feature: AI question generation

#12010 Enable LTI 1.3 side menu visibility on all instructor course instance pages
  apps/prairielearn/src/server.ts
Labels: feature: LTI 1.3

#11606 Add more details to enhanced nav assessment switcher
  apps/prairielearn/assets/stylesheets/pageLayout.css
  apps/prairielearn/src/components/AssessmentNavigation.html.ts
  apps/prairielearn/src/components/PageLayout.html.ts
  apps/prairielearn/src/pages/assessmentsSwitcher/assessmentsSwitcher.html.ts
  apps/prairielearn/src/pages/assessmentsSwitcher/assessmentsSwitcher.ts
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/tests/accessibility/index.test.ts
Labels: enhancement

#12029 Add github actions reporter for vitest
  .github/workflows/main.yml
  apps/prairielearn/vitest.config.ts
Labels: github_actions, tooling

#12012 Allow users to enable/disable AI question generation for courses
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/pages/instructorCourseAdminSettings/instructorCourseAdminSettings.html.ts
  apps/prairielearn/src/pages/instructorCourseAdminSettings/instructorCourseAdminSettings.ts
Labels: feature: AI question generation

#12044 Update docs from mocha to vitest
  docs/dev-guide/guide.md
  docs/dev-guide/quickstart.md
Labels: documentation

#12071 Fix table border
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.ts
Labels: bug-fix

#12075 Rename pl-code style attribute
  apps/prairielearn/elements/pl-code/pl-code.py
  docs/elements.md
  exampleCourse/questions/element/code/question.html
Labels: documentation, python, element
