Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-10, with the labels that each got.

#12859 Switch to GPT-5 for grading and improve all AI code
  apps/prairielearn/src/components/QuestionContainer.tsx
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-util.ts
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading.ts
  apps/prairielearn/src/ee/lib/ai-instance-question-grouping/ai-instance-question-grouping.ts
  apps/prairielearn/src/ee/lib/ai-question-generation-benchmark.sql
  apps/prairielearn/src/ee/lib/ai-question-generation-benchmark.ts
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.ts
  apps/prairielearn/src/lib/ai.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/models/course-instance-usages.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.ts
  docs/assets/config-prairielearn.schema.json
  docs/assets/config-unified.schema.json
Labels: enhancement, documentation

#13031 Enable `no-unnecessary-condition` for all pages code
  apps/prairielearn/src/ee/pages/administratorInstitutionLti13/administratorInstitutionLti13.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionLti13/administratorInstitutionLti13.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionSaml/administratorInstitutionSaml.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPanel.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.ts
  apps/prairielearn/src/pages/instructorFileTransfer/instructorFileTransfer.ts
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.ts
  apps/prairielearn/src/pages/instructorQuestionPreview/instructorQuestionPreview.ts
  apps/prairielearn/src/pages/navbarCourseInstanceSwitcher/navbarCourseInstanceSwitcher.ts
  apps/prairielearn/src/pages/publicAssessments/publicAssessments.html.ts
  apps/prairielearn/src/pages/shared/syncHelpers.ts
  apps/prairielearn/src/pages/studentAssessmentInstance/studentAssessmentInstance.ts
  docs/assets/config-prairielearn.schema.json
  docs/assets/config-unified.schema.json
  eslint.config.mjs
Labels: documentation, tooling, low-priority

#13048 Fix temporary ID generation for new topics
  apps/prairielearn/src/pages/instructorCourseAdminTopics/components/InstructorCourseAdminTopicsTable.tsx
Labels: bug-fix

#12906 [WIP] Access control UI prototype
  apps/prairielearn/assets/scripts/esm-bundles/react-fragments/AccessControl.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/migrations/20250922071519_access_control.sql
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/AccessControl.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/AccessControlForm.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/AfterCompleteForm.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/CollapsibleCard.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/DateControlForm.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/MainRuleForm.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/OverrideElement.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/OverrideRulesForm.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/PrairieTestControlForm.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/SkeletonComponents.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/components/types.ts
  apps/prairielearn/src/pages/instructorAssessmentAccess/instructorAssessmentAccess.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentAccess/instructorAssessmentAccess.ts
  apps/prairielearn/src/tests/chunks.test.ts
  apps/prairielearn/src/tests/sync/accessControl.test.ts
  database/tables/access_control.pg
  database/tables/access_control_groups.pg
Labels: schema, preact, feature: access control

#13014 Add notes for accessibility testing to development documentation
  docs/dev-guide/guide.md
Labels: documentation, low-priority

#13051 Remove references to ca.prairielearn.com
  docs/installing.md
  docs/saml.md
Labels: documentation

#12816 Add authors field to info.json for questions
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250401165336_authors__create.sql
  apps/prairielearn/src/models/course.sql
  apps/prairielearn/src/models/course.ts
  apps/prairielearn/src/schemas/infoQuestion.ts
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/authors.sql
  apps/prairielearn/src/sync/fromDisk/authors.ts
  apps/prairielearn/src/sync/syncFromDisk.ts
  apps/prairielearn/src/tests/sync/courseDb.test.ts
  apps/prairielearn/src/tests/sync/questionsSync.test.ts
  database/tables/authors.pg
  database/tables/pl_courses.pg
  database/tables/question_authors.pg
  database/tables/questions.pg
  docs/contentSharing.md
  docs/question/index.md
  testCourse/questions/addNumbers/info.json
  testCourse/questions/addVectors/info.json
Labels: documentation, feature: content sharing, schema

#13045 Enable `no-unnecessary-condition` over assets
  .changeset/floppy-spoons-tan.md
  apps/prairielearn/assets/scripts/administratorInstitutionLti13Client.ts
  apps/prairielearn/assets/scripts/behaviors/bootstrap-compat.ts
  apps/prairielearn/assets/scripts/behaviors/popover.ts
  apps/prairielearn/assets/scripts/behaviors/tooltip.ts
  apps/prairielearn/assets/scripts/externalImageCaptureClient.ts
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/assets/scripts/instructorGradebookClient.ts
  apps/prairielearn/assets/scripts/instructorRequestCourseClient.ts
  apps/prairielearn/assets/scripts/lib/bootstrap-compat-utils.ts
  apps/prairielearn/assets/scripts/lib/copyContent.ts
  apps/prairielearn/assets/scripts/lib/parallelHistograms.ts
  apps/prairielearn/assets/scripts/lib/questionsTable.tsx
  apps/prairielearn/assets/scripts/lib/scatter.ts
  apps/prairielearn/assets/scripts/question.ts
  apps/prairielearn/assets/scripts/tsconfig.json
  apps/prairielearn/src/components/QuestionsTable.tsx
  apps/prairielearn/src/components/QuestionsTable.types.ts
  apps/prairielearn/src/pages/instructorRequestCourse/instructorRequestCourse.html.ts
  apps/prairielearn/src/pages/instructorRequestCourse/instructorRequestCourse.ts
  apps/prairielearn/src/pages/instructorRequestCourse/instructorRequestCourse.types.ts
  eslint.config.mjs
  packages/browser-utils/src/encode-data.ts
Labels: tooling, low-priority

#13063 Begin work to remove self_enrollment_enabled_before_date_enabled
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/components/SelfEnrollmentSettings.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.html.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.types.ts
  apps/prairielearn/src/schemas/infoCourseInstance.ts
  apps/prairielearn/src/schemas/schemas/infoCourseInstance.json
  apps/prairielearn/src/sprocs/sync_course_instances.sql
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/tests/sync/courseInstancesSync.test.ts
Labels: schema

#13064 Completely drop self_enrollment_enabled_before_date_enabled column
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20251007223022_course_instances__self_enrollment_enabled_before_date_enabled__drop.sql
  database/tables/course_instances.pg
Labels: do not merge
