Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-08, with the labels that each got.

#11037 Fix workspace access for public question previews
  apps/prairielearn/src/components/QuestionContainer.tsx
  apps/prairielearn/src/lib/question-render.ts
  apps/prairielearn/src/middlewares/authzWorkspace.ts
  apps/prairielearn/src/middlewares/workspaceProxy.ts
  apps/prairielearn/src/pages/workspace/workspace.ts
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/tests/accessibility/index.test.ts
  apps/prairielearn/src/tests/variantAccess.test.ts
Labels: bug-fix

#12540 Fix link to issues page in assessment switcher
  apps/prairielearn/src/pages/assessmentsSwitcher/assessmentsSwitcher.html.ts
Labels: bug-fix

#12554 `pl-image-capture` Submitted image rotation
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.css
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.js
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.mustache
Labels: element

#12570 Fix Zod schema for grader_loads_current sproc
  apps/prairielearn/src/ee/cron/externalGraderLoad.ts
Labels: bug-fix

#12541 Fix handling of verbose toggle in file editor page
  apps/prairielearn/assets/scripts/editErrorClient.ts
  apps/prairielearn/assets/scripts/instructorFileEditorClient.ts
  apps/prairielearn/assets/scripts/lib/jobSequenceResults.ts
  apps/prairielearn/assets/scripts/lib/verboseToggle.ts
  apps/prairielearn/src/pages/editError/editError.html.ts
Labels: bug-fix

#12565 Upgrade to TypeScript 5.9
  .changeset/thick-moments-wish.md
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/workspace-host/package.json
  package.json
  packages/actions-report-image-sizes/package.json
  packages/aws-imds/package.json
  packages/aws/package.json
  packages/bind-mount/package.json
  packages/browser-utils/package.json
  packages/cache/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-list-endpoints/package.json
  packages/flash/package.json
  packages/formatter/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/logger/package.json
  packages/markdown/package.json
  packages/marked-mathjax/package.json
  packages/migrations/package.json
  packages/named-locks/package.json
  packages/node-metrics/package.json
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres-tools/package.json
  packages/postgres/package.json
  packages/preact-cjs-compat/package.json
  packages/preact-cjs/package.json
  packages/prettier-plugin-sql/package.json
  packages/run/package.json
  packages/sanitize/package.json
  packages/sentry/package.json
  packages/session/package.json
  packages/signed-token/package.json
  packages/workspace-utils/package.json
  packages/zod/package.json
  yarn.lock
Labels: chore

#12572 Remove sphinx
  .github/dependabot.yml
  requirements.txt
Labels: python, tooling

#12587 Remove recommonmark
  requirements.txt
Labels: python

#12393 Add Zod types for middleware queries that impact res.locals
  apps/prairielearn/src/lib/db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/grading.ts
  apps/prairielearn/src/middlewares/authzCourseOrInstance.ts
  apps/prairielearn/src/middlewares/authzWorkspace.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessment.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentInstance.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentQuestion.ts
  apps/prairielearn/src/middlewares/selectAndAuthzInstanceQuestion.ts
  apps/prairielearn/src/middlewares/selectAndAuthzInstructorQuestion.ts
  apps/prairielearn/src/middlewares/selectAssessments.ts
  apps/prairielearn/src/models/questions.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/gradingPanel.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.html.tsx
Labels: documentation, tooling, element, preact

#12536 Refactor LTI 1.3 grade push to support multiple-instance assessments
  apps/prairielearn/src/ee/lib/lti13.sql
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.sql
Labels: feature: LTI 1.3

#11914 Server Side HMR
  Makefile
  apps/prairielearn/package.json
  apps/prairielearn/src/admin_queries/lib/util.ts
  apps/prairielearn/src/lib/code-caller/index.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/lib/server-initialized.ts
  apps/prairielearn/src/lib/socket-server.ts
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/tests/helperServer.ts
  apps/prairielearn/vite.config.ts
  apps/workspace-host/src/lib/socket-server.ts
  package.json
  packages/migrations/src/migrations/migrations.ts
  packages/postgres/src/pool.ts
  packages/vite-plugin-express/package.json
  packages/vite-plugin-express/src/index.ts
  yarn.lock
Labels: discussion, tooling

#12259 Enable faster development iteration with new Vite plugin
  Makefile
  apps/prairielearn/package.json
  apps/prairielearn/src/admin_queries/lib/util.ts
  apps/prairielearn/src/lib/code-caller/index.ts
  apps/prairielearn/src/lib/config.ts
  apps/prairielearn/src/lib/server-initialized.ts
  apps/prairielearn/src/lib/socket-server.ts
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/tests/helperServer.ts
  apps/prairielearn/vite.config.ts
  apps/workspace-host/src/lib/socket-server.ts
  package.json
  packages/migrations/src/migrations/migrations.ts
  packages/postgres/src/pool.ts
  packages/vite-plugin-express/README.md
  packages/vite-plugin-express/package.json
  packages/vite-plugin-express/src/index.ts
  packages/vite-plugin-express/tsconfig.json
  yarn.lock
Labels: tooling

#12598 `pl-image-capture` Image enhancement button
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.js
  apps/prairielearn/elements/pl-image-capture/pl-image-capture.mustache
Labels: enhancement, element

#12613 Simplify navbarType and urlPrefix middlewares
  apps/prairielearn/src/server.ts
Labels: bug-fix

#12399 Individual student page
  apps/prairielearn/assets/scripts/esm-bundles/react-fragments/InstructorStudentDetail.ts
  apps/prairielearn/assets/scripts/instructorGradebookClient.ts
  apps/prairielearn/assets/scripts/lib/questionsTable.tsx
  apps/prairielearn/src/components/AssessmentBadge.tsx
  apps/prairielearn/src/lib/client/safe-db-types.ts
  apps/prairielearn/src/lib/client/url.ts
  apps/prairielearn/src/lib/url.ts
  apps/prairielearn/src/pages/instructorIssues/instructorIssues.html.tsx
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.html.tsx
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.html.tsx
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.sql
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.tsx
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.html.tsx
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.tsx
  apps/prairielearn/src/pages/publicAssessmentQuestions/publicAssessmentQuestions.html.tsx
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/tests/accessibility/index.test.ts
Labels: preact

#12441 order blocks: refactor and unit test `prepare` function
  apps/prairielearn/elements/pl-order-blocks/order_blocks_options_parsing.py
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
  apps/prairielearn/elements/pl-order-blocks/pl_order_blocks_test.py
Labels: python, element

#12535 Export assessment AI grading classification statistics
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-stats.ts
  apps/prairielearn/src/ee/lib/ai-grading/types.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessment/assessment.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessment/assessment.ts
Labels: feature: AI grading

#12629 Refine TypeScript config
  apps/prairielearn/src/lib/editors.ts
  contrib/tsconfig.json
  packages/tsconfig/tsconfig.app.json
  packages/tsconfig/tsconfig.package.json
Labels: enhancement

#12609 Revamp course instance deletion
  apps/prairielearn/assets/scripts/esm-bundles/react-fragments/DeleteCourseInstanceModal.ts
  apps/prairielearn/src/components/DeleteCourseInstanceModal.tsx
  apps/prairielearn/src/ee/pages/administratorInstitutionLti13/administratorInstitutionLti13.html.ts
  apps/prairielearn/src/news_items/017_workspaces/index.html
  apps/prairielearn/src/news_items/035_desktop_workspace/index.html
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.html.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.sql
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.ts
Labels: preact

#12193 Consistent keyword capitalization in SQL
  apps/prairielearn/src/admin_queries/course_instance_active_enrollments.sql
  apps/prairielearn/src/admin_queries/course_instance_compute_time.sql
  apps/prairielearn/src/admin_queries/generate_assessment_instances.sql
  apps/prairielearn/src/admin_queries/instructors_by_institution.sql
  apps/prairielearn/src/api/trpc/routers/course-files/batchDeleteQuestions.sql
  apps/prairielearn/src/api/v1/endpoints/courseInstanceGradebook/index.sql
  apps/prairielearn/src/api/v1/endpoints/queries.sql
  apps/prairielearn/src/cron/sendUnfinishedCronWarnings.sql
  apps/prairielearn/src/ee/lib/institution.sql
  apps/prairielearn/src/ee/lib/lti13.sql
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.sql
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.sql
  apps/prairielearn/src/lib/assessment.sql
  apps/prairielearn/src/lib/course-request.sql
  apps/prairielearn/src/lib/getting-started.sql
  apps/prairielearn/src/lib/groups.sql
  apps/prairielearn/src/lib/manualGrading.sql
  apps/prairielearn/src/lib/score-upload.sql
  apps/prairielearn/src/lib/workspaceHost.sql
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentQuestion.sql
  apps/prairielearn/src/middlewares/selectAndAuthzInstructorQuestion.sql
  apps/prairielearn/src/models/assessment-set.sql
  apps/prairielearn/src/models/assessment.sql
  apps/prairielearn/src/models/course-instances.sql
  apps/prairielearn/src/models/course.sql
  apps/prairielearn/src/models/questions.sql
  apps/prairielearn/src/pages/courseSyncs/courseSyncs.sql
  apps/prairielearn/src/pages/elementFiles/elementFiles.sql
  apps/prairielearn/src/pages/instructorAssessmentDownloads/instructorAssessmentDownloads.sql
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.sql
  apps/prairielearn/src/pages/instructorAssessmentInstances/instructorAssessmentInstances.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessment/assessment.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.sql
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/instanceQuestion.sql
  apps/prairielearn/src/pages/instructorAssessmentQuestionStatistics/instructorAssessmentQuestionStatistics.sql
  apps/prairielearn/src/pages/instructorAssessmentRegrading/instructorAssessmentRegrading.sql
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.sql
  apps/prairielearn/src/pages/instructorAssessmentUploads/instructorAssessmentUploads.sql
  apps/prairielearn/src/pages/instructorAssessments/instructorAssessments.sql
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.sql
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.sql
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.sql
  apps/prairielearn/src/pages/instructorQuestionStatistics/instructorQuestionStatistics.sql
  apps/prairielearn/src/sprocs/administrators_delete_by_user_id.sql
  apps/prairielearn/src/sprocs/administrators_insert_by_user_uid.sql
  apps/prairielearn/src/sprocs/authz_course.sql
  apps/prairielearn/src/sprocs/authz_course_instance.sql
  apps/prairielearn/src/sprocs/courses_update_column.sql
  apps/prairielearn/src/tests/groupGenerateAndDelete.test.sql
  apps/prairielearn/src/tests/groupRole.test.sql
  apps/prairielearn/src/tests/groupScoreAndSync.test.sql
  apps/prairielearn/src/tests/groupStudent.test.sql
  apps/prairielearn/src/tests/instructorAssessmentGroups.test.sql
  apps/prairielearn/src/tests/questionSharing.test.sql
  apps/workspace-host/src/interface.sql
  packages/migrations/src/batched-migrations/batched-migration-runner.sql
  packages/postgres-tools/src/describe.sql
  packages/workspace-utils/src/index.sql
Labels: python, chore, github_actions, tooling, element, preact

#12544 Type most usages of queryAsync with a return value
  apps/prairielearn/src/cron/index.ts
  apps/prairielearn/src/cron/sendUnfinishedCronWarnings.ts
  apps/prairielearn/src/cron/workspaceTimeoutStop.ts
  apps/prairielearn/src/cron/workspaceTimeoutWarn.ts
  apps/prairielearn/src/lib/chunks.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/pages/administratorAdmins/administratorAdmins.ts
  apps/prairielearn/src/pages/administratorNetworks/administratorNetworks.ts
  apps/prairielearn/src/pages/instructorAssessmentStatistics/instructorAssessmentStatistics.ts
  apps/prairielearn/src/tests/access.test.ts
  apps/prairielearn/src/tests/accessibility/index.test.ts
  apps/prairielearn/src/tests/cron.test.ts
  apps/prairielearn/src/tests/exam.test.ts
  apps/prairielearn/src/tests/groupRole.test.sql
  apps/prairielearn/src/tests/groupRole.test.ts
  apps/prairielearn/src/tests/groupScoreAndSync.test.ts
  apps/prairielearn/src/tests/groupStudent.test.ts
  apps/prairielearn/src/tests/helperAttachFiles.ts
  apps/prairielearn/src/tests/helperExam.ts
  apps/prairielearn/src/tests/helperQuestion.ts
  apps/prairielearn/src/tests/helperServer.ts
  apps/prairielearn/src/tests/homework.test.ts
  apps/prairielearn/src/tests/instructorQuestions.test.ts
  apps/prairielearn/src/tests/permissions/courseAdminAccess.test.ts
  apps/prairielearn/src/tests/showClosedAssessment.test.ts
  apps/prairielearn/src/tests/showClosedAssessmentScore.test.ts
  apps/prairielearn/src/tests/sprocs/check_course_instance_access.test.ts
  apps/prairielearn/src/tests/sprocs/ip_to_mode.test.ts
  apps/prairielearn/src/tests/sync/util.ts
  apps/prairielearn/src/tests/zoneGradingExam.test.ts
  apps/prairielearn/src/tests/zoneGradingHomework.test.ts
Labels: chore

#12622 Add eslint-plugin-perfectionist
  apps/prairielearn/src/lib/db-types.ts
  eslint.config.mjs
  package.json
  yarn.lock
Labels: element, schema

#12660 Fix typo in "statistics"
  apps/prairielearn/src/lib/assessment.sql
  apps/prairielearn/src/lib/assessment.ts
Labels: bug-fix

#12664 Fix instance question status logic for homeworks
  apps/prairielearn/src/sprocs/instance_questions_points_homework.sql
Labels: bug-fix

#12666 Replace enhanced-navigation feature flag with legacy-navigation
  apps/prairielearn/src/components/AssessmentNavigation.tsx
  apps/prairielearn/src/components/PageLayout.tsx
  apps/prairielearn/src/ee/routers/administratorInstitution.ts
  apps/prairielearn/src/ee/routers/institutionAdmin.ts
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/middlewares/authzCourseOrInstance.ts
  apps/prairielearn/src/pages/userSettings/userSettings.html.ts
  apps/prairielearn/src/pages/userSettings/userSettings.ts
  apps/prairielearn/src/server.ts
Labels: enhancement

#12671 Disable fail-fast behavior for sharded tests
  .github/workflows/test.yml
Labels: github_actions, tooling

#12674 Fix Vitest deprecation warnings
  vitest.config.ts
Labels: bug-fix

#12652 Transfer over to OrderBlockOptions
  apps/prairielearn/elements/pl-order-blocks/order_blocks_options_parsing.py
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
  apps/prairielearn/elements/pl-order-blocks/pl_order_blocks_test.py
Labels: python, element

#12676 Add functionality back to ignore comments in pl-block-groups.
  apps/prairielearn/elements/pl-order-blocks/order_blocks_options_parsing.py
  testCourse/questions/orderBlocks/question.html
Labels: python, element

#12160 Add sqlfluff and squawk linter; split CI checks
  .github/workflows/check.yml
  .sqlfluff
  .sqlfluffignore
  .squawk.toml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  apps/prairielearn/src/migrations/20170428200859_initial_state.sql
  apps/prairielearn/src/migrations/20170723122207_errors__id__primary_key__constraint_add.sql
  pyproject.toml
Labels: python, github_actions, tooling

#12688 Fix highlighted line in serverFilesCourse example for Python grader
  docs/python-grader/index.md
Labels: documentation, bug-fix

#12716 Fix unknown action error message
  apps/prairielearn/src/pages/enroll/enroll.ts
Labels: bug-fix

#12698 Stylistic type checked rules
  apps/prairielearn/assets/scripts/behaviors/popover.ts
  apps/prairielearn/assets/scripts/institutionAdminAdminsClient.ts
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftsClient.ts
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftsSampleQuestions.tsx
  apps/prairielearn/assets/scripts/instructorAssessmentInstancesClient.tsx
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/assets/scripts/instructorAssessmentSettingsClient.ts
  apps/prairielearn/assets/scripts/instructorInstanceAdminSettingsClient.ts
  apps/prairielearn/assets/scripts/instructorQuestionSettingsClient.tsx
  apps/prairielearn/assets/scripts/lib/bootstrap-compat-utils.ts
  apps/prairielearn/assets/scripts/lib/questionsTable.tsx
  apps/prairielearn/assets/scripts/question.ts
  apps/prairielearn/assets/scripts/workspaceClient.ts
  apps/prairielearn/src/components/Navbar.tsx
  apps/prairielearn/src/components/QuestionContainer.tsx
  apps/prairielearn/src/cron/index.ts
  apps/prairielearn/src/ee/auth/lti13/lti13Auth.ts
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/SampleQuestionDemo.tsx
  apps/prairielearn/src/lib/assets.ts
  apps/prairielearn/src/lib/chunks.ts
  apps/prairielearn/src/lib/client/nuqs.tsx
  apps/prairielearn/src/lib/code-caller/code-caller-container.ts
  apps/prairielearn/src/lib/editors.test.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/lib/externalGraderCommon.ts
  apps/prairielearn/src/lib/grading.ts
  apps/prairielearn/src/lib/group-update.ts
  apps/prairielearn/src/lib/question-render.ts
  apps/prairielearn/src/lib/question-testing.ts
  apps/prairielearn/src/lib/question-variant.ts
  apps/prairielearn/src/middlewares/authn.ts
  apps/prairielearn/src/pages/administratorQuery/administratorQuery.html.ts
  apps/prairielearn/src/pages/authCallbackLti/authCallbackLti.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricInputSection.html.ts
  apps/prairielearn/src/pages/instructorCopyPublicCourseInstance/instructorCopyPublicCourseInstance.ts
  apps/prairielearn/src/question-servers/freeform.ts
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/tests/courseEditor.test.ts
  apps/prairielearn/src/tests/helperClient.ts
  apps/prairielearn/src/tests/instructorAssessmentDownloads.test.ts
  apps/prairielearn/src/tests/instructorBreakVariants.test.ts
  apps/prairielearn/src/tests/lti13.test.ts
  apps/prairielearn/src/tests/questionSharing.test.ts
  apps/prairielearn/src/tests/sync/assessmentSetsSync.test.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
  apps/prairielearn/src/tests/sync/courseDb.test.ts
  apps/prairielearn/src/tests/sync/courseInstancesSync.test.ts
  apps/prairielearn/src/tests/sync/questionsSync.test.ts
  apps/prairielearn/src/tests/utils/group.ts
  docs/dev-guide/guide.md
  eslint.config.mjs
  packages/vite-plugin-express/src/index.ts
  vitest.config.ts
Labels: documentation

#12729 Rename home.* files
  apps/prairielearn/src/pages/home/home.html.tsx
  apps/prairielearn/src/pages/home/home.tsx
Labels: blocking

#12732 Render classnames in documentation correctly
  docs/python-grader/reference-docs.md
  mkdocs.yml
Labels: documentation, bug-fix, low-priority

#12675 Re-parse JSON schemas with Zod
  apps/prairielearn/src/schemas/infoAssessment.ts
  apps/prairielearn/src/schemas/infoCourse.ts
  apps/prairielearn/src/schemas/infoCourseInstance.ts
  apps/prairielearn/src/schemas/infoQuestion.ts
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
  apps/prairielearn/src/schemas/schemas/infoCourse.json
  apps/prairielearn/src/schemas/schemas/infoCourseInstance.json
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/sync/fromDisk/courseInfo.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/sync/fromDisk/questions.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
Labels: schema, blocking

#12583 Upgrade openid-client to v6
  apps/prairielearn/package.json
  apps/prairielearn/src/ee/auth/lti13/lti13Auth.ts
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/tests/lti13.test.ts
  yarn.lock
Labels: chore, feature: LTI 1.3

#12751 Update outdated assessment sharing docs
  docs/contentSharing.md
Labels: documentation
