Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-03, with the labels that each got.

#11490 Typecheck and lint Canvas question converter
  contrib/question_converters/canvas/canvas.py
  contrib/question_converters/canvas/quiz2pl.py
  pyproject.toml
Labels: python

#11303 Improve finalization of questions
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
Labels: feature: AI question generation

#11443 Improve consistency and accessibility of tooltips and popovers
  apps/prairielearn/assets/scripts/behaviors/bootstrap-compat.ts
  apps/prairielearn/assets/scripts/behaviors/dropdown.ts
  apps/prairielearn/assets/scripts/behaviors/popover.ts
  apps/prairielearn/assets/scripts/behaviors/tooltip.ts
  apps/prairielearn/assets/scripts/instructorAssessmentInstancesClient.tsx
  apps/prairielearn/assets/scripts/instructorAssessmentManualGradingAssessmentQuestionClient.ts
  apps/prairielearn/assets/scripts/instructorAssessmentSettingsClient.ts
  apps/prairielearn/assets/scripts/instructorGradebookClient.ts
  apps/prairielearn/assets/scripts/instructorInstanceAdminSettingsClient.ts
  apps/prairielearn/assets/scripts/lib/qrCodeButton.ts
  apps/prairielearn/src/components/ChangeIdButton.html.ts
  apps/prairielearn/src/components/CourseRequestsTable.html.ts
  apps/prairielearn/src/components/FileBrowser.html.ts
  apps/prairielearn/src/components/Navbar.html.ts
  apps/prairielearn/src/components/PersonalNotesPanel.html.ts
  apps/prairielearn/src/components/QRCodeModal.html.ts
  apps/prairielearn/src/components/QuestionContainer.html.ts
  apps/prairielearn/src/components/QuestionScore.html.ts
  apps/prairielearn/src/components/StudentAccessRulesPopover.html.ts
  apps/prairielearn/src/components/SyncProblemButton.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.html.ts
  apps/prairielearn/src/ee/pages/instructorInstanceAdminLti13/instructorInstanceAdminLti13.html.ts
  apps/prairielearn/src/news_items/036_sequential_questions/index.html
  apps/prairielearn/src/pages/administratorAdmins/administratorAdmins.html.ts
  apps/prairielearn/src/pages/administratorCourses/administratorCourses.html.ts
  apps/prairielearn/src/pages/courseSyncs/courseSyncs.html.ts
  apps/prairielearn/src/pages/instructorAssessmentAccess/instructorAssessmentAccess.html.ts
  apps/prairielearn/src/pages/instructorAssessmentGroups/instructorAssessmentGroups.html.ts
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessment/assessment.html.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/instanceQuestion/rubricSettingsModal.html.ts
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.html.ts
  apps/prairielearn/src/pages/instructorCourseAdminInstances/instructorCourseAdminInstances.html.ts
  apps/prairielearn/src/pages/instructorCourseAdminSharing/instructorCourseAdminSharing.html.ts
  apps/prairielearn/src/pages/instructorCourseAdminStaff/instructorCourseAdminStaff.html.ts
  apps/prairielearn/src/pages/instructorInstanceAdminAccess/instructorInstanceAdminAccess.html.ts
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.html.ts
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.html.ts
  apps/prairielearn/src/pages/instructorIssues/instructorIssues.html.ts
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.html.ts
  apps/prairielearn/src/pages/instructorRequestCourse/instructorRequestCourse.html.ts
  apps/prairielearn/src/pages/studentAssessmentInstance/studentAssessmentInstance.html.ts
  apps/prairielearn/src/pages/userSettings/userSettings.html.ts
  apps/prairielearn/src/tests/accessibility/index.test.ts
Labels: accessibility

#11391 pl-rich-text-editor: remove support for Markdown output
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.js
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.py
  apps/prairielearn/python/prairielearn/core.py
  docs/elements.md
  exampleCourse/questions/element/markdown/question.html
  exampleCourse/questions/element/richTextEditor/info.json
  exampleCourse/questions/element/richTextEditor/question.html
Labels: do not merge

#11596 Fix copying question from public preview page
  apps/prairielearn/assets/scripts/question.ts
  apps/prairielearn/src/components/Modal.html.ts
  apps/prairielearn/src/components/QuestionContainer.html.ts
Labels: feature: question sharing

#11632 Remove supported browsers list from workspace docs
  docs/workspaces/index.md
Labels: documentation

#11629 Add issue templates that set the issue type
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
Labels: RFC

#11626 Add support for auto-tagging PRs
  .github/labeler.yml
  .github/title-labeler.yml
  .github/workflows/label-prs.yml
Labels: github_actions

#11652 Bump all Python minor/patch dependencies
  docs/requirements.txt
  graders/python/requirements.txt
  images/plbase/python-requirements.txt
  workspaces/jupyterlab-python/requirements.txt
  workspaces/vscode-python/requirements.txt
Labels: documentation, python, autograder-python

#11641 Format sh files
  .editorconfig
  .prettierrc.json
  .vscode/settings.json
  Makefile
  contrib/build-image.sh
  contrib/dump_filter.sh
  contrib/dump_restore.sh
  contrib/question-container-debugging.sh
  contrib/release-image.sh
  contrib/run-question-in-container.sh
  contrib/start_workspace_tmux.sh
  docs/PrairieDraw.md
  docs/installing.md
  docs/installingLocal.md
  docs/installingNative.md
  docs/running-in-production/docker-compose.md
  graders/c/cgrader/entrypoint.sh
  graders/java/autograder.sh
  graders/python/install.sh
  graders/python/python_autograder/run.sh
  graders/r/r_autograder/run.sh
  images/plbase/plbase-install.sh
  package.json
  scripts/check_path_modified.sh
  scripts/copy_docker_coverage_reports.sh
  scripts/gen_ssl.sh
  scripts/init.sh
  scripts/start_postgres.sh
  scripts/start_redis.sh
  scripts/start_s3rver.sh
  workspaces/desktop/pl-gosu-helper.sh
  workspaces/jupyterlab-python/install.sh
  workspaces/jupyterlab-python/pl-gosu-helper.sh
  workspaces/rstudio/pl-gosu-helper.sh
  workspaces/rstudio/pl-start.sh
  workspaces/vscode-base/pl-gosu-helper.sh
  yarn.lock
Labels: documentation, tooling, autograder-python

#11657 UI tweaks to the formula tooltip in rich text editor
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.css
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.js
Labels: element

#11655 Upgrade all JavaScript dependencies
  .changeset/early-foxes-ask.md
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/workspace-host/package.json
  package.json
  packages/actions-report-image-sizes/package.json
  packages/aws-imds/package.json
  packages/aws/package.json
  packages/bind-mount/package.json
  packages/cache/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-list-endpoints/package.json
  packages/flash/package.json
  packages/formatter/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/logger/package.json
  packages/markdown/package.json
  packages/migrations/package.json
  packages/named-locks/package.json
  packages/node-metrics/package.json
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres-tools/package.json
  packages/postgres/package.json
  packages/prettier-plugin-sql/package.json
  packages/run/package.json
  packages/sanitize/package.json
  packages/sentry/package.json
  packages/session/package.json
  packages/signed-token/package.json
  packages/workspace-utils/package.json
  packages/zod/package.json
  yarn.lock
Labels: chore

#11651 Fix access to workspace logs page
  apps/prairielearn/src/pages/workspaceLogs/workspaceLogs.ts
Labels: bug-fix
