Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-09, with the labels that each got.

#12727 Add enrollment status to students table, invitation support code
  apps/prairielearn/package.json
  apps/prairielearn/src/components/EnrollmentStatusIcon.tsx
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/page-context.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.ts
  apps/prairielearn/src/lib/client/tanstackQuery.tsx
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.html.tsx
  apps/prairielearn/src/pages/instructorStudents/components/DownloadButton.tsx
  apps/prairielearn/src/pages/instructorStudents/components/StatusColumnFilter.tsx
  apps/prairielearn/src/pages/instructorStudents/components/StudentsTable.tsx
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.html.tsx
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.shared.ts
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.sql
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.tsx
  apps/prairielearn/src/tests/accessibility/index.test.ts
  yarn.lock
Labels: blocking

#12753 Add basic PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: tooling

#12728 Rework homepage in jsx
  apps/prairielearn/src/pages/home/home.html.tsx
  apps/prairielearn/src/pages/home/home.tsx
Labels: blocking

#12781 Fix Zod schemas for instructor assessment downloads
  apps/prairielearn/src/pages/instructorAssessmentDownloads/instructorAssessmentDownloads.ts
Labels: bug-fix

#12799 Fix check for pull request user in changeset CI
  .github/workflows/check.yml
Labels: github_actions, tooling, bug-fix

#12785 Fix checking of plan grants on student instance questions
  apps/prairielearn/src/ee/lib/billing/plan-grants.ts
  apps/prairielearn/src/ee/middlewares/checkPlanGrantsForQuestion.ts
Labels: bug-fix

#12746 Allow instructors to bypass plan grant requirements
  apps/prairielearn/src/ee/lib/billing/plan-grants.ts
  apps/prairielearn/src/ee/pages/studentCourseInstanceUpgrade/studentCourseInstanceUpgrade.test.ts
Labels: bug-fix

#12740 Remove writes of duration_stat_threshold_labels and _seconds
  apps/prairielearn/src/lib/assessment.sql
  apps/prairielearn/src/sprocs/format_interval_short.sql
  apps/prairielearn/src/sprocs/index.ts
  apps/prairielearn/src/sprocs/interval_hist_thresholds.sql
Labels: do not merge, low-priority

#12807 Add initial columns for per-question real-time grading configuration
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250903214924_per_question_allow_real_time_grading.sql
  apps/prairielearn/src/schemas/infoAssessment.ts
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
  apps/prairielearn/src/sprocs/sync_assessments.sql
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
  database/tables/assessment_questions.pg
  database/tables/assessments.pg
Labels: schema

#12811 Fix course instance link spacing on homepage
  apps/prairielearn/src/pages/home/home.html.tsx
Labels: bug-fix

#12812 Fix auth on workspace container proxy routes
  apps/prairielearn/src/middlewares/authzHasCoursePreviewOrInstanceView.tsx
Labels: bug-fix

#12707 Type API endpoints
  apps/prairielearn/src/api/v1/endpoints/courseInstanceAccessRules/index.ts
  apps/prairielearn/src/api/v1/endpoints/courseInstanceAssessmentInstances/index.ts
  apps/prairielearn/src/api/v1/endpoints/courseInstanceAssessments/index.ts
  apps/prairielearn/src/api/v1/endpoints/courseInstanceGradebook/index.ts
  apps/prairielearn/src/api/v1/endpoints/courseInstanceInfo/index.ts
  apps/prairielearn/src/api/v1/endpoints/courseInstanceSubmissions/index.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/no-deprecated-sql.d.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentInstance.ts
  apps/prairielearn/src/middlewares/selectAndAuthzInstanceQuestion.ts
  apps/prairielearn/src/pages/instructorAssessmentDownloads/instructorAssessmentDownloads.ts
  apps/prairielearn/src/pages/instructorAssessmentInstances/instructorAssessmentInstances.types.ts
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.types.ts
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.html.tsx
  apps/prairielearn/src/tests/accessibility/index.test.ts
  apps/prairielearn/src/tests/api.test.ts
Labels: low-priority

#12809 Better sync error message
  apps/prairielearn/src/sync/course-db.ts
Labels: low-priority

#12801 Add unique constraint for enrollment code
  apps/prairielearn/src/ee/models/enrollment.test.ts
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/migrations/20250903120000_course_instances__enrollment_code__unique.sql
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.sql
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/tests/accessAsStudent.test.sql
  apps/prairielearn/src/tests/accessAsStudent.test.ts
  apps/prairielearn/src/tests/sprocs/check_assessment_access.test.sql
  apps/prairielearn/src/tests/sprocs/check_course_instance_access.test.sql
  database/tables/course_instances.pg
Labels: blocking

#12805 Add tiptap-based rich text editor to question generation
  apps/prairielearn/assets/scripts/esm-bundles/react-fragments/RichTextEditor.ts
  apps/prairielearn/package.json
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/RichTextEditor/extensions/pl-question-panel.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/RichTextEditor/extensions/raw-html.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/RichTextEditor/extensions/react-rendered-component-sample.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/RichTextEditor/index.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.html.tsx
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/lib/features/index.ts
  yarn.lock
Labels: preact, blocking

#12742 Add `no-unnecessary-condition` to our library code
  apps/prairielearn/src/lib/chunks.ts
  apps/prairielearn/src/lib/code-caller/code-caller-container.ts
  apps/prairielearn/src/lib/code-caller/code-caller-native.ts
  apps/prairielearn/src/lib/code-caller/index.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/lib/externalGraderCommon.ts
  apps/prairielearn/src/lib/externalGraderResults.ts
  apps/prairielearn/src/lib/externalGradingSocket.ts
  apps/prairielearn/src/lib/externalImageCaptureSocket.ts
  apps/prairielearn/src/lib/features/manager.ts
  apps/prairielearn/src/lib/groups.ts
  apps/prairielearn/src/lib/json-load.ts
  apps/prairielearn/src/lib/license.ts
  apps/prairielearn/src/lib/ltiOutcomes.ts
  apps/prairielearn/src/lib/manualGrading.ts
  apps/prairielearn/src/lib/question-render.ts
  apps/prairielearn/src/lib/question-variant.ts
  apps/prairielearn/src/lib/sentry.ts
  apps/prairielearn/src/lib/server-jobs.ts
  apps/prairielearn/src/lib/socket-server.ts
  apps/prairielearn/src/lib/workspace.ts
  eslint.config.mjs
Labels: low-priority

#12822 Change condition for changeset check in version packages PR
  .github/workflows/check.yml
Labels: github_actions, tooling

#12823 Skip changeset check in merge CI
  .github/workflows/check.yml
Labels: github_actions, tooling

#12820 Add `no-unnecessary-condition` to schemas/sync/question server code
  apps/prairielearn/src/question-servers/freeform.ts
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/sync/fromDisk/courseInfo.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/sync/sharing.ts
  eslint.config.mjs
Labels: chore, schema, low-priority

#12837 Upgrade from ES2021 to ES2022
  apps/prairielearn/assets/scripts/tsconfig.json
Labels: chore, blocking

#12697 Backfill `enrollment_code` column
  apps/prairielearn/src/batched-migrations/20250815150052_course_instances__enrollment_code__backfill.sql
  apps/prairielearn/src/batched-migrations/20250815150052_course_instances__enrollment_code__backfill.ts
  apps/prairielearn/src/migrations/20250815150052_course_instances__enrollment_code__backfill.ts
Labels: blocking

#12839 Improve CSRF test helpers
  apps/prairielearn/src/tests/helperClient.ts
Labels: enhancement

#12836 Support instance settings Preact refactor
  apps/prairielearn/src/components/GitHubButton.tsx
  apps/prairielearn/src/components/Navbar.types.ts
  apps/prairielearn/src/components/QRCodeModal.tsx
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/page-context.ts
  apps/prairielearn/src/pages/instructorAssessmentSettings/instructorAssessmentSettings.html.tsx
  apps/prairielearn/src/pages/instructorCourseAdminSettings/instructorCourseAdminSettings.html.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/components/SelfEnrollmentSettings.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.html.tsx
  apps/prairielearn/src/pages/instructorInstanceAdminSettings/instructorInstanceAdminSettings.tsx
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.html.tsx
Labels: preact, blocking

#12582 Fix inflated fingerprint change count
  apps/prairielearn/src/middlewares/clientFingerprint.ts
  apps/prairielearn/src/pages/studentAssessment/studentAssessment.ts
  apps/prairielearn/src/pages/studentAssessmentInstance/studentAssessmentInstance.ts
  apps/prairielearn/src/pages/studentAssessmentInstanceFile/studentAssessmentInstanceFile.ts
  apps/prairielearn/src/pages/studentAssessments/studentAssessments.ts
  apps/prairielearn/src/pages/studentGradebook/studentGradebook.ts
  apps/prairielearn/src/pages/studentInstanceQuestion/studentInstanceQuestion.ts
  apps/prairielearn/src/server.ts
Labels: bug-fix

#12838 Require type parameter when fetching from the cache
  .changeset/dark-radios-punch.md
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/lib/billing/stripe.ts
  packages/cache/src/index.ts
Labels: low-priority

#12825 Fix external grader accepting scores without number validation
  apps/prairielearn/src/lib/externalGraderCommon.ts
Labels: bug-fix

#12901 Auto-enroll invited users
  apps/prairielearn/src/models/enrollment.sql
  apps/prairielearn/src/models/enrollment.test.ts
  apps/prairielearn/src/models/enrollment.ts
Labels: blocking

#12894 Add migration flowchart
  apps/prairielearn/src/migrations/README.md
Labels: documentation, low-priority

#12377 Enable rubric editing in manual grading assessment question page
  apps/prairielearn/assets/scripts/esm-bundles/react-fragments/RubricSettings.ts
  apps/prairielearn/src/components/RubricSettings.tsx
  apps/prairielearn/src/ee/lib/ai-grading/ai-grading-stats.ts
  apps/prairielearn/src/ee/lib/ai-grading/types.ts
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.html.tsx
  apps/prairielearn/src/pages/instructorAssessmentManualGrading/assessmentQuestion/assessmentQuestion.ts
Labels: feature: manual grading, preact

#12917 Rename `requiresSecretLink` to `useEnrollmentCode`
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250917191818__course_instances__self_enrollment_use_enrollment_code__add.sql
  apps/prairielearn/src/migrations/README.md
  apps/prairielearn/src/schemas/infoCourseInstance.ts
  apps/prairielearn/src/schemas/schemas/infoCourseInstance.json
  apps/prairielearn/src/sprocs/sync_course_instances.sql
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/tests/sync/courseInstancesSync.test.ts
  database/tables/course_instances.pg
Labels: schema

#12914 Enforce integer for triesPerVariant in JSON schema
  apps/prairielearn/src/schemas/infoAssessment.ts
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
Labels: schema

#12918 Add new boolean for `beforeDateEnabled`
  apps/prairielearn/src/lib/client/page-context.test.ts
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250917193804__course_instances__add_self_enrollment_enabled_before_date_enabled.sql
  apps/prairielearn/src/schemas/infoCourseInstance.ts
  apps/prairielearn/src/schemas/schemas/infoCourseInstance.json
  apps/prairielearn/src/sprocs/sync_course_instances.sql
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/tests/sync/courseInstancesSync.test.ts
  database/tables/course_instances.pg
Labels: schema, blocking

#12938 Fix fingerprint tracking when URL contains variant ID
  apps/prairielearn/src/pages/studentInstanceQuestion/studentInstanceQuestion.ts
Labels: bug-fix

#12858 Improve client files error handling
  apps/prairielearn/src/lib/express/send-file.ts
  apps/prairielearn/src/pages/clientFilesAssessment/clientFilesAssessment.ts
  apps/prairielearn/src/pages/clientFilesCourse/clientFilesCourse.ts
  apps/prairielearn/src/pages/clientFilesCourseInstance/clientFilesCourseInstance.ts
  apps/prairielearn/src/pages/clientFilesQuestion/clientFilesQuestion.ts
Labels: enhancement

#12954 Add docs for per-question real-time grading config
  docs/assessment/assessment-grading-disabled-closed.png
  docs/assessment/assessment-grading-disabled-open.png
  docs/assessment/assessment-grading-normal.png
  docs/assessment/index.md
Labels: documentation

#12987 Fix handling of question/instance copy in case of sync errors
  apps/prairielearn/src/lib/editors.sql
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/pages/instructorFileTransfer/instructorFileTransfer.ts
Labels: bug-fix

#12990 Dumb formatting nits
  apps/prairielearn/src/lib/externalGraderCommon.ts
  apps/prairielearn/src/middlewares/authzCourseOrInstance.ts
  apps/prairielearn/src/models/enrollment.ts
  docs/assets/extra.css
Labels: documentation

#12682 Add Postgres LSP and typechecker
  .changeset/polite-items-greet.md
  .github/workflows/check.yml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  apps/prairielearn/src/migrations/20250618214947_grading_jobs__deleted_by__add.sql
  apps/prairielearn/src/server.ts
  package.json
  packages/postgres/src/default-pool.ts
  packages/postgres/src/pool.ts
  postgrestools.jsonc
  yarn.lock
Labels: github_actions, tooling, low-priority

#12856 Add ability to block, uninvite, reinvite, and unblock students
  apps/prairielearn/assets/scripts/instructorGradebookClient.ts
  apps/prairielearn/src/components/EnrollmentStatusIcon.tsx
  apps/prairielearn/src/lib/client/url.ts
  apps/prairielearn/src/middlewares/autoEnroll.ts
  apps/prairielearn/src/models/audit-event.ts
  apps/prairielearn/src/models/enrollment.sql
  apps/prairielearn/src/models/enrollment.ts
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.sql
  apps/prairielearn/src/pages/instructorGradebook/instructorGradebook.types.ts
  apps/prairielearn/src/pages/instructorStudentDetail/components/OverviewCard.tsx
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.html.tsx
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.sql
  apps/prairielearn/src/pages/instructorStudentDetail/instructorStudentDetail.tsx
  apps/prairielearn/src/pages/instructorStudents/components/StatusColumnFilter.tsx
  apps/prairielearn/src/pages/instructorStudents/instructorStudents.html.tsx
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/sprocs/authz_course_instance.sql
  apps/prairielearn/src/tests/accessibility/index.test.ts
Labels: feature: enrollment, blocking

#12853 Add JSON points columns for assessment questions and alternative groups
  apps/prairielearn/src/lib/client/safe-db-types.test.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/migrations/20250905230000_json_points_fields__add.sql
  apps/prairielearn/src/sprocs/sync_assessments.sql
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
  database/tables/alternative_groups.pg
  database/tables/assessment_questions.pg
Labels: schema

#13023 Handle floating-point error in rubric total points warning
  apps/prairielearn/src/components/RubricSettings.tsx
  apps/prairielearn/src/lib/points.test.ts
  apps/prairielearn/src/lib/points.ts
Labels: feature: manual grading
