Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-01, with the labels that each got.

#11050 Add detailed instructions to native setup guide
  docs/installingNative.md
  graders/python/python_autograder/code_feedback.py
Labels: enhancement, documentation

#11058 Ruff: flake8-bugbear and flake8-simplify
  apps/prairielearn/elements/pl-big-o-input/big_o_utils.py
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.py
  apps/prairielearn/elements/pl-checkbox/pl-checkbox.py
  apps/prairielearn/elements/pl-code/pl-code.py
  apps/prairielearn/elements/pl-dataframe/pl-dataframe.py
  apps/prairielearn/elements/pl-drawing/elements.py
  apps/prairielearn/elements/pl-drawing/pl-drawing.py
  apps/prairielearn/elements/pl-dropdown/pl-dropdown.py
  apps/prairielearn/elements/pl-excalidraw/pl-excalidraw.py
  apps/prairielearn/elements/pl-external-grader-results/pl-external-grader-results.py
  apps/prairielearn/elements/pl-figure/pl-figure.py
  apps/prairielearn/elements/pl-file-download/pl-file-download.py
  apps/prairielearn/elements/pl-file-editor/pl-file-editor.py
  apps/prairielearn/elements/pl-graph/pl-graph.py
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.py
  apps/prairielearn/elements/pl-matching/pl-matching.py
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  apps/prairielearn/elements/pl-matrix-input/pl-matrix-input.py
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.py
  apps/prairielearn/elements/pl-order-blocks/dag_checker.py
  apps/prairielearn/elements/pl-order-blocks/dag_checker_test.py
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
  apps/prairielearn/elements/pl-python-variable/pl-python-variable.py
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.py
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.py
  apps/prairielearn/elements/pl-template/pl-template.py
  apps/prairielearn/elements/pl-threejs/pl-threejs.py
  apps/prairielearn/elements/pl-units-input/pl-units-input.py
  apps/prairielearn/python/prairielearn.py
  apps/prairielearn/python/prairielearn_test.py
  apps/prairielearn/python/python_helper_sympy.py
  apps/prairielearn/python/question_phases.py
  apps/prairielearn/python/zygote_utils_test.py
  exampleCourse/elementExtensions/extendable-element/extension-fileio/extension-fileio.py
  exampleCourse/questions/demo/addHTMLtable/server.py
  exampleCourse/questions/demo/annotated/LectureVelocity/4-KnowledgeTest/server.py
  exampleCourse/questions/demo/autograder/c/drawTriangle/tests/test.py
  exampleCourse/questions/demo/autograder/codeUpload/submitted_code_samples/fib_error_timeout_list/fib.py
  exampleCourse/questions/demo/autograder/python/orderBlocksRandomParams/tests/test.py
  exampleCourse/questions/demo/autograder/python/random/tests/ans.py
  exampleCourse/questions/demo/autograder/python/randomFunctionName/server.py
  exampleCourse/questions/demo/randomFakeData/server.py
  exampleCourse/questions/element/graph/server.py
  exampleCourse/questions/element/matrixComponentInput/server.py
  exampleCourse/questions/element/stringInput/server.py
  exampleCourse/questions/workshop/Lesson4_example3/server.py
  graders/c/cgrader/cgrader.py
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/pl_execute.py
  graders/python/python_autograder/pl_main.py
  graders/python/python_autograder/pl_result.py
  pyproject.toml
  tools/question_converters/randexam/randexam2pl2.py
Labels: chore

#11052 Convert workspace host to TypeScript
  apps/workspace-host/package.json
  apps/workspace-host/src/interface.ts
  apps/workspace-host/src/lib/docker.test.ts
  apps/workspace-host/src/lib/docker.ts
  apps/workspace-host/src/lib/socket-server.ts
  yarn.lock
Labels: chore

#11046 Use `ruff` to enforce naming convention
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  apps/prairielearn/python/prairielearn.py
  apps/prairielearn/python/python_helper_sympy.py
  apps/prairielearn/python/python_helper_sympy_test.py
  exampleCourse/elementExtensions/pl-graph/edge-inc-matrix/edge-inc-matrix.py
  exampleCourse/questions/demo/annotated/engMarkovBrewing/tests/test.py
  exampleCourse/questions/workshop/Lesson4_example4/tests/test.py
  graders/c/cgrader/cgrader.py
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/pl_execute.py
  graders/python/python_autograder/pl_helpers.py
  graders/python/python_autograder/pl_result.py
  graders/python/python_autograder/pl_unit_test.py
  pyproject.toml
  testCourse/questions/prairieDrawFigure/server.py
Labels: chore

#10805 Format values in default column in documentation
  docs/api.md
  docs/dev-guide/index.md
  docs/elements.md
  docs/faq.md
  docs/question.md
  docs/workshop/lesson5.md
  exampleCourse/courseInstances/SectionA/assessments/exam/instantFeedback/__docs/docs.md
Labels: documentation

#11042 Drop course_instances.ps_linked column from database
  apps/prairielearn/src/migrations/20241219173221_course_instances__ps_linked__drop.sql
  database/tables/course_instances.pg
Labels: do not merge

#11033 Make code callers aware of Python venvs
  .gitignore
  apps/prairielearn/package.json
  apps/prairielearn/src/executor.ts
  apps/prairielearn/src/lib/code-caller/code-caller-container.ts
  apps/prairielearn/src/lib/code-caller/code-caller-native.ts
  apps/prairielearn/src/lib/code-caller/code-caller-shared.ts
  apps/prairielearn/src/lib/code-caller/index.ts
  apps/prairielearn/src/lib/config.ts
  yarn.lock
Labels: python

#11040 Allow LTI 1.3 designers to link courses, show roles for troubleshooting
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.html.ts
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.ts
Labels: feature: LTI 1.3

#11177 Tweaks to LTI 1.3 linking flow
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.html.ts
Labels: feature: LTI 1.3

#11051 Relocate python to python/prairielearn
  .gitignore
  apps/prairielearn/elements/pl-external-grader-results/pl-external-grader-results.py
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.py
  apps/prairielearn/elements/pl-file-upload/pl-file-upload.py
  apps/prairielearn/python/README.md
  apps/prairielearn/python/colors/__init__.py
  apps/prairielearn/python/prairielearn/__init__.py
  apps/prairielearn/python/prairielearn/colors.py
  apps/prairielearn/python/prairielearn/core.py
  apps/prairielearn/python/prairielearn/internal/__init__.py
  apps/prairielearn/python/prairielearn/internal/check_data.py
  apps/prairielearn/python/prairielearn/internal/question_phases.py
  apps/prairielearn/python/prairielearn/internal/traverse.py
  apps/prairielearn/python/prairielearn/internal/zygote_utils.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  apps/prairielearn/python/prairielearn/to_precision.py
  apps/prairielearn/python/prairielearn/unicode_utils.py
  apps/prairielearn/python/python_helper_sympy/__init__.py
  apps/prairielearn/python/test/check_data_test.py
  apps/prairielearn/python/test/colors_test.py
  apps/prairielearn/python/test/conftest.py
  apps/prairielearn/python/test/core_test.py
  apps/prairielearn/python/test/sympy_utils_test.py
  apps/prairielearn/python/test/traverse_test.py
  apps/prairielearn/python/test/zygote_utils_test.py
  apps/prairielearn/python/to_precision/__init__.py
  apps/prairielearn/python/zygote.py
  docs/api.md
  docs/devElements.md
  docs/question.md
  pyproject.toml
Labels: chore

#11223 Revamp UI/UX of AI question generation page
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftsClient.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateQuestion/instructorAiGenerateQuestion.ts
  apps/prairielearn/src/pages/instructorQuestions/instructorQuestions.ts
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/tests/accessibility/index.test.ts
Labels: feature: AI question generation

#11184 Implement benchmarking of AI question generation
  apps/prairielearn/src/ee/lib/ai-question-generation-benchmark.sql
  apps/prairielearn/src/ee/lib/ai-question-generation-benchmark.ts
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.html.ts
  apps/prairielearn/src/pages/administratorSettings/administratorSettings.html.ts
  apps/prairielearn/src/pages/administratorSettings/administratorSettings.ts
Labels: feature: AI question generation

#11252 Enhance docs example for score computation
  docs/question.md
Labels: documentation

#11251 pyright: type annotations
  Makefile
  apps/prairielearn/elements/pl-code/pl-code.py
  apps/prairielearn/elements/pl-excalidraw/pl-excalidraw.py
  apps/prairielearn/elements/pl-graph/pl-graph.py
  apps/prairielearn/elements/pl-matching/pl-matching.py
  apps/prairielearn/elements/pl-template/pl-template.py
  apps/prairielearn/python/prairielearn/core.py
  apps/prairielearn/python/prairielearn/internal/check_data.py
  apps/prairielearn/python/prairielearn/internal/question_phases.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  graders/c/cgrader/cgrader.py
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/pl_helpers.py
  pyproject.toml
Labels: chore
