Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-04, with the labels that each got.

#11666 Fix question link on instructor question preview workspaces
  apps/prairielearn/src/pages/workspace/workspace.ts
Labels: bug-fix

#11678 Upgrade Pyright
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.py
  apps/prairielearn/elements/pl-units-input/pl-units-input.py
  package.json
  yarn.lock
Labels: python, chore, element

#11668 Hide explanation of local external grader and workspace setup
  docs/PrairieDraw.md
  docs/docker.md
  docs/faq.md
  docs/installing.md
  docs/workspaces/index.md
Labels: documentation

#11679 Upgrade all JavaScript dependencies
  .changeset/shy-shoes-try.md
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/workspace-host/package.json
  package.json
  packages/actions-report-image-sizes/package.json
  packages/aws-imds/package.json
  packages/aws/package.json
  packages/bind-mount/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-list-endpoints/package.json
  packages/flash/package.json
  packages/formatter/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/logger/package.json
  packages/markdown/package.json
  packages/migrations/package.json
  packages/named-locks/package.json
  packages/node-metrics/package.json
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres-tools/package.json
  packages/postgres/package.json
  packages/prettier-plugin-sql/package.json
  packages/run/package.json
  packages/sanitize/package.json
  packages/sentry/package.json
  packages/session/package.json
  packages/signed-token/package.json
  packages/workspace-utils/package.json
  packages/zod/package.json
  yarn.lock
Labels: chore

#11643 Spellcheck and grammar-check markdown
  docs/PrairieDraw.md
  docs/accessControl/index.md
  docs/assessment/index.md
  docs/c-grader/index.md
  docs/codeExecution.md
  docs/concepts/index.md
  docs/courseInstance.md
  docs/dev-guide/index.md
  docs/docker.md
  docs/elements.md
  docs/externalGrading.md
  docs/faq.md
  docs/getStarted.md
  docs/installing.md
  docs/installingLocal.md
  docs/java-grader/index.md
  docs/lmsIntegrationInstructor.md
  docs/manualGrading/index.md
  docs/oldQuestion.md
  docs/pl-drawing/index.md
  docs/python-grader/index.md
  docs/question.md
  docs/questionRuntime/index.md
  docs/questionSharing.md
  docs/regrading.md
  docs/remoteExams.md
  docs/running-in-production/authentication.md
  docs/running-in-production/docker-compose.md
  docs/running-in-production/setup.md
  docs/uuid.md
  docs/workshop/lesson1.md
  docs/workshop/lesson2.md
  docs/workshop/lesson3.md
  docs/workspaces/index.md
  graders/r-previous/README.md
  graders/r/README.md
Labels: documentation

#11687 Fix comment on autograded workspace
  docs/workspaces/index.md
Labels: documentation, bug-fix

#11665 Split workspace proxy middleware into separate file
  apps/prairielearn/src/middlewares/workspaceProxy.ts
  apps/prairielearn/src/server.ts
Labels: chore

#11683 Upgrade Temporal API polyfill
  apps/prairielearn/assets/scripts/tsconfig.json
  apps/prairielearn/package.json
  yarn.lock
Labels: chore

#11664 Upgrade to latest version of http-proxy-middleware
  apps/prairielearn/package.json
  apps/prairielearn/src/middlewares/workspaceProxy.ts
  yarn.lock
Labels: chore

#11601 Add lint rule to replace lodash with vanilla JS when trivial
  .changeset/moody-chairs-share.md
  .eslintrc.cjs
  apps/prairielearn/assets/scripts/lib/questionsTable.ts
  apps/prairielearn/elements/pl-drawing/mechanicsObjects.js
  apps/prairielearn/elements/pl-drawing/pl-drawing.js
  apps/prairielearn/package.json
  apps/prairielearn/src/cron/index.ts
  apps/prairielearn/src/ee/cron/chunksHostAutoScaling.ts
  apps/prairielearn/src/ee/cron/externalGraderLoad.ts
  apps/prairielearn/src/ee/lib/lti13.ts
  apps/prairielearn/src/lib/code-caller/code-caller-native.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/lib/externalGrader.ts
  apps/prairielearn/src/lib/externalGraderCommon.ts
  apps/prairielearn/src/lib/load.ts
  apps/prairielearn/src/lib/ltiOutcomes.ts
  apps/prairielearn/src/lib/question-testing.ts
  apps/prairielearn/src/lib/question-variant.ts
  apps/prairielearn/src/lib/score-upload.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessment.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentInstance.ts
  apps/prairielearn/src/middlewares/selectAndAuthzAssessmentQuestion.ts
  apps/prairielearn/src/middlewares/selectAndAuthzInstructorQuestion.ts
  apps/prairielearn/src/pages/instructorInstanceAdminLti/instructorInstanceAdminLti.ts
  apps/prairielearn/src/question-servers/calculation-subprocess.js
  apps/prairielearn/src/question-servers/freeform.js
  apps/prairielearn/src/server.ts
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/tests/cron.test.ts
  apps/prairielearn/src/tests/database.test.ts
  apps/prairielearn/src/tests/instructorAssessment.test.ts
  apps/prairielearn/src/tests/instructorAssessmentDownloads.test.ts
  apps/prairielearn/src/tests/instructorQuestions.test.ts
  apps/prairielearn/src/tests/manualGrading.test.ts
  package.json
  packages/error/src/index.ts
  packages/postgres-tools/src/bin/pg-describe.ts
  packages/postgres-tools/src/diff.ts
  packages/postgres/src/pool.ts
  packages/signed-token/src/index.ts
  yarn.lock
Labels: element

#11692 Upgrade yarn to 4.8.1
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: chore

#11684 Native multi-platform Docker image builds
  .github/workflows/image-builder.yml
  .github/workflows/images.yml
  .github/workflows/main.yml
  contrib/build-image.sh
  images/executor/Dockerfile
  images/plbase/Dockerfile
  packages/actions-report-image-sizes/src/index.ts
  pyproject.toml
  scripts/build_images/build.py
  scripts/build_images/build_multiplatform.py
  scripts/build_images/combine.py
  scripts/build_images/utils.py
  workspaces/vscode-cpp/Dockerfile
  workspaces/vscode-python/Dockerfile
Labels: python, docker, github_actions, tooling

#11694 Clean up Docker docs to account for native ARM images
  .github/workflows/image-builder.yml
  contrib/release-image.sh
  docs/docker.md
  docs/installing.md
  docs/installingLocal.md
  images/plbase/python-requirements.txt
  mkdocs.yml
Labels: documentation, python, github_actions, tooling

#11615 Add autogenerated schema documentation
  apps/prairielearn/src/schemas/schemas/infoCourse.json
  docs/assessment/index.md
  docs/assets/extra.css
  docs/course/index.md
  docs/courseInstance.md
  docs/devElements.md
  docs/elementExtensions.md
  docs/externalGrading.md
  docs/question.md
  docs/requirements.txt
  docs/scripts/gen_jsonschemas.py
  docs/scripts/jsonschema_details_fix.py
  mkdocs.yml
Labels: documentation, python

#11703 Fix workspace proxy path rewriting
  apps/prairielearn/src/middlewares/workspaceProxy.ts
Labels: bug-fix

#11700 Fix order of labeler
  .github/workflows/label-prs.yml
Labels: github_actions, tooling, bug-fix

#11701 Create Java version of vscode workspace
  .github/workflows/images.yml
  docs/workspaces/index.md
  exampleCourse/courseInstances/SectionA/assessments/demo/workspaces/infoAssessment.json
  exampleCourse/questions/demo/workspace/vscode-java/info.json
  exampleCourse/questions/demo/workspace/vscode-java/question.html
  exampleCourse/questions/demo/workspace/vscode-java/tests/junit/SquareTest.java
  exampleCourse/questions/demo/workspace/vscode-java/workspace/Square.java
  scripts/build_images/build.py
  workspaces/vscode-java/Dockerfile
  workspaces/vscode-java/README.md
Labels: documentation, docker, github_actions, tooling

#11710 Add FAQ for sharing files between workspace and tests
  docs/faq.md
Labels: documentation

#11706 Lint all markdown
  .markdownlint.yml
  Makefile
  SECURITY.md
  apps/prairielearn/src/migrations/README.md
  apps/prairielearn/src/tests/testFileEditor/courseTemplate/README.md
  contrib/question_converters/README.md
  contrib/question_converters/canvas/README.md
  contrib/question_converters/lon-capa/README.md
  contrib/question_converters/lon-capa/zilles-email.md
  contrib/question_converters/randexam/README.md
  contrib/question_converters/smart-physics/README.md
  graders/README.md
  graders/c/README.md
  graders/java/README.md
  graders/python/README.md
  graders/r-previous/README.md
  graders/r/README.md
  graders/r/plr/README.md
  images/executor/README.md
  packages/compiled-assets/README.md
  packages/express-list-endpoints/README.md
  packages/run/README.md
  workspaces/README.md
  workspaces/desktop/README.md
Labels: tooling, autograder-python

#11713 Remove `r-previous` grader
  graders/r-previous/Dockerfile
  graders/r-previous/README.md
  graders/r-previous/r-requirements.R
Labels: docker

#11221 hadolint: clean some rules
  .hadolint.yaml
  Dockerfile
  graders/c/Dockerfile
  graders/java/Dockerfile
  graders/python/install.sh
  graders/r/Dockerfile
  images/executor/Dockerfile
  images/plbase/Dockerfile
  images/plbase/plbase-install.sh
  workspaces/desktop/Dockerfile
  workspaces/rstudio/Dockerfile
  workspaces/rstudio/pl-gosu-helper.sh
  workspaces/vscode-base/Dockerfile
  workspaces/vscode-cpp/Dockerfile
  workspaces/vscode-python/Dockerfile
  workspaces/xtermjs/Dockerfile
Labels: docker, chore, autograder-python

#11714 Add network config to Docker compose file
  docker-compose-production.yml
  docker-compose.yml
Labels: docker

#11519 Add feature for splicing READMEs into the documentation
  contrib/README.md
  contrib/question_converters/README.md
  contrib/question_converters/canvas/README.md
  contrib/question_converters/lon-capa/README.md
  contrib/question_converters/randexam/README.md
  contrib/question_converters/smart-physics/README.md
  docs/scripts/gen_additional_readmes.py
  mkdocs.yml
Labels: documentation, python, docker, github_actions, tooling, autograder-python

#11696 Automated upgrade of containers
  .github/workflows/upgrade-containers.yml
  graders/c/Dockerfile
  graders/java/Dockerfile
  graders/python/Dockerfile
  graders/r/Dockerfile
  images/executor/Dockerfile
  images/plbase/Dockerfile
  workspaces/desktop/Dockerfile
  workspaces/jupyterlab-python/Dockerfile
  workspaces/rstudio/Dockerfile
  workspaces/vscode-base/Dockerfile
  workspaces/vscode-cpp/Dockerfile
  workspaces/vscode-python/Dockerfile
  workspaces/xtermjs/Dockerfile
Labels: docker, chore, github_actions, tooling, autograder-python

#11724 Add workflow_dispatch for upgrade containers
  .github/workflows/upgrade-containers.yml
Labels: github_actions, tooling

#11731 Upgrade http-proxy-middleware
  apps/prairielearn/package.json
  apps/prairielearn/src/middlewares/workspaceProxy.ts
  apps/prairielearn/src/server.ts
  yarn.lock
Labels: chore

#11282 Add logging for test errors
  apps/prairielearn/python/zygote.py
Labels: python

#11730 Update package bump frequency
  .github/workflows/upgrade-containers.yml
Labels: github_actions, tooling

#11733 Update recommendation for version compatibility in Java grader
  docs/java-grader/index.md
Labels: documentation

#11735 Upgrade workspace-jupyterlab-python base image and collaboration dep
  workspaces/jupyterlab-python/Dockerfile
  workspaces/jupyterlab-python/install.sh
  workspaces/jupyterlab-python/requirements.txt
Labels: docker, chore

#11745 Fix timeout of Python tests
  .github/workflows/main.yml
Labels: github_actions, tooling, bug-fix

#11747 Fix pl-string-input handling of numerical correct answers
  apps/prairielearn/elements/pl-string-input/pl-string-input.py
Labels: python, element, bug-fix

#11743 Restructure for better layer caches
  .github/workflows/image-builder.yml
  .github/workflows/images.yml
  .hadolint.yaml
  graders/c/Dockerfile
  graders/python/Dockerfile
  graders/python/install.sh
  graders/python/post-install.sh
Labels: enhancement, docker, github_actions, tooling, autograder-python

#11757 Fix handling of delete assessment instance modals
  apps/prairielearn/assets/scripts/instructorAssessmentInstancesClient.tsx
Labels: bug-fix

#11403 Split core Python module
  apps/prairielearn/python/README.md
  apps/prairielearn/python/colors.py
  apps/prairielearn/python/prairielearn/__init__.py
  apps/prairielearn/python/prairielearn/colors.py
  apps/prairielearn/python/prairielearn/conversion_utils.py
  apps/prairielearn/python/prairielearn/core.py
  apps/prairielearn/python/prairielearn/extension_utils.py
  apps/prairielearn/python/prairielearn/grading_utils.py
  apps/prairielearn/python/prairielearn/html_utils.py
  apps/prairielearn/python/prairielearn/misc_utils.py
  apps/prairielearn/python/prairielearn/question_utils.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  apps/prairielearn/python/prairielearn/to_precision.py
  apps/prairielearn/python/prairielearn/unicode_utils.py
  apps/prairielearn/python/python_helper_sympy.py
  apps/prairielearn/python/test/compat_test.py
  apps/prairielearn/python/test/misc_test.py
  apps/prairielearn/python/test/unicode_utils_test.py
  apps/prairielearn/python/to_precision.py
  docs/python-reference/index.md
  docs/python-reference/prairielearn/core.md
  docs/python-reference/prairielearn/sympy_utils.md
  docs/question.md
  docs/scripts/gen_python_nav.py
  mkdocs.yml
Labels: documentation, python

#11759 Fix hx-ext attribute on body
  apps/prairielearn/src/components/PageLayout.html.ts
Labels: bug-fix

#11760 Use Bootstrap 5 margin utilities in pl-string-input
  apps/prairielearn/elements/pl-string-input/pl-string-input.mustache
Labels: element

#11758 Add docstrings to all Python code
  apps/prairielearn/python/colors.py
  apps/prairielearn/python/prairielearn/__init__.py
  apps/prairielearn/python/prairielearn/colors.py
  apps/prairielearn/python/prairielearn/conversion_utils.py
  apps/prairielearn/python/prairielearn/core.py
  apps/prairielearn/python/prairielearn/extension_utils.py
  apps/prairielearn/python/prairielearn/grading_utils.py
  apps/prairielearn/python/prairielearn/html_utils.py
  apps/prairielearn/python/prairielearn/misc_utils.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  apps/prairielearn/python/prairielearn/to_precision.py
  apps/prairielearn/python/python_helper_sympy.py
  apps/prairielearn/python/test/colors_test.py
  apps/prairielearn/python/test/compat_test.py
  apps/prairielearn/python/test/misc_test.py
  apps/prairielearn/python/test/sympy_utils_test.py
  apps/prairielearn/python/to_precision.py
  contrib/question_converters/canvas/canvas.py
  contrib/question_converters/canvas/quiz2pl.py
  contrib/question_converters/randexam/randexam2pl2.py
  docs/python-reference/index.md
  docs/scripts/d2-svg-file.py
  docs/scripts/gen_additional_readmes.py
  docs/scripts/gen_python_nav.py
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-Gambler/serverFilesQuestion/graph.py
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-Gambler/workspace/graph.py
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-PageRank/serverFilesQuestion/graph.py
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-PageRank/workspace/graph.py
  exampleCourse/questions/demo/drawing/vmDiagrams/server.py
  mkdocs.yml
  pyproject.toml
  scripts/build_images/build.py
  scripts/build_images/build_multiplatform.py
  scripts/build_images/combine.py
  scripts/build_images/utils.py
  workspaces/jupyterlab-python/jupyter_server_config.py
Labels: documentation, python

#11761 Docstrings improvements
  apps/prairielearn/python/prairielearn/conversion_utils.py
  apps/prairielearn/python/prairielearn/extension_utils.py
  apps/prairielearn/python/prairielearn/grading_utils.py
  apps/prairielearn/python/prairielearn/html_utils.py
  apps/prairielearn/python/prairielearn/internal/traverse.py
  apps/prairielearn/python/prairielearn/internal/zygote_utils.py
  apps/prairielearn/python/prairielearn/misc_utils.py
  apps/prairielearn/python/prairielearn/question_utils.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  docs/assets/extra.css
  docs/scripts/d2_svg_file.py
  docs/scripts/gen_additional_readmes.py
  docs/scripts/gen_python_nav.py
  docs/scripts/jsonschema_details_fix.py
  mkdocs.yml
  pyproject.toml
Labels: enhancement, documentation, python

#11765 Add CRAN package 'lobstr' to grader to inspect R expressions
  graders/r/Dockerfile
Labels: docker

#11764 Improve message when file cannot be previewed
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.js
  apps/prairielearn/elements/pl-file-preview/pl-file-preview.mustache
  apps/prairielearn/elements/pl-file-upload/pl-file-upload.js
Labels: enhancement, element

#11766 Add feature to enable public question consuming only
  apps/prairielearn/src/lib/features/index.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
Labels: feature: question sharing

#11345 shellcheck: resolve warnings
  Makefile
  contrib/question-container-debugging.sh
  graders/java/autograder.sh
  graders/r/r_autograder/run.sh
  images/plbase/plbase-install.sh
  scripts/copy_docker_coverage_reports.sh
  workspaces/desktop/pl-gosu-helper.sh
  workspaces/rstudio/pl-gosu-helper.sh
Labels: chore, tooling

#10872 Improve mamba init for "RUN pip install" in vscode-python workspaces
  workspaces/vscode-python/Dockerfile
Labels: enhancement, docker

#11540 Update invalid styling for all remaining elements
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.mustache
  apps/prairielearn/elements/pl-checkbox/pl-checkbox.mustache
  apps/prairielearn/elements/pl-drawing/pl-drawing.mustache
  apps/prairielearn/elements/pl-dropdown/pl-dropdown.mustache
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.mustache
  apps/prairielearn/elements/pl-matching/pl-matching.mustache
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.mustache
  apps/prairielearn/elements/pl-matrix-input/pl-matrix-input.mustache
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.mustache
  apps/prairielearn/elements/pl-number-input/pl-number-input.mustache
  apps/prairielearn/elements/pl-string-input/pl-string-input.mustache
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.mustache
  apps/prairielearn/elements/pl-units-input/pl-units-input.mustache
Labels: element

#11772 Upgrade Bootstrap to 5.3.5
  apps/prairielearn/package.json
  yarn.lock
Labels: chore

#11781 Upgrade http-proxy-middleware to 3.0.5
  apps/prairielearn/package.json
  yarn.lock
Labels: chore

#10256 Add ordering-feedback attribute to pl-order-blocks
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.mustache
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
  docs/elements.md
  testCourse/questions/orderBlocks/question.html
Labels: documentation, python, element

#11783 pl-order-blocks: ordering-feedback backward compatibility fix
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.py
Labels: python, element, bug-fix

#11784 update pl-order-blocks for bootstrap 5.3
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.js
  apps/prairielearn/elements/pl-order-blocks/pl-order-blocks.mustache
Labels: element

#11787 Upgrade Python dependencies
  docs/requirements.txt
  graders/c/requirements.txt
  graders/python/requirements.txt
  images/plbase/python-requirements.txt
  workspaces/jupyterlab-python/requirements.txt
  workspaces/vscode-python/requirements.txt
Labels: documentation, python, chore, autograder-python

#11786 Upgrade all JavaScript dependencies
  .changeset/metal-rules-march.md
  .eslintrc.cjs
  apps/grader-host/package.json
  apps/prairielearn/package.json
  apps/workspace-host/package.json
  package.json
  packages/actions-report-image-sizes/package.json
  packages/aws-imds/package.json
  packages/aws/package.json
  packages/bind-mount/package.json
  packages/browser-utils/package.json
  packages/cache/package.json
  packages/compiled-assets/package.json
  packages/config/package.json
  packages/csv/package.json
  packages/docker-utils/package.json
  packages/error/package.json
  packages/eslint-plugin-prairielearn/package.json
  packages/express-list-endpoints/package.json
  packages/flash/package.json
  packages/formatter/package.json
  packages/html-ejs/package.json
  packages/html/package.json
  packages/logger/package.json
  packages/markdown/package.json
  packages/migrations/package.json
  packages/named-locks/package.json
  packages/node-metrics/package.json
  packages/opentelemetry/package.json
  packages/path-utils/package.json
  packages/postgres-tools/package.json
  packages/postgres/package.json
  packages/prettier-plugin-sql/package.json
  packages/run/package.json
  packages/sanitize/package.json
  packages/sentry/package.json
  packages/session/package.json
  packages/signed-token/package.json
  packages/workspace-utils/package.json
  packages/zod/package.json
  yarn.lock
Labels: chore

#11780 Unignore Bootstrap in Dependabot config
  .github/dependabot.yml
Labels: tooling

#11785 Display parsed user agent information in assessment instance log
  .github/dependabot.yml
  apps/prairielearn/package.json
  apps/prairielearn/src/pages/instructorAssessmentInstance/instructorAssessmentInstance.html.ts
  apps/prairielearn/src/server.ts
  yarn.lock
Labels: tooling

#11789 Minor fixes for and improvements to JSON schemas
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/schemas/schemas/questionOptionsCheckbox.json
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  exampleCourse/courseInstances/SectionA/assessments/gallery/elements/infoAssessment.json
  testCourse/courseInstances/Sp15/assessments/hw9-internalExternalManual/infoAssessment.json
Labels: enhancement, bug-fix

#11796 Upgrade prairielearn/workspace-desktop dependencies
  workspaces/desktop/server/package.json
  workspaces/desktop/server/server.js
  workspaces/desktop/server/yarn.lock
Labels: chore

#11752 Update role preview documentation
  apps/prairielearn/src/components/Navbar.html.ts
  apps/prairielearn/src/ee/pages/administratorInstitutionSaml/administratorInstitutionSaml.html.ts
  apps/prairielearn/src/pages/authLogin/authLogin.html.ts
  docs/accessControl/index.md
  docs/accessControl/role_picker.png
Labels: documentation

#11024 Use Zod schemas to validate JSON files
  .github/workflows/main.yml
  Makefile
  apps/prairielearn/package.json
  apps/prairielearn/src/admin_queries/README.md
  apps/prairielearn/src/schemas/adminQuery.ts
  apps/prairielearn/src/schemas/comment.ts
  apps/prairielearn/src/schemas/index.ts
  apps/prairielearn/src/schemas/infoAssessment.ts
  apps/prairielearn/src/schemas/infoCourse.ts
  apps/prairielearn/src/schemas/infoCourseInstance.ts
  apps/prairielearn/src/schemas/infoElementCore.ts
  apps/prairielearn/src/schemas/infoElementCourse.ts
  apps/prairielearn/src/schemas/infoElementExtension.ts
  apps/prairielearn/src/schemas/infoNewsItem.ts
  apps/prairielearn/src/schemas/infoQuestion.ts
  apps/prairielearn/src/schemas/jsonSchemas.ts
  apps/prairielearn/src/schemas/questionOptions.ts
  apps/prairielearn/src/schemas/questionOptionsCalculation.ts
  apps/prairielearn/src/schemas/questionOptionsCheckbox.ts
  apps/prairielearn/src/schemas/questionOptionsFile.ts
  apps/prairielearn/src/schemas/questionOptionsMultipleChoice.ts
  apps/prairielearn/src/schemas/questionOptionsMultipleTrueFalse.ts
  apps/prairielearn/src/schemas/questionOptionsv3.ts
  apps/prairielearn/src/schemas/schemas/README.md
  apps/prairielearn/src/schemas/schemas/adminQuery.json
  apps/prairielearn/src/schemas/schemas/infoAssessment.json
  apps/prairielearn/src/schemas/schemas/infoCourse.json
  apps/prairielearn/src/schemas/schemas/infoCourseInstance.json
  apps/prairielearn/src/schemas/schemas/infoElementCore.json
  apps/prairielearn/src/schemas/schemas/infoElementCourse.json
  apps/prairielearn/src/schemas/schemas/infoElementExtension.json
  apps/prairielearn/src/schemas/schemas/infoNewsItem.json
  apps/prairielearn/src/schemas/schemas/infoQuestion.json
  apps/prairielearn/src/schemas/schemas/questionOptionsCalculation.json
  apps/prairielearn/src/schemas/schemas/questionOptionsCheckbox.json
  apps/prairielearn/src/schemas/schemas/questionOptionsFile.json
  apps/prairielearn/src/schemas/schemas/questionOptionsMultipleChoice.json
  apps/prairielearn/src/schemas/schemas/questionOptionsMultipleTrueFalse.json
  apps/prairielearn/src/schemas/schemas/questionOptionsv3.json
  apps/prairielearn/src/sync/course-db.ts
  apps/prairielearn/src/sync/dates.ts
  apps/prairielearn/src/sync/fromDisk/assessments.ts
  apps/prairielearn/src/sync/fromDisk/courseInfo.ts
  apps/prairielearn/src/sync/fromDisk/courseInstances.ts
  apps/prairielearn/src/sync/fromDisk/questions.ts
  apps/prairielearn/src/tests/groupRole.test.ts
  apps/prairielearn/src/tests/schemas.test.ts
  apps/prairielearn/src/tests/sync/assessmentSetsSync.test.ts
  apps/prairielearn/src/tests/sync/assessmentsSync.test.ts
  apps/prairielearn/src/tests/sync/courseDb.test.ts
  apps/prairielearn/src/tests/sync/questionsSync.test.ts
  apps/prairielearn/src/tests/sync/tagsTopicsSync.test.ts
  apps/prairielearn/src/tests/sync/util.ts
  docs/oldQuestion.md
  docs/scripts/gen_jsonschemas.py
  package.json
  scripts/gen-jsonschema.mts
  yarn.lock
Labels: documentation, github_actions, tooling

#10590 Add flag to halt Python grading when user exception occurs
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/pl_result.py
Labels: autograder-python

#11803 Minor linting improvements
  .eslintrc.cjs
  Makefile
  apps/prairielearn/assets/scripts/instructorAssessmentInstancesClient.tsx
  apps/prairielearn/assets/scripts/tsconfig.json
  contrib/dump-anonymize.mjs
  scripts/validate-links.mjs
Labels: enhancement, tooling

#11806 Improve indication of active item in tom-select dropdowns
  apps/prairielearn/public/stylesheets/local.css
Labels: enhancement, accessibility

#11809 Use coverage report from native execution of Python tests
  .github/workflows/main.yml
  scripts/copy_docker_coverage_reports.sh
Labels: github_actions, tooling

#9436 Add check_dict method to Python grader
  docs/python-grader/index.md
  docs/python-grader/reference-docs.md
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/index.rst
  graders/python/python_autograder/tests/__init__.py
  graders/python/python_autograder/tests/code_feedback_test.py
  pyproject.toml
Labels: documentation, python, autograder-python

#11810 Add quotes to check_dict
  graders/python/python_autograder/code_feedback.py
  graders/python/python_autograder/tests/code_feedback_test.py
Labels: autograder-python

#11812 Remove empty names_for_user values from Python grader examples
  docs/elements.md
  docs/python-grader/index.md
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-Gambler/question.html
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-Intro/question.html
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-PageRank/question.html
  exampleCourse/questions/demo/annotated/engMarkovBrewing/server.py
  exampleCourse/questions/demo/autograder/codeEditor/question.html
  exampleCourse/questions/demo/autograder/codeUpload/question.html
  exampleCourse/questions/demo/autograder/python/leadingTrailing/server.py
  exampleCourse/questions/demo/autograder/python/orderBlocksAddNumpy/server.py
  exampleCourse/questions/demo/autograder/python/orderBlocksRandomParams/server.py
  exampleCourse/questions/demo/autograder/python/pandas/question.html
  exampleCourse/questions/demo/autograder/python/plots/question.html
  exampleCourse/questions/demo/autograder/python/random/question.html
  exampleCourse/questions/demo/autograder/python/randomFunctionName/server.py
  exampleCourse/questions/demo/workspace/jupyterlab/question.html
  exampleCourse/questions/demo/workspace/vscode-python/question.html
Labels: documentation

#11818 Fix accessibility regression in Bootstrap navbar focus styles
  apps/prairielearn/public/stylesheets/local.css
Labels: accessibility, bug-fix

#11819 Add more information about MathJax and LaTeX to the docs
  docs/faq.md
  docs/question.md
Labels: documentation

#11821 Fix duplicate feedback with check_numpy_array_allclose
  graders/python/python_autograder/code_feedback.py
Labels: autograder-python, bug-fix

#11822 Fix preview feature for docs in local dev
  Makefile
Labels: tooling, bug-fix

#11820 Use cache for image builds in test pipeline
  .github/workflows/main.yml
Labels: github_actions, tooling

#11835 Remove internal description of question rendering from user-facing docs
  docs/course/index.md
  docs/question.md
Labels: documentation

#11840 Fixup widths of examples
  apps/prairielearn/src/news_items/005_fractions_and_input_changes/index.html
  apps/prairielearn/src/news_items/007_markdown_live_preview/index.html
  apps/prairielearn/src/news_items/008_honor_code/index.html
  apps/prairielearn/src/news_items/009_unsaved_changes_warning/index.html
  apps/prairielearn/src/news_items/010_external_grader_invalid_attempts/index.html
  apps/prairielearn/src/news_items/012_python_autograder/index.html
  apps/prairielearn/src/news_items/013_overlay_element/index.html
  apps/prairielearn/src/news_items/014_nested_questions/index.html
  apps/prairielearn/src/news_items/015_dropdown_element/index.html
  apps/prairielearn/src/news_items/016_page_titles/index.html
  apps/prairielearn/src/news_items/018_group_work/index.html
  apps/prairielearn/src/news_items/027_order_block_element/index.html
  apps/prairielearn/src/news_items/029_non_active/index.html
  apps/prairielearn/src/news_items/033_course_permissions/index.html
  apps/prairielearn/src/news_items/034_matching_element/index.html
  apps/prairielearn/src/news_items/035_desktop_workspace/index.html
  apps/prairielearn/src/news_items/041_element_question_writing/index.html
  apps/prairielearn/src/news_items/043_units_element/index.html
  docs/elements.md
  exampleCourse/elements/clickable-image/clickable-image.mustache
  exampleCourse/elements/course-element/course-element.mustache
  exampleCourse/questions/demo/annotated/LectureVelocity/1-Introduction/question.html
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-Intro/workspace/Markov-Chains-1.ipynb
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-PageRank/serverFilesQuestion/Markov-Chains-3.ipynb
  exampleCourse/questions/demo/annotated/MarkovChainGroupActivity/MarkovChains-PageRank/workspace/Markov-Chains-3.ipynb
  exampleCourse/questions/demo/annotated/engCircuit/question.html
  exampleCourse/questions/demo/randomMultipleChoice/question.html
  exampleCourse/questions/demo/randomPlot/question.html
  exampleCourse/questions/element/excalidraw/question.html
  exampleCourse/questions/element/figure/question.html
  exampleCourse/questions/element/matching/question.html
  exampleCourse/questions/element/overlay/question.html
  exampleCourse/questions/template/figure/dynamic/question.html
  exampleCourse/questions/template/multiple-choice/images/question.html
  exampleCourse/questions/workshop/Lesson1_example1_v2/question.html
  testCourse/elements/course-element/course-element.mustache
  testCourse/questions/addVectors/question.html
  testCourse/questions/fossilFuelsRadio/info.json
Labels: documentation, bug-fix

#11844 Label and aria-label accessibility for elements and examples
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.mustache
  apps/prairielearn/elements/pl-dropdown/pl-dropdown.mustache
  apps/prairielearn/elements/pl-dropdown/pl-dropdown.py
  apps/prairielearn/elements/pl-figure/pl-figure.mustache
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.mustache
  apps/prairielearn/elements/pl-matching/pl-matching.mustache
  apps/prairielearn/elements/pl-matching/pl-matching.py
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.mustache
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.mustache
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.py
  apps/prairielearn/elements/pl-number-input/pl-number-input.mustache
  apps/prairielearn/elements/pl-string-input/pl-string-input.mustache
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.mustache
  apps/prairielearn/elements/pl-units-input/pl-units-input.mustache
  docs/elements.md
  exampleCourse/questions/demo/annotated/engLogic/question.html
  exampleCourse/questions/demo/custom/gradeFunction/question.html
  exampleCourse/questions/demo/overlayDropdown/question.html
  exampleCourse/questions/element/dropdown/question.html
  exampleCourse/questions/element/matching/question.html
Labels: documentation, python, accessibility, element

#11855 Partial types for pl-drawing
  apps/prairielearn/elements/pl-drawing/defaults.py
  apps/prairielearn/elements/pl-drawing/elements.py
  apps/prairielearn/elements/pl-drawing/pl-drawing.py
Labels: python, element

#11859 Specialized rendering of pl-rich-text-editor for AI grading
  apps/prairielearn/elements/pl-rich-text-editor/pl-rich-text-editor.py
  apps/prairielearn/python/prairielearn/internal/check_data.py
  apps/prairielearn/python/prairielearn/question_utils.py
  apps/prairielearn/python/test/conftest.py
  apps/prairielearn/python/test/misc_test.py
  apps/prairielearn/src/question-servers/freeform.ts
  apps/prairielearn/src/question-servers/types.ts
Labels: python, element

#11830 Improve question documentation
  apps/prairielearn/python/prairielearn/question_utils.py
  docs/assessment/index.md
  docs/assets/extra.css
  docs/faq.md
  docs/getStarted.md
  docs/index.md
  docs/manualGrading/index.md
  docs/oldQuestion.md
  docs/question/example-question.png
  docs/question/index.md
  docs/question/lifecycle.d2
  docs/question/panels.png
  docs/question/server.md
  docs/question/template.md
  docs/scripts/d2_svg_file.py
  docs/workspaces/index.md
Labels: enhancement, documentation, python

#11829 Rewrite question configuration docs
  apps/prairielearn/python/prairielearn/question_utils.py
  docs/assessment/index.md
  docs/assets/extra.css
  docs/clientServerFiles.md
  docs/concepts/index.md
  docs/course/index.md
  docs/elements.md
  docs/faq.md
  docs/getStarted.md
  docs/index.md
  docs/instructor-guide/index.md
  docs/manualGrading/index.md
  docs/oldQuestion.md
  docs/python-reference/index.md
  docs/question.md
  docs/question/example-question.png
  docs/question/index.md
  docs/question/lifecycle.d2
  docs/question/panels.png
  docs/question/server.md
  docs/question/template.md
  docs/scripts/d2_svg_file.py
  docs/workspaces/index.md
  mkdocs.yml
Labels: documentation, python

#11857 Support aria-only labels
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.mustache
  apps/prairielearn/elements/pl-big-o-input/pl-big-o-input.py
  apps/prairielearn/elements/pl-dropdown/pl-dropdown.py
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.mustache
  apps/prairielearn/elements/pl-integer-input/pl-integer-input.py
  apps/prairielearn/elements/pl-matrix-component-input/pl-matrix-component-input.py
  apps/prairielearn/elements/pl-matrix-input/pl-matrix-input.mustache
  apps/prairielearn/elements/pl-matrix-input/pl-matrix-input.py
  apps/prairielearn/elements/pl-multiple-choice/pl-multiple-choice.py
  apps/prairielearn/elements/pl-number-input/pl-number-input.mustache
  apps/prairielearn/elements/pl-number-input/pl-number-input.py
  apps/prairielearn/elements/pl-string-input/pl-string-input.mustache
  apps/prairielearn/elements/pl-string-input/pl-string-input.py
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.mustache
  apps/prairielearn/elements/pl-symbolic-input/pl-symbolic-input.py
  apps/prairielearn/elements/pl-units-input/pl-units-input.mustache
  apps/prairielearn/elements/pl-units-input/pl-units-input.py
  docs/elements.md
  exampleCourse/questions/demo/annotated/engBeamStress/question.html
  exampleCourse/questions/demo/annotated/engLogic/question.html
  exampleCourse/questions/demo/custom/gradeFunction/question.html
  exampleCourse/questions/demo/drawing/resistorCapacitorCircuit/question.html
  exampleCourse/questions/demo/overlayDropdown/question.html
  exampleCourse/questions/demo/overlayMap/question.html
  exampleCourse/questions/demo/overlayTriangle/question.html
  exampleCourse/questions/element/codeDocumentation/question.html
  exampleCourse/questions/element/dropdown/question.html
  exampleCourse/questions/element/integerInput/question.html
  exampleCourse/questions/element/numberInput/question.html
  exampleCourse/questions/element/overlay/question.html
  exampleCourse/questions/element/stringInput/question.html
  exampleCourse/questions/element/symbolicInput/question.html
  exampleCourse/questions/element/unitsInput/question.html
  exampleCourse/questions/workshop/Lesson3_example2_v3/question.html
  exampleCourse/questions/workshop/Lesson3_example4_v2/question.html
  exampleCourse/questions/workshop/Lesson4_example2/question.html
Labels: documentation, python, element
