Repository PrairieLearn/PrairieLearn, pull requests merged in 2025-02, with the labels that each got.

#11030 Add batch deletion of questions to drafts UI
  apps/prairielearn/src/api/trpc/routers/course-files/batchDeleteQuestions.sql
  apps/prairielearn/src/api/trpc/routers/course-files/batchDeleteQuestions.ts
  apps/prairielearn/src/api/trpc/routers/course-files/index.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.sql
  apps/prairielearn/src/ee/pages/instructorAiGenerateDrafts/instructorAiGenerateDrafts.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/pages/instructorQuestionSettings/instructorQuestionSettings.ts
Labels: feature: AI question generation

#11035 Draft questions: manual edits, reverting to version
  apps/prairielearn/assets/scripts/instructorAiGenerateDraftEditorClient.ts
  apps/prairielearn/assets/stylesheets/instructorAiGenerateDraftEditor.css
  apps/prairielearn/src/api/trpc/routers/course-files/updateQuestionFiles.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.html.ts
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.sql
  apps/prairielearn/src/ee/pages/instructorAiGenerateDraftEditor/instructorAiGenerateDraftEditor.ts
  apps/prairielearn/src/lib/db-types.ts
  apps/prairielearn/src/lib/editors.ts
  apps/prairielearn/src/migrations/20241217215954_manual_draft_edits.sql
  database/enums/enum_ai_question_generation_prompt_type.pg
Labels: feature: AI question generation

#11338 Add NOT NULL constraints for tags/topics/modules
  apps/prairielearn/src/migrations/20250210225102_tags__not_null_constraints__add.sql
  apps/prairielearn/src/migrations/20250210225433_topics__not_null_constraints__add.sql
  apps/prairielearn/src/migrations/20250211000848_assessment_modules__heading__nonnull.sql
  database/tables/assessment_modules.pg
  database/tables/tags.pg
  database/tables/topics.pg
Labels: do not merge

#11216 Add some basic library documentation
  apps/prairielearn/python/prairielearn/core.py
  apps/prairielearn/python/prairielearn/internal/__init__.py
  apps/prairielearn/python/prairielearn/sympy_utils.py
  apps/prairielearn/python/prairielearn/unicode_utils.py
  docs/assets/extra.css
  docs/mkdocstrings/python/material/function.html.jinja
  docs/python-reference/index.md
  docs/python-reference/prairielearn/core.md
  docs/python-reference/prairielearn/sympy_utils.md
  docs/requirements.txt
  docs/scripts/gen_python_nav.py
  mkdocs.yml
  pyproject.toml
Labels: documentation

#11379 markdownlint: Apply more rules
  .markdownlint.yml
  docs/api.md
  docs/dev-guide/index.md
  docs/elements.md
  docs/getStarted.md
  docs/installing.md
  docs/lmsIntegrationInstructor.md
  docs/lti13.md
  docs/pl-drawing/index.md
  docs/questionRuntime/index.md
  docs/requestCourse/index.md
  docs/saml.md
  docs/workshop/lesson1.md
  docs/workshop/lesson3.md
  docs/workshop/lesson4.md
  docs/workshop/lesson5.md
Labels: chore

#11392 AI Question Generation: Additional checks, instructions. Also allow for multiple regeneration attempts
  apps/prairielearn/src/ee/lib/aiQuestionGeneration.ts
  apps/prairielearn/src/ee/lib/validateHTML.ts
Labels: feature: AI question generation

#11386 Add focus indicators to buttons
  apps/prairielearn/public/stylesheets/local.css
  apps/prairielearn/src/components/Navbar.html.ts
Labels: accessibility

#11150 Update LTI 1.3 course linking interface
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.html.ts
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.sql
  apps/prairielearn/src/ee/pages/lti13CourseNavigation/lti13CourseNavigation.ts
  apps/prairielearn/src/models/course-instances.sql
  apps/prairielearn/src/models/course-instances.ts
Labels: feature: LTI 1.3

#11280 Add FAQ about reading Download CSVs
  docs/faq.md
Labels: documentation

#11423 docs: Add note about compiled files
  docs/questionRuntime/index.md
Labels: documentation
