Repository PrairieLearn/PrairieLearn, changes with the owners that CODEOWNERS names for each.
All owners: @eliotwrobson, @coatless, @tdy, @nicknytko, @SethPoulsen, @jonatanschroeder

CODEOWNERS:

/elements/pl-big-o-input @eliotwrobson
/elements/pl-card @coatless @tdy
/elements/pl-dataframe @coatless @eliotwrobson
/elements/pl-external-grader-variables @nicknytko @eliotwrobson
/elements/pl-graph @nicknytko @eliotwrobson
/elements/pl-hidden-hints @eliotwrobson
/elements/pl-order-blocks @SethPoulsen
/elements/pl-python-variable @nicknytko @eliotwrobson
/elements/pl-rich-text-editor @jonatanschroeder
/elements/pl-units-input @eliotwrobson

/graders/c @jonatanschroeder
/graders/java @jonatanschroeder

Dedupe
  yarn.lock
Owners: none

Tweaks
  tests/accessibility/index.test.js
Owners: none

Remove unused code
  tests/accessibility/index.test.js
Owners: none

Remove mockup HTML files
  docs/mockupEditDirectory.html
  docs/mockupEditFile.html
Owners: none

adding cheatdetectionPair to pages directory doesn't seem to solve issue
  pages/instructorAssessmentCheatDetectionPair/instructorAssessmentCheatDetectionPair.js
Owners: none

Added markdown
  elements/pl-template/pl-template.py
Owners: none

fixed markdown
  elements/pl-template/pl-template.py
Owners: none

Added line number display
  elements/pl-code/pl-code.py
  exampleCourse/questions/element/code/question.html
Owners: none

Added docs
  docs/elements.md
Owners: none

docs
  docs/elements.md
Owners: none

Hiding warnings
  docs/elements.md
  elements/pl-graph/pl-graph.py
Owners: @nicknytko, @eliotwrobson

workspace changes
  exampleCourse/questions/demo/workspace/rstudio/info.json
  exampleCourse/questions/demo/workspace/rstudio/question.html
  exampleCourse/questions/demo/workspace/rstudio/workspace/student.R
Owners: none

C Grader: fix handling of questions using Check without ASAN
  graders/c/cgrader/check.h
Owners: @jonatanschroeder

Hide the full ASAN hooks if asan is not available (prevent misuse of pl_setup_asan_hooks)
  graders/c/cgrader/check.h
Owners: @jonatanschroeder

C Grader: fix handling of questions using Check without ASAN (#7369)
  graders/c/cgrader/check.h
Owners: @jonatanschroeder

Fix a modal label
  pages/instructorAssessmentInstances/instructorAssessmentInstances.ejs
Owners: none

WIP to find slow page tests
  tests/accessibility/index.test.js
Owners: none

comments
  docs/elements.md
  elements/pl-graph/pl-graph.py
Owners: @nicknytko, @eliotwrobson

typo
  elements/pl-graph/pl-graph.py
Owners: @nicknytko, @eliotwrobson

Added tests
  elements/pl-code/code_utils.py
  elements/pl-code/code_utils_test.py
  elements/pl-code/pl-code.py
Owners: none

colors
  elements/pl-code/code_utils.py
  elements/pl-code/pl-code.py
  pyproject.toml
  python/colors.py
Owners: none

typing
  python/colors.py
Owners: none

WIP request metrics
  server.js
Owners: none

Use FOR NO KEY UPDATE instead of FOR UPDATE
  lib/assessment.sql
  lib/workspace.sql
  sprocs/assessment_groups_add_member.sql
  sprocs/assessment_groups_delete_group.sql
  sprocs/assessment_groups_delete_member.sql
  sprocs/assessment_instances_lock.sql
  sprocs/courses_update_column.sql
  sprocs/grading_jobs_lock.sql
  sprocs/group_users_insert.sql
  sprocs/instance_questions_lock.sql
  sprocs/submissions_lock.sql
  sprocs/variants_lock.sql
Owners: none

Update docs/elements.md
  docs/elements.md
Owners: none

format
  docs/elements.md
Owners: none

better warnings
  docs/elements.md
  elements/pl-template/pl-template.py
Owners: none

change variable name
  elements/pl-template/pl-template.py
Owners: none

Don't start nested transactions in runInTransactionAsync
  .changeset/breezy-fishes-act.md
  packages/postgres/src/pool.ts
Owners: none

feat: `pl-graph` show warnings flag (#7367)
  docs/elements.md
  elements/pl-graph/pl-graph.py
Owners: @nicknytko, @eliotwrobson

Split out more code into packages (#7207)
  cron/workspaceTimeoutStop.js
  cron/workspaceTimeoutWarn.js
  lib/editors.js
  lib/externalGraderCommon.js
  lib/instructorFiles.js
  lib/question.js
  lib/workspace.js
  package.json
  packages/path-utils/package.json
  packages/path-utils/src/index.test.ts
  packages/path-utils/src/index.ts
  packages/path-utils/tsconfig.json
  packages/workspace-utils/package.json
  packages/workspace-utils/src/index.sql
  packages/workspace-utils/src/index.ts
  packages/workspace-utils/tsconfig.json
  pages/instructorFileBrowser/instructorFileBrowser.js
  pages/instructorFileEditor/instructorFileEditor.js
  pages/workspace/workspace.js
  workspace_host/interface.js
  yarn.lock
Owners: none

Add batchSize option to stringifyNonblocking
  packages/csv/src/index.ts
Owners: none

Update packages/postgres/src/pool.ts
  packages/postgres/src/pool.ts
Owners: none

Format
  packages/postgres/src/pool.ts
Owners: none

Don't start nested transactions in runInTransactionAsync (#7372)
  .changeset/breezy-fishes-act.md
  packages/postgres/src/pool.ts
Owners: none

Don't version private packages with Changesets
  .changeset/config.json
Owners: none

Don't version private packages with Changesets (#7374)
  .changeset/config.json
Owners: none

Use FOR NO KEY UPDATE instead of FOR UPDATE (#7371)
  lib/assessment.sql
  lib/workspace.sql
  sprocs/assessment_groups_add_member.sql
  sprocs/assessment_groups_delete_group.sql
  sprocs/assessment_groups_delete_member.sql
  sprocs/assessment_instances_lock.sql
  sprocs/courses_update_column.sql
  sprocs/grading_jobs_lock.sql
  sprocs/group_users_insert.sql
  sprocs/instance_questions_lock.sql
  sprocs/submissions_lock.sql
  sprocs/variants_lock.sql
Owners: none

WIP test utils
  packages/postgres/src/index.ts
  packages/postgres/src/test-utils.ts
  tests/helperDb.js
Owners: none

Timeout
  tests/helperDb.js
  tests/sync/questionsSync.test.js
Owners: none
